Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

docs: 更新環境架構文件與新增 Migration 鐵則
  CLAUDE.md
  docs/DEVELOP_ENVIRONMENT_PLAN.md
Due: none

fix(api): restore missing GET /classrooms/{id}/students endpoint
  backend/routers/teachers/classroom_ops.py
Due: check-import-patterns

fix(api): restore missing POST /generate-sentences endpoint
  backend/routers/teachers/translation_ops.py
  backend/routers/teachers/validators.py
Due: check-import-patterns

fix(api): add missing 'text' import in content_ops.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(api): restore missing translate-with-pos endpoints
  backend/routers/teachers/translation_ops.py
Due: check-import-patterns

fix(api): restore missing POST /upload/image endpoint
  backend/routers/teachers/upload_ops.py
Due: check-import-patterns

fix(api): fix 307 redirect on GET /assignments endpoint
  backend/routers/assignments/crud.py
Due: check-import-patterns

fix(api): fix assignments list 307 redirect issue
  backend/routers/assignments/crud.py
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript, check-import-patterns

fix(api): add content_type and practice_mode to assignments list
  backend/routers/assignments/crud.py
Due: check-import-patterns

fix(api): add missing ContentType import in assignment_ops.py
  backend/routers/teachers/assignment_ops.py
Due: check-import-patterns

fix(api): add practice_mode and content_type to assignment detail API
  backend/routers/assignments/detail.py
Due: check-import-patterns

fix(migration): Add missing teacher_schools table
  backend/alembic/versions/20260119_1400_create_teacher_schools_table.py
Due: check-import-patterns

fix(migration): Correct revision ID format to use hex characters
  backend/alembic/versions/20260119_1400_create_teacher_schools_table.py
Due: check-import-patterns

fix(migration): Add fix migration to correct alembic_version table
  backend/alembic/versions/20260119_1400_create_teacher_schools_table.py
  backend/alembic/versions/20260119_1401_fix_revision_id.py
Due: check-import-patterns

fix(migration): Add placeholder for invalid revision ID
  backend/alembic/versions/20260119_1359_placeholder_for_invalid_revision.py
Due: check-import-patterns

fix(migration): Let Alembic handle alembic_version table updates
  backend/alembic/versions/20260119_1401_fix_revision_id.py
Due: check-import-patterns

fix(seed): Create TeacherSchool records for owner in demo data
  backend/seed_demo_data.py
Due: check-import-patterns

fix(database): Revert migrations, add TeacherSchool seed data, document migration rules
  CLAUDE.md
  backend/TESTING-QUICK-REFERENCE.md
  backend/alembic/versions/20260119_1359_placeholder_for_invalid_revision.py
  backend/alembic/versions/20260119_1400_create_teacher_schools_table.py
  backend/alembic/versions/20260119_1401_fix_revision_id.py
  docs/TEST_ACCOUNTS.md
Due: check-import-patterns

docs: update seed_demo_data comment
  backend/seed_demo_data.py
Due: check-import-patterns

fix(content): Fix content update API and improve editor UX
  backend/routers/teachers/content_ops.py
  backend/services/program_service.py
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript, check-import-patterns

fix: Add error handling and improve type safety
  backend/routers/teachers/content_ops.py
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

fix(permissions): Use JSONB ? operator for school_admin role check
  TODO.md
  backend/utils/permissions.py
Due: check-import-patterns

style: fix Black formatting issues
  backend/alembic/versions/20260119_0431_90cf26cf8ade_merge_staging_develop_migrations.py
  backend/models/progress.py
  backend/routers/assignments/validators.py
  backend/routers/students/assignments.py
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/program_ops.py
  backend/services/translation.py
Due: check-import-patterns

fix(ui): fix ProgramTreeView state sync and dialog close issues
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

fix(lint): resolve Flake8 errors
  backend/routers/students/assignments.py
  backend/routers/teachers/assignment_ops.py
  backend/services/translation.py
Due: check-import-patterns

feat: make classroom teacher_id nullable for school admin creation
  backend/alembic/versions/20260119_2237_84e62a916eea_make_classroom_teacher_id_nullable.py
  backend/models/classroom.py
Due: check-import-patterns

fix: add null-safety guards for classroom.teacher_id
  backend/NULL_SAFETY_FIXES_SUMMARY.md
  backend/alembic/versions/20260119_2237_84e62a916eea_make_classroom_teacher_id_nullable.py
  backend/routers/organization_programs.py
  backend/routers/programs.py
  backend/routers/school_programs.py
Due: check-import-patterns

fix(migration): remove duplicate merge migration
  backend/alembic/versions/20260119_0431_90cf26cf8ade_merge_staging_develop_migrations.py
Due: check-import-patterns

feat: implement school classroom CRUD API and frontend integration
  backend/routers/classroom_schools.py
  backend/routers/schemas/__init__.py
  backend/routers/schemas/classroom.py
  backend/tests/test_classroom_workflow.py
  backend/tests/test_school_classrooms_api.py
  backend/utils/permissions.py
  docs/plans/2026-01-19-school-classroom-crud.md
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/components/organization/ClassroomListTable.tsx
  frontend/src/components/organization/CreateClassroomDialog.tsx
  frontend/src/components/organization/EditClassroomDialog.tsx
  frontend/src/components/organization/TeacherListTable.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/routes/organizationRoutes.tsx
  frontend/src/utils/errorLogger.ts
Due: typescript, check-import-patterns

feat: add school teachers management page and update gitignore
  .gitignore
  frontend/src/pages/organization/SchoolTeachersPage.tsx
Due: typescript

refactor: replace print() with logger.error() for production logging
  backend/routers/teachers.py
  backend/routers/teachers/translation_ops.py
Due: check-import-patterns

refactor: replace print() with proper logging in services
  backend/services/image_upload.py
  backend/services/translation.py
Due: check-import-patterns

refactor: remove console.log from production frontend code
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

style: apply Black formatting to backend services
  backend/services/image_upload.py
  backend/services/translation.py
Due: check-import-patterns

fix(ci): handle orphaned alembic revisions in migrations
  .github/workflows/deploy-backend.yml
Due: none

Merge develop → staging: Vocabulary Set Phase 2 + CI/CD 修復 (#167)
  .github/workflows/deploy-backend.yml
Due: none

fix(db): merge orphaned alembic revision to restore image_url migration
  backend/alembic/versions/20260120_0802_merge_orphaned_teacher_boolean_fix.py
Due: check-import-patterns

fix(db): merge orphaned alembic revision to restore image_url migration (#168)
  backend/alembic/versions/20260120_0802_merge_orphaned_teacher_boolean_fix.py
Due: check-import-patterns
