Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

feat: Complete ContentItem migration with comprehensive testing
  backend/MIGRATION_COMPLETION_SUMMARY.md
  backend/alembic/versions/20250917_1215_8097cc06f349_initial_schema_with_content_items_.py
  backend/backend/test_navigation_functionality.py
  backend/routers/students.py
  backend/scripts/migrate_content_to_items.py
  backend/test_original_bugs_fixed.py
  backend/test_upload_functionality.py
  backend/tests/integration/test_content_migration_contract.py
  backend/tests/unit/test_content_item_model.py
  backend/tests/unit/test_new_models_basic.py
  backend/tests/unit/test_student_item_progress_model.py
Due: black, flake8, check-migration-format

chore: 清理 backend 目錄結構
  backend/backend/test_navigation_functionality.py
  backend/debug_ai_scores.py
  backend/test_hello.aiff
  backend/test_hello.wav
  backend/tests/scripts/test_original_bugs_fixed.py
  backend/tests/scripts/test_upload_functionality.py
Due: black, flake8

feat: 完善資料庫重建功能與 ContentItem 自動建立
  backend/alembic/env.py
  backend/alembic/versions/20250917_1215_8097cc06f349_initial_schema_with_content_items_.py
  backend/alembic/versions/20250917_1448_9d101dfda9b7_initial_schema.py
  backend/manual_test_guide.md
  backend/reset_db.py
  backend/routers/admin.py
  backend/scripts/populate_content_items.py
  backend/seed_data.py
  backend/test_navigation_fixed.py
Due: black, flake8, check-migration-format

fix: 移除 StudentAssignment.content_id 欄位並簡化錄音上傳 API
  backend/alembic/versions/20250917_1448_9d101dfda9b7_initial_schema.py
  backend/models.py
  backend/routers/students.py
  backend/test_navigation_fixed.py
  backend/tests/integration/api/test_complete_assignment_flow.py
  backend/tests/integration/api/test_end_to_end_assignment_flow.py
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

fix: 修復 flake8 linting 錯誤並清理未使用的檔案
  backend/reset_db.py
  backend/scripts/migrate_content_to_items.py
  backend/scripts/populate_content_items.py
  backend/seed_data.py
  backend/tests/integration/api/test_ai_score_array_fix_simple.py
  backend/tests/integration/api/test_end_to_end_assignment_flow.py
Due: black, flake8

fix: 修復學生 dashboard Failed to fetch 錯誤
  backend/routers/students.py
Due: black, flake8

refactor: 完全移除 Content.items JSONB，改用 ContentItem 表
  backend/alembic/versions/20250917_2226_9bcef7f7ebe3_remove_content_items_jsonb_column.py
  backend/models.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/tests/integration/api/test_content_item_only.py
Due: black, flake8, check-migration-format

refactor: 整合 Alembic migrations 成單一初始 migration
  backend/alembic/versions/20250917_1448_9d101dfda9b7_initial_schema.py
  backend/alembic/versions/20250917_2226_9bcef7f7ebe3_remove_content_items_jsonb_column.py
  backend/alembic/versions/20250917_2235_a1b2c3d4e5f6_initial_complete_schema.py
Due: black, flake8, check-migration-format

fix: 修正 seed_data.py 移除 Content.items 使用
  backend/seed_data.py
Due: black, flake8

fix: 修復雙語翻譯英文釋義保存丟失問題
  backend/routers/teachers.py
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 更新 seed data 和 API 以支援 ContentItem 模型
  backend/routers/assignments.py
  backend/routers/students.py
  backend/seed_data.py
Due: black, flake8

feat: 實現程序模板管理系統
  backend/routers/programs.py
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 增強語音評估功能和學生活動介面
  backend/routers/speech_assessment.py
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 介面和API小幅改進
  frontend/src/App.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/admin/DatabaseAdminPage.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復AI評估失敗 - StudentItemProgress ID不匹配問題
  backend/routers/speech_assessment.py
  backend/routers/students.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復作業提交後跳轉錯誤和401認證問題
  frontend/src/lib/api.ts
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/services/api.ts
Due: eslint, typescript, prevent-hardcoded-urls

feat: 支援檢視已提交作業內容（唯讀模式）
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修正返回作業按鈕導航到正確的detail頁面
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復已提交作業檢視功能
  backend/routers/students.py
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 實現已提交作業的唯讀檢視模式
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 AI 評估失敗問題並增強退回作業的教師評語顯示
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 實現活動模板的完整唯讀模式功能
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/SpeakingPracticeTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 CI/CD API 測試失敗問題
  frontend/src/lib/__tests__/api.comprehensive.test.ts
  frontend/test_readonly_api.py
Due: eslint, typescript, prevent-hardcoded-urls

fix: 移除錯置的 Python 測試檔案
  frontend/test_readonly_api.py
Due: none

fix: 修復所有 backend 測試檔案的 flake8 錯誤
  backend/tests/integration/api/test_content_item_only.py
  backend/tests/integration/test_content_migration_contract.py
  backend/tests/scripts/test_original_bugs_fixed.py
  backend/tests/scripts/test_upload_functionality.py
  backend/tests/unit/test_audio_upload.py
  backend/tests/unit/test_content_item_model.py
  backend/tests/unit/test_new_models_basic.py
  backend/tests/unit/test_services_coverage.py
  backend/tests/unit/test_student_item_progress_model.py
  backend/tests/unit/test_teacher_grading_multi_questions.py
Due: black, flake8

feat: 新增 autoflake 到 pre-commit hooks
  .pre-commit-config.yaml
  backend/requirements-dev.txt
Due: none

feat: 在資料庫管理頁面新增 student_item_progress 和 content_item 表格顯示
  frontend/src/pages/admin/DatabaseAdminPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

refactor: 移除單一學生評分頁面，改用批次評分
  frontend/src/App.tsx
  frontend/src/pages/teacher/StudentGradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 整合 AI 評分顯示至教師批改頁面
  backend/routers/assignments.py
  backend/routers/speech_assessment.py
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/pages/teacher/GradingPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 新增可重複使用的錄音元件並整合至教師批改頁面
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 為批改頁面音訊錄製元件加入唯讀模式
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修正批改頁面音訊播放元件使用方式
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 新增使用者條款頁面
  frontend/src/App.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/TermsOfService.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 改善音訊播放元件並修復批改頁面顯示
  frontend/src/components/GradingModal.tsx
  frontend/src/components/shared/AudioPlayer.tsx
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 Artifact Registry 清理腳本並重建 repository
  .github/workflows/cleanup-resources.yml
Due: none

fix: 統一 AI 評分顯示並實現組件共用
  backend/routers/assignments.py
  backend/routers/students.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 更新 GitHub Actions 工作流程，移除廢棄的 fail_on_error 參數
  .github/workflows/deploy-staging-supabase.yml
Due: none
