Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: 在 production build 前強制清除所有 Docker cache
  .github/workflows/deploy-frontend.yml
Due: none

fix: 修正 CI/CD Service Names，使用 GitHub Secrets 管理
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Due: none

fix: 根據 ENABLE_PAYMENT 環境變數動態控制訂閱選單顯示
  backend/routers/public.py
  frontend/src/components/TeacherLayout.tsx
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

feat: 優化批改頁面音頻播放器與評語格式
  frontend/src/components/shared/AudioPlayer.tsx
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

feat: 優化批改頁面分數評定介面
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript

fix: 修復批改頁面「檢查錄音」無法儲存的問題
  backend/routers/assignments.py
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

chore: 移除批改頁面 debug 日誌
  backend/routers/assignments.py
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

feat: 優化批改頁面自動儲存策略
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript

feat: 優化批改頁面 RWD 與 Tab 導航
  backend/routers/assignments.py
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

fix: 修正批改頁面桌機版操作按鈕位置
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript

feat: 加入 BigQuery 音檔錯誤記錄系統
  backend/main.py
  backend/requirements.txt
  backend/routes/logs.py
  backend/services/bigquery_logger.py
  frontend/bigquery_schema.json
  frontend/src/components/shared/AudioPlayer.tsx
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/utils/audioErrorLogger.ts
  frontend/src/utils/deviceDetector.ts
Due: typescript, check-import-patterns

feat: 加強錄音驗證與 BigQuery 錯誤記錄
  backend/routers/students.py
  backend/services/audio_upload.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/utils/audioErrorLogger.ts
Due: typescript, check-import-patterns

feat: 跨瀏覽器錄音相容性 + TODO 標記重構需求
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix: 修改批改頁面「檢查錄音」與「AI 建議」邏輯
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript

fix: 修復 pre-commit hooks 檢查錯誤
  backend/routes/logs.py
  backend/services/audio_upload.py
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/utils/audioErrorLogger.ts
  frontend/src/utils/deviceDetector.ts
Due: typescript, check-import-patterns

fix: BigQuery 延遲初始化修復 Cloud Run 部署失敗
  backend/services/bigquery_logger.py
Due: check-import-patterns

fix: Dockerfile 缺少 routes 目錄導致部署失敗
  backend/Dockerfile
Due: none

feat: 完整重構公版課程拖曳排序功能並遷移至 @dnd-kit
  backend/routers/teachers.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/shared/programTreeConfig.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

fix: 修正公版課程 API endpoint 與排序邏輯
  backend/models.py
  backend/routers/programs.py
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

refactor: 移除 Content Editor 中的 LEVEL、標籤、公開內容欄位
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
