Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix(#227): unify points threshold and add classroom org scope check
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
Due: check-import-patterns

fix(#227): use UTC timestamps and canonical deep copy helper
  backend/routers/programs.py
  backend/routers/school_programs.py
Due: check-import-patterns

fix(#227): add UUID validation for organization_id query param
  backend/routers/teachers/subscription_ops.py
Due: check-import-patterns

fix(#227): fix copy limit scope and filter inactive lessons/contents
  backend/routers/organization_programs.py
Due: check-import-patterns

feat(#227): 配額管理與錄音自動上傳/分析 (#292)
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/routers/admin.py
  backend/routers/assignments/crud.py
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
  backend/routers/programs.py
  backend/routers/school_programs.py
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/subscription_ops.py
  backend/routers/teachers/validators.py
  backend/services/program_service.py
  backend/services/quota_service.py
  frontend/package-lock.json
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CopyProgramDialog.tsx
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/pages/teacher/TeacherProfile.tsx
Due: typescript, check-import-patterns

style(#227): fix Black and Prettier formatting on staging
  backend/routers/admin.py
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
  backend/services/quota_service.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/TeacherProfile.tsx
Due: typescript, check-import-patterns

fix(ci): use custom delimiter for --set-env-vars to handle commas in values
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): use ~ delimiter for --set-env-vars to avoid @ in DATABASE_URL
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): use ~ delimiter for --set-env-vars to avoid @ in DATABASE_URL (#307)
  .github/workflows/deploy-backend.yml
Due: none

chore: disable daily email notifications and make error report error-only
  .github/workflows/maintenance-cloud-scheduler.yml
  .github/workflows/monitor-daily-billing.yml
  backend/routers/cron.py
Due: check-import-patterns

fix(ci): split backend tests, remove || echo, use pooler URL (#311)
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-vm-prod.yml
Due: none

fix(ci): split backend tests, remove || echo, use pooler URL (#311) (#315)
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-vm-prod.yml
Due: none

fix(ci): add continue-on-error to unit tests until #314 is resolved
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-vm-prod.yml
Due: none

fix(ci): add continue-on-error to integration tests, remove -n auto
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): move migration check to PR stage with local PostgreSQL
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): fix migration chain for fresh DB + make check resilient
  .github/workflows/deploy-backend.yml
  backend/alembic/versions/20260125_1200_ae8fd7c7cc74_add_organization_features.py
Due: check-import-patterns

fix(ci): make migration check non-blocking until legacy diffs are cleaned
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): split migration steps so broken migrations fail fast
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): move migration check to PR stage with local PostgreSQL (#320)
  .github/workflows/deploy-backend.yml
  backend/alembic/versions/20260125_1200_ae8fd7c7cc74_add_organization_features.py
Due: check-import-patterns

fix(ci): scope Claude Code Review to PR diff only (#319)
  .github/workflows/automation-claude-review.yml
Due: none

fix(ci): scope Claude Code Review to PR diff only (#319) (#321)
  .github/workflows/automation-claude-review.yml
Due: none

fix(#303): disable AI distractor generation, use word set translations instead
  backend/routers/demo.py
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

feat(#297): redesign TeacherSubscription page with new 3-tab layout
  backend/seed_data/stage_01_users.py
  frontend/src/components/SubscriptionProgressBanner.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/components/pricing/PointPackageCard.tsx
  frontend/src/components/pricing/SubscriptionPlanCard.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(#297): redesign TeacherSubscription page with new 3-tab layout (#324)
  backend/seed_data/stage_01_users.py
  frontend/src/components/SubscriptionProgressBanner.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/components/pricing/PointPackageCard.tsx
  frontend/src/components/pricing/SubscriptionPlanCard.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(#293): add pagination to student assignment list
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

feat(#293): student UI redesign with notebook/crayon theme
  backend/routers/students/assignments.py
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/index.css
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/student/StudentProfile.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

feat: add /fix-review skill for auto-fixing PR review feedback
  .claude/skills/fix-review/SKILL.md
  CLAUDE.md
Due: none

style: fix Black formatting for assignments.py
  backend/routers/students/assignments.py
Due: check-import-patterns

feat(#286): redesign PricingPage UI with shared components and full i18n
  frontend/src/components/TeacherRegisterSheet.tsx
  frontend/src/components/pricing/PricingFAQ.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
Due: typescript

feat: add /fix-review skill for auto-fixing PR review feedback (#329)
  .claude/skills/fix-review/SKILL.md
  CLAUDE.md
Due: none

fix(#303): add fallback distractors for legacy small word sets
  backend/routers/demo.py
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
Due: check-import-patterns

fix(#286): address Claude Code Review feedback
  frontend/src/components/TeacherRegisterSheet.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
Due: typescript

fix(#293): address PR #323 review feedback
  backend/routers/students/assignments.py
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
Due: check-import-patterns

fix(#303): correct fallback distractor labels to always start from A
  backend/routers/demo.py
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
Due: check-import-patterns

fix(#286): format unitCost display, use _ prefix for unused param
  frontend/src/components/pricing/PointPackageCard.tsx
  frontend/src/pages/PricingPage.tsx
Due: typescript

fix(#293): address round-3 review warnings
  backend/routers/students/assignments.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript, check-import-patterns

fix(#303): 單字選擇干擾項改用單字集翻譯 (#325)
  backend/routers/demo.py
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

fix(#286): address round 3 review - useMemo, apiClient, FAQ keys
  frontend/src/components/pricing/PricingFAQ.tsx
  frontend/src/pages/PricingPage.tsx
Due: typescript

feat(#293): 學生端作業排序及樣式優化 (#323)
  backend/routers/students/assignments.py
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/index.css
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/student/StudentProfile.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

fix(#286): add timezone import, fix error handling, memoize plans
  backend/routers/teachers/subscription_ops.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
