Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

chore: Remove incomplete test file and update Casbin policy
  backend/config/casbin_policy.csv
  backend/tests/integration/api/test_classroom_school_api.py
Due: check-import-patterns

style: Fix linting and formatting issues
  backend/alembic/versions/20251127_0047_5106b545b6d2_add_organization_hierarchy_tables.py
  backend/models.py
  backend/routers/classroom_schools.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/services/casbin_service.py
  backend/services/permission_decorators.py
  backend/tests/integration/api/test_organization_api.py
  backend/tests/integration/api/test_school_api.py
  backend/tests/integration/api/test_teacher_relations_api.py
  backend/tests/test_casbin_integration.py
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript, check-import-patterns

fix: Resolve all flake8 linting errors
  backend/routers/classroom_schools.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/tests/integration/api/test_school_api.py
  backend/tests/test_casbin_integration.py
Due: check-import-patterns

feat: Integrate organization hierarchy into seed data
  backend/seed_data.py
Due: check-import-patterns

fix: Improve test infrastructure and seed data integration
  backend/config/casbin_policy.csv
  backend/docs/TEST_FAILURE_ANALYSIS.md
  backend/tests/conftest.py
  backend/tests/integration/api/test_organization_api.py
Due: check-import-patterns

docs: Add completion report and manual test script
  backend/docs/ORGANIZATION_HIERARCHY_COMPLETION_REPORT.md
  backend/tests/integration/api/test_organization_api.py
  backend/tests/manual_test_organization_hierarchy.py
Due: check-import-patterns

test: Add comprehensive scenario & edge case tests
  backend/tests/integration/test_organization_hierarchy_scenarios.py
Due: check-import-patterns

feat: Enhance seed data with comprehensive test scenarios
  backend/docs/SEED_DATA_SCENARIOS.md
  backend/seed_data.py
Due: check-import-patterns

chore: Remove obsolete test documentation files
  backend/TEST_REPORT_PAYMENT_ENV_CONTROL.md
  backend/config/casbin_policy.csv
  backend/tests/QUOTA_TESTS_ANALYSIS.md
  backend/tests/QUOTA_TESTS_CLEANUP_REPORT.md
Due: none

fix: Preserve independent teacher scenario in seed data (個體戶模式)
  backend/docs/SEED_DATA_SCENARIOS.md
  backend/seed_data.py
Due: check-import-patterns

test: Add complete organization scenario tests (10 scenarios, 15 passing)
  backend/docs/ORGANIZATION_TEST_SCENARIOS_MATRIX.md
  backend/tests/e2e/test_complete_organization_scenarios.py
Due: check-import-patterns

feat: Add organization test accounts to seed data
  backend/seed_data.py
Due: check-import-patterns

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#50)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: 新增 Claude Code GitHub Automation 與建議回覆功能
  .github/workflows/CLAUDE_AUTOMATION_GUIDE.md
  .github/workflows/claude-code-automation.yml
Due: none

feat: 新增 Claude Code GitHub Automation 與建議回覆功能
  backend/.github/workflows/CLAUDE_AUTOMATION_GUIDE.md
  backend/.github/workflows/claude-code-automation.yml
Due: none

chore: 刪除測試 workflow 檔案 test-issue-branch.yml
  .github/workflows/test-issue-branch.yml
Due: none

chore: 刪除測試 workflow 檔案 test-per-issue.yml
  .github/workflows/test-per-issue.yml
Due: none

chore: 刪除測試 workflow 檔案 per-issue-test2.yml
  .github/workflows/per-issue-test2.yml
Due: none

fix: 移動 Claude workflow 檔案到正確位置 (.github/workflows/)
  .github/workflows/CLAUDE_AUTOMATION_GUIDE.md
  .github/workflows/claude-code-automation.yml
Due: none

refactor: migrate all components to use Zustand auth stores
  backend/routers/classroom_schools.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/seed_data.py
  backend/tests/e2e/test_complete_organization_scenarios.py
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/admin/TestRecordingPanel.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/components/sidebar/SidebarGroup.tsx
  frontend/src/components/sidebar/SidebarItem.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/lib/api.ts
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
  frontend/src/services/analyticsService.ts
  frontend/src/types/sidebar.ts
  frontend/vite.config.ts
Due: typescript, check-import-patterns

feat: Add organization management hub with performance optimizations
  backend/add_complete_org_structure.py
  backend/add_organizations.py
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  backend/seed_data.py.backup
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/components/sidebar/SidebarGroup.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/contexts/OrganizationContext.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
  frontend/src/stores/teacherAuthStore.ts
  frontend/vite.config.ts
Due: typescript, check-import-patterns

chore: fix linting and formatting issues
  .claude/commands/restart-server.md
  backend/add_complete_org_structure.py
  backend/add_organizations.py
  backend/routers/schools.py
  backend/routers/teachers.py
  backend/seed_data.py
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/pages/teacher/OrganizationHub_old.tsx
  frontend/tests/e2e/organization-hub-rwd.spec.ts
Due: typescript, check-import-patterns

fix: resolve pre-push hook errors
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/contexts/OrganizationContext.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript, check-import-patterns

fix: resolve all pre-push hook errors
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/admin/TestRecordingPanel.tsx
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/OrganizationHub_old.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/tests/e2e/organization-hub-rwd.spec.ts
Due: typescript, check-import-patterns

fix: replace any type in OrganizationHub_old.tsx map callback
  frontend/src/pages/teacher/OrganizationHub_old.tsx
Due: typescript

fix(migration): correct migration chain after rebase with staging
  backend/alembic/versions/20251110_1033_85160fa3d3cc_add_example_sentence_fields_to_content_items.py
Due: check-import-patterns

feat(sentence-making): implement Phase 1 - sentence making feature
  backend/alembic/versions/20251110_1033_85160fa3d3cc_add_example_sentence_fields_to_content_items.py
  backend/alembic/versions/20251110_1354_1016469bbf26_add_sentence_making_to_contenttype_enum.py
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/programs.py
  backend/routers/students.py
  backend/routers/teachers.py
  docs/plans/add_example_sentence_field_plan.md
  docs/plans/ai_features_summary.md
  docs/plans/example_sentence_revision_plan.md
  docs/plans/sentence_making_implementation_plan.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/ListeningModeTemplate.tsx
  frontend/src/components/activities/SentenceMakingActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/activities/WritingModeTemplate.tsx
  frontend/src/components/activities/shared/ProgressIndicator.tsx
  frontend/src/components/activities/shared/WordChoicePanel.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

feat: 新增 develop 環境規劃與全局 Additive Migration 規則
  CLAUDE.md
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  docs/DEVELOP_ENVIRONMENT_PLAN.md
Due: check-import-patterns

style: 執行 Black 格式化修正 CI/CD 檢查
  backend/alembic/versions/20251110_1354_1016469bbf26_add_sentence_making_to_contenttype_enum.py
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  backend/models.py
  backend/routers/students.py
  backend/routers/teachers.py
Due: check-import-patterns

fix: 移除未使用的 UserWordProgress import
  backend/routers/students.py
Due: check-import-patterns

feat: 實作 develop 測試環境 CI/CD 配置
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  docs/DEVELOP_ENVIRONMENT_SETUP_GUIDE.md
  scripts/setup_develop_secrets.sh
Due: none

fix: 允許 develop 環境在 alembic check 有差異時繼續部署
  .github/workflows/deploy-backend.yml
Due: none

docs: 新增 develop 環境安全性檢查與 URL 更新工具
  .gitignore
  docs/DEVELOP_ENVIRONMENT_SAFETY_CHECK.md
  scripts/update_develop_urls.sh
Due: none

fix: 將 sentence making 相關表加入 RLS 排除清單
  .github/workflows/deploy-backend.yml
Due: none

style: 執行 Prettier 格式化修正 CI/CD 格式檢查
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/ListeningModeTemplate.tsx
  frontend/src/components/activities/SentenceMakingActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/activities/WritingModeTemplate.tsx
  frontend/src/components/activities/shared/ProgressIndicator.tsx
  frontend/src/components/activities/shared/WordChoicePanel.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat: 將 develop 環境改用獨立的 Supabase 資料庫
  .github/workflows/deploy-backend.yml
Due: none

fix: 在 RLS 排除清單中添加複數形式的表名
  .github/workflows/deploy-backend.yml
Due: none

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
