Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat(speech): org points deduction for organization students #208
  .claude/test-rules.json
  .github/workflows/deploy-per-issue.yml
  backend/routers/speech_assessment.py
  backend/services/organization_points_service.py
  backend/tests/e2e/test_org_points_e2e.py
  backend/tests/e2e/test_scenario_b_personal.py
  backend/tests/integration/test_org_points_chain.py
  backend/tests/unit/test_organization_points_service.py
  docs/issues/208-complete-spec.md
  docs/issues/208-todo.md
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/hooks/useAutoAnalysis.ts
  frontend/src/services/azureSpeechService.ts
  setup-worktrees.sh
  tests/e2e/test_admin_organizations_crud.py
Due: typescript, check-import-patterns

style: apply Black formatting to org points files
  backend/routers/speech_assessment.py
  backend/services/organization_points_service.py
  backend/tests/e2e/test_org_points_e2e.py
  backend/tests/e2e/test_scenario_b_personal.py
  backend/tests/unit/test_organization_points_service.py
Due: check-import-patterns

chore: trigger CI/CD for testing #253
  backend/.trigger-cicd
Due: none

fix: 在 CI/CD workflows 中添加 DEMO_ALLOWED_ORIGINS 環境變數 #253
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-per-issue.yml
Due: none

fix: 新增 DEMO_ALLOWED_ORIGINS 環境變數以修復 demo 語音分析 referer 驗證 #253
  backend/.env.production.example
  backend/.env.staging.example
  docs/plans/issue-202-public-demo-assignment.md
Due: none

refactor: 抽取 MAX_BATCH_ITEMS 常數並加入截斷 toast 通知
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

fix: 改善批次貼上驗證邏輯與 I18n 一致性
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: 例句集批次翻譯失敗 & 批次貼上限制 25 個項目 (#244)
  backend/services/translation.py
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

style: fix prettier formatting in ReadingAssessmentPanel.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

style: fix prettier formatting in ReadingAssessmentPanel.tsx (#270)
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

fix: 完善 ApiError 型別定義、補充 Pydantic error array 測試、中文化 fallback
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/lib/__tests__/api.error-handling.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat: 新增網站 favicon 與 PWA 圖示 #264 (#269)
  .gitignore
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
Due: none

fix: 修正批量匯入學生 422 錯誤導致白屏崩潰 (#245)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/organization/ImportStudentsDialog.tsx
  frontend/src/lib/__tests__/api.error-handling.test.ts
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

style: fix Prettier formatting for ReadingAssessmentPanel and ClassroomDetail
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: 新增 DEMO_ALLOWED_ORIGINS 修復 contact 帳號公開朗讀作業語音分析 (#253) (#268)
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-per-issue.yml
  backend/.env.production.example
  backend/.env.staging.example
  backend/.trigger-cicd
  docs/plans/issue-202-public-demo-assignment.md
Due: none

fix: 加強 AI 例句生成 API 回應的 runtime 型別驗證 #203
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix: 修正單字集批次AI造句錯位與消歧義 (#203) (#266)
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/translation_ops.py
  backend/routers/teachers/validators.py
  backend/services/translation.py
  backend/tests/test_sentence_generation_misalignment.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

chore: 移除 VocabularySetPanel 中的 debug console.log #250
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

style: fix Black formatting for 3 files
  backend/routers/teachers/content_ops.py
  backend/services/translation.py
  backend/tests/test_sentence_generation_misalignment.py
Due: check-import-patterns

refactor: extract shared getProgramLevelByLessonId & remove debug logs
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useProgramTree.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix: Content 正確繼承 Program 難度等級 & AI 造句 modal 預選 level (#250) (#267)
  backend/tests/unit/test_content_crud_api.py
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useProgramTree.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

style: fix Prettier formatting for 3 frontend files
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat: add password setup email for org-invited teachers (issue #246)
  backend/routers/organizations.py
  backend/services/email_service.py
  backend/tests/integration/api/test_organization_invite_password_setup.py
Due: check-import-patterns

feat(frontend): add password setup page for org-invited teachers
  frontend/src/App.tsx
  frontend/src/pages/TeacherSetupPassword.tsx
Due: typescript

feat(#227): add AI analysis quota check for teachers and organizations
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/validators.py
  backend/services/quota_service.py
  frontend/package-lock.json
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: temporarily disable 30-day trial homework assignment restriction
  backend/routers/assignments/crud.py
  backend/routers/teachers.py
  backend/routers/teachers/dashboard.py
  frontend/package-lock.json
Due: check-import-patterns

style: fix black formatting for test files
  backend/tests/integration/api/test_organization_invite_password_setup.py
  backend/tests/unit/test_content_crud_api.py
Due: check-import-patterns

style: fix flake8 line length violations in email_service.py
  backend/services/email_service.py
Due: check-import-patterns

fix(#187): restore words_mastered and achieved on assignment re-entry
  backend/routers/students/assignments.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

feat(#248): remove school materials layer, simplify to organization materials
  backend/routers/organization_programs.py
  backend/services/program_service.py
  backend/utils/permissions.py
  frontend/src/App.tsx
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/ClassroomMaterialsSidebar.tsx
  frontend/src/components/shared/SchoolProgramCreateDialog.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript, check-import-patterns

feat(#249): autocomplete teacher assignment dialog for classroom management
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
Due: typescript

feat: 首頁改版 — 輪播圖、Hero 區塊、隱私政策頁面 #271
  frontend/src/App.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/tailwind.config.js
Due: typescript

feat: 移除 CTA 與三步驟區塊 #271
  frontend/src/pages/Home.tsx
Due: typescript

fix(#187): restore words_mastered and achieved on assignment re-entry (#274)
  backend/routers/students/assignments.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

style: fix prettier formatting in TeacherSetupPassword.tsx
  frontend/src/pages/TeacherSetupPassword.tsx
Due: typescript

fix(#248): address code review feedback
  backend/tests/test_read_org_materials_permission.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
Due: typescript, check-import-patterns

feat(#248): 機構教材管理簡化 — 去除學校教材階層 (#276)
  backend/routers/organization_programs.py
  backend/services/program_service.py
  backend/tests/test_read_org_materials_permission.py
  backend/utils/permissions.py
  frontend/src/App.tsx
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/ClassroomMaterialsSidebar.tsx
  frontend/src/components/shared/SchoolProgramCreateDialog.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript, check-import-patterns

style: fix prettier formatting in AssignmentDialog and CreateProgramDialog
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
Due: typescript

fix: i18n carousel captions and aria-labels #271
  frontend/src/components/ImageCarousel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

fix: carousel accessibility, memory leak, and code quality #271
  frontend/src/components/ImageCarousel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript
