Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix(models): correct composite index definitions to match DB schema
  backend/models.py
Due: check-import-patterns

style: fix Black formatting for models.py
  backend/models.py
Due: check-import-patterns

perf: Optimize GCS audio upload with async I/O to eliminate blocking
  backend/pytest.ini
  backend/services/audio_upload.py
  backend/tests/stress/test_audio_upload_stress.py
  backend/tests/unit/test_audio_upload.py
Due: check-import-patterns

feat: Add Azure Speech API global rate limiting and auto-retry
  AZURE_RATE_LIMIT_IMPLEMENTATION_REPORT.md
  backend/requirements.txt
  backend/routers/speech_assessment.py
  backend/tests/benchmarks/__init__.py
  backend/tests/benchmarks/benchmark_azure_rate_limit.py
  backend/tests/stress/__init__.py
  backend/tests/stress/test_azure_concurrent_stress.py
  backend/tests/unit/test_azure_rate_limit.py
  scripts/check_azure_tier.py
Due: check-import-patterns

fix(tts): fix indentation bug causing 'blob' undefined error
  backend/services/tts.py
Due: check-import-patterns

fix(ReadingAssessmentPanel): batch paste should not auto-save in create mode
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

feat: Add 5 simple BigQuery audio error logging types
  backend/routers/speech_assessment.py
  backend/tests/unit/test_bigquery_simple_errors.py
Due: check-import-patterns

fix: Remove unused imports from test_azure_rate_limit_bigquery
  backend/tests/unit/test_azure_rate_limit_bigquery.py
Due: check-import-patterns

feat: Add GZip compression for API responses (Issue #95)
  backend/main.py
Due: check-import-patterns

fix: Add type guard for ApiError.detail in TeacherLogin
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

fix: Add LRU cache to translation service
  backend/services/translation.py
  backend/tests/unit/test_translation_service.py
Due: check-import-patterns

feat: Implement TTS audio file cache optimization (Issue #87)
  backend/services/tts.py
  backend/tests/unit/test_tts.py
Due: check-import-patterns

style: Fix linting and formatting issues in TTS caching
  backend/services/tts.py
  backend/tests/unit/test_tts.py
Due: check-import-patterns

feat: Implement HTTP connection pooling for TapPay services (#91)
  backend/core/http_client.py
  backend/services/tappay_einvoice_service.py
  backend/services/tappay_service.py
  backend/services/translation.py
  backend/tests/unit/test_http_client.py
Due: check-import-patterns

perf: Add eager loading for content_items in Assignment APIs (Issue #90)
  backend/routers/assignments.py
  backend/routers/students.py
  backend/tests/integration/api/test_issue_90_content_items_eager_loading.py
Due: check-import-patterns

perf: Configure Azure Speech SDK timeout optimization (Issue #92)
  backend/routers/speech_assessment.py
  backend/services/tts.py
  backend/tests/unit/test_azure_speech_timeout.py
Due: check-import-patterns

fix: Handle ApiError detail type in TeacherLogin
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

perf: Optimize database connection pool configuration for Cloud Run
  backend/database.py
  backend/routers/cron.py
  backend/services/audio_error_query_service.py
  backend/tests/unit/test_database_pool_config.py
Due: check-import-patterns

perf: Optimize health check endpoint (Issue #96)
  backend/main.py
Due: check-import-patterns

fix: Handle non-string error detail in TeacherLogin
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

perf: Add database indexes for query optimization (Issue #94)
  backend/alembic/versions/20251211_2250_900032e9e0fc_add_missing_indexes_for_performance.py
  backend/models.py
Due: check-import-patterns

fix(Issue #107): rearrangement mode should show GRADED status, not SUBMITTED
  backend/routers/students.py
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix(Issue #107): hide grading buttons and simplify status for rearrangement mode
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(Issue #107): hide SUBMITTED/RETURNED/RESUBMITTED status filter options for rearrangement
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(teacher): hide SUBMITTED/RETURNED/RESUBMITTED columns in desktop table for rearrangement mode
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(deploy): add USE_GCS_STORAGE=true to fix audio files being lost on Cloud Run
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-per-issue.yml
Due: none

chore: Remove temporary Issue #75 TDD planning documents
  .gitignore
  ISSUE_75_EDGE_CASE_ANALYSIS.md
  ISSUE_75_TDD_IMPLEMENTATION_PLAN.md
Due: none

chore: Clean up completed project documentation files
  AZURE_RATE_LIMIT_IMPLEMENTATION_REPORT.md
  CICD.md
  DEPLOYMENT_RESTRUCTURE_SUMMARY.md
  PRD.md
  PRD_優化分析.md
  docs/DEPLOYMENT_STATUS.md
Due: none

chore: Remove temporary testing and debugging files
  fix_dashboard_student_count.patch
  test-workflows.sh
Due: none

chore: Reorganize documentation - move payment docs and remove duplicates
  README-GIT-FLOW.md
  docs/payment/PAYMENT_TESTING_GUIDE.md
  docs/payment/TAPPAY_EINVOICE_INTEGRATION.md
Due: none

chore: Move operational docs to docs/ and update monitoring tool configurations
  .claude/agents/code-reviewer.md
  .claude/agents/test-runner.md
  docs/COST_ANALYSIS.md
  docs/MONITORING.md
Due: none

chore: Move COST_ANALYSIS.md back to root directory
  COST_ANALYSIS.md
Due: none

chore: Sync .gitignore with main branch
  .gitignore
Due: none

docs: Rename ORG_IMPLEMENTATION_SPEC to ORG_PRD and update with implementation status
  ORG_PRD.md
Due: none

fix(Issue #111): disable save button during batch TTS/translation generation
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

fix(casbin): Fix critical permission system issues
  backend/config/casbin_policy.csv
  backend/main.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students/auth.py
  backend/services/casbin_service.py
  backend/tests/integration/api/test_student_auth_with_org.py
  backend/tests/test_casbin_integration.py
  frontend/src/components/StudentLayout.tsx
  frontend/src/stores/studentAuthStore.ts
Due: typescript, check-import-patterns

fix(Issue #109): support Safari audio MIME types for recording upload
  backend/services/audio_upload.py
  backend/tests/unit/test_audio_upload.py
Due: check-import-patterns

fix(Issue #110): hide submit button for rearrangement mode to prevent accidental touch
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

docs: Update ORG_PRD with testing status and manual test plan
  ORG_PRD.md
Due: none

fix(Issue #108): use teacher-configured time limit for reading assignments
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns
