Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

fix: 修復測試檔案 ESLint 和 TypeScript 錯誤
  frontend/src/lib/__tests__/api.health.test.ts
  frontend/src/lib/__tests__/api.snapshot.test.ts
Due: eslint, typescript, prevent-hardcoded-urls

feat: 完整實作 API 測試框架取代 E2E 測試
  frontend/src/lib/__tests__/api.comprehensive.test.ts
  frontend/src/lib/__tests__/api.realtime.test.ts
Due: eslint, typescript, prevent-hardcoded-urls

security: 移除測試檔案中的硬編碼密碼
  .gitignore
  frontend/src/lib/__tests__/api.comprehensive.test.ts
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復作業詳情頁面已完成狀態仍顯示取消指派按鈕的問題
  frontend/src/lib/__tests__/__snapshots__/api.snapshot.test.ts.snap
  frontend/src/lib/__tests__/api.contract.test.ts
  frontend/src/lib/__tests__/api.createContent.test.ts
  frontend/src/lib/__tests__/api.test.ts
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/test-assignment-status.html
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復取消指派 API 422 錯誤 - 使用正確的 student_id
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復作業指派功能的 API 合約不匹配問題
  backend/tests/e2e/test_assignment_persistence.py
  backend/tests/integration/api/test_real_assignment_api.py
  backend/tests/integration/test_assignment_validation.py
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/tests/test_frontend_assignment.html
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 移除測試檔案中的硬編碼憑證，使用環境變數
  backend/tests/e2e/test_assignment_persistence.py
  backend/tests/integration/api/test_real_assignment_api.py
Due: black, flake8

fix: 修復 Flake8 linting 錯誤，移除未使用的 imports
  backend/tests/e2e/test_assignment_persistence.py
  backend/tests/integration/api/test_real_assignment_api.py
Due: black, flake8

fix: 修復 CI/CD Secret Detection Docker 版本問題
  .github/workflows/deploy-staging-supabase.yml
Due: none

docs: 更新 README 將後端端口從 8000 改為 8080
  README.md
Due: none

refactor: 統一所有環境使用 8080 端口
  CICD.md
  PRD.md
  docs/TDD.md
  frontend/vite.config.ts
Due: none

chore: 整理 backend 測試檔案結構
  backend/tests/integration/test_gcs_upload.py
  backend/tests/verification/verify_content_optimization.py
  backend/tests/verification/verify_optimization_safety.py
Due: black, flake8

fix: 修復分組問題活動的 AI 評分顯示問題
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 添加 Azure Speech Service 和 GCS 環境變數到 staging 部署
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 添加 Azure Speech SDK 所需的系統依賴
  backend/Dockerfile
Due: none

fix: 安裝 ffmpeg 修復音頻格式轉換問題
  backend/Dockerfile
Due: none

fix: 修復自動清理腳本無法刪除舊映像的問題
  .github/workflows/cleanup-resources.yml
Due: none

debug: 添加臨時系統檢查端點
  .github/workflows/deploy-staging-supabase.yml
  backend/main.py
  backend/test_hello.aiff
  backend/test_hello.wav
Due: black, flake8

feat: 新增 CI/CD 部署時自動清理舊映像功能
  .github/workflows/deploy-staging-supabase.yml
Due: none

feat: 新增 Debug 測試頁面診斷 AI 評估問題
  backend/main.py
  frontend/src/App.tsx
  frontend/src/pages/DebugPage.tsx
  frontend/src/utils/api.ts
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復 CI/CD 部署問題
  .github/workflows/deploy-staging-supabase.yml
  frontend/src/pages/DebugPage.tsx
  frontend/src/utils/api.ts
Due: eslint, typescript, prevent-hardcoded-urls

feat: 新增部署監控和映像清理管理工具
  .githooks/post-push
  package.json
  scripts/monitor-deployment.sh
Due: none

refactor: 改用 Git 原生 hooks 取代自訂目錄
  .githooks/post-push
  package.json
  scripts/install-hooks.sh
Due: none

feat: 添加 debug 端點並優化 CI/CD 配置
  .github/workflows/deploy-staging-supabase.yml
  backend/api/debug.py
  backend/main.py
  backend/routers/teachers.py
Due: black, flake8

fix: Add api directory to Dockerfile - Fix Azure Speech Assessment 404 error
  backend/Dockerfile
  backend/main.py
  backend/services/audio_upload.py
Due: black, flake8

feat: Add no-auth debug test endpoints for staging
  backend/api/debug.py
  backend/services/audio_upload.py
  frontend/src/pages/DebugPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: debug endpoints support more audio formats
  backend/api/debug.py
Due: black, flake8

fix: AI evaluation after black formatting
  backend/routers/speech_assessment.py
Due: black, flake8

fix: 前端加入 assignment_id 傳送
  frontend/src/pages/student/AssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復錄音覆蓋問題
  frontend/src/pages/student/AssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復多題目錄音和AI評估的資料庫存取問題
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/tests/unit/test_multi_question_ai_assessment.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復 CI/CD 流水線錯誤
  .github/hooks/security/security-audit.sh
  backend/tests/unit/test_multi_question_ai_assessment.py
Due: black, flake8

fix: 修復 AI 評分位置錯誤問題 - 統一使用陣列格式
  backend/debug_ai_scores.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/tests/integration/api/test_ai_score_array_fix_simple.py
  backend/tests/integration/api/test_student_assignment_activities_fixed.py
  backend/tests/unit/test_teacher_grading_multi_questions.py
Due: black, flake8

fix: 更新前端以匹配新的 AI 評分陣列格式
  frontend/src/pages/student/AssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復AI評分錯位問題 - 正確載入和顯示既有評分結果
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復上傳錄音時硬編碼 content_id=1 的嚴重問題
  backend/ASSIGNMENT_FLOW_DIAGRAM.md
  backend/routers/students.py
  backend/tests/integration/api/test_upload_recording_content_id_fix.py
Due: black, flake8

feat: prepare for content redesign - add new models and design docs
  backend/docs/content-redesign/ALEMBIC_MIGRATION_GUIDE.md
  backend/docs/content-redesign/ASSIGNMENT_FLOW_DIAGRAM.md
  backend/docs/content-redesign/ASSIGNMENT_RISK_ASSESSMENT.md
  backend/docs/content-redesign/CONTENT_ANALYSIS_COMPLETE.md
  backend/docs/content-redesign/DATABASE_COMPLEXITY_ANALYSIS.md
  backend/docs/content-redesign/IMPLEMENTATION_CHECKLIST.md
  backend/docs/content-redesign/IMPLEMENTATION_PLAN.md
  backend/docs/content-redesign/MIGRATION_STRATEGY_ANALYSIS.md
  backend/docs/content-redesign/PROPOSED_DB_REDESIGN.md
  backend/docs/content-redesign/README.md
  backend/docs/content-redesign/REFACTOR_CLEANUP_PLAN.md
  backend/docs/content-redesign/TDD_CONTRACT.md
  backend/docs/content-redesign/TEACHER_WORKFLOW_IMPACT.md
  backend/docs/content-redesign/WHATS_NEW.md
  backend/models.py
Due: black, flake8

feat: complete database redesign with ContentItem architecture
  backend/alembic/versions/20250917_1215_8097cc06f349_initial_schema_with_content_items_.py
  backend/backup/alembic_migrations_backup/20250902_2037_6c42743b461f_initial_complete_schema.py
  backend/backup/alembic_migrations_backup/20250905_2008_fec3ec42ce70_add_template_and_source_tracking_to_.py
  backend/backup/alembic_migrations_backup/20250906_2237_47e26e8bf64b_add_email_verification_and_remove_.py
  backend/backup/alembic_migrations_backup/20250907_2251_f66a09eba7e7_add_email_verification_fields.py
  backend/backup/alembic_migrations_backup/20250910_2328_11560478a023_rename_student_id_to_student_number.py
  backend/routers/students.py
  backend/scripts/migrate_content_to_items.py
  backend/tests/integration/test_content_migration_contract.py
  backend/tests/unit/test_content_item_model.py
  backend/tests/unit/test_new_models_basic.py
  backend/tests/unit/test_student_item_progress_model.py
Due: black, flake8, check-migration-format
