Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, check-migration-format, prevent-hardcoded-urls

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --ext ts,tsx src --max-warnings 0'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-migration-format:
  name: Check Alembic migration file format
  entry: python backend/hooks/check_migration_format.py
  language: python
  pass_filenames: true

prevent-hardcoded-urls:
  name: Prevent hardcoded localhost URLs
  entry: bash -c 'if grep -r "localhost:[0-9]" frontend/src/ 2>/dev/null; then echo "Error - Hardcoded localhost URL found - Use environment variables"; exit 1; fi'
  language: system
  pass_filenames: false

🚨 SECURITY FIX: Remove exposed database password from Makefile
  Makefile
Due: none

🔐 feat: comprehensive security improvements
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/SECURITY.md
  scripts/check-credentials.sh
  scripts/check-database-urls.sh
  scripts/manage-secrets.sh
Due: none

feat: implement comprehensive security enhancements
  backend/core/security.py
  backend/main.py
  backend/middleware/__init__.py
  backend/middleware/rate_limiter.py
  scripts/supabase_security_setup.sql
  send_slack_notification.sh
  slack_security_update.md
Due: none

feat: add comprehensive security pre-commit hooks
  .pre-commit-config.yaml
  scripts/check-api-keys.sh
  scripts/check-env-files.sh
  scripts/check-jwt-secrets.sh
  scripts/security-audit.sh
Due: none

refactor: move security hooks to .github/hooks for better protection
  .github/hooks/security/README.md
  .github/hooks/security/check-api-keys.sh
  .github/hooks/security/check-credentials.sh
  .github/hooks/security/check-database-urls.sh
  .github/hooks/security/check-env-files.sh
  .github/hooks/security/check-jwt-secrets.sh
  .github/hooks/security/security-audit.sh
  .pre-commit-config.yaml
Due: none

fix: improve add classroom button reliability and error handling
  frontend/src/pages/teacher/TeacherClassrooms.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: temporarily disable broken rate limiting middleware to fix login
  backend/main.py
Due: none

fix: handle students created without classroom assignment
  backend/routers/teachers.py
  frontend/src/components/StudentDialogs.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: filter out soft-deleted classrooms and students from dashboard
  backend/routers/teachers.py
Due: none

fix: show unassigned students in list for 24 hours with tests
  backend/routers/teachers.py
Due: none

test: add comprehensive tests for unassigned student visibility
  .gitignore
  backend/tests/integration/api/test_unassigned_student_visibility.py
Due: none

feat: implement dual-language save with selectedLanguage tracking
  backend/main.py
  backend/routers/teachers.py
  backend/services/translation.py
  backend/tests/e2e/test_grading_e2e.py
  backend/tests/integration/api/test_api_connection.py
  backend/tests/integration/api/test_grading_api.py
  backend/tests/integration/api/test_grading_complete.py
  backend/tests/integration/api/test_grading_feedback_separation.py
  backend/tests/integration/api/test_grading_final.py
  backend/tests/integration/api/test_grading_flow.py
  backend/tests/integration/api/test_grading_frontend.py
  backend/tests/integration/api/test_grading_modal.py
  backend/tests/integration/api/test_grading_page_api.py
  backend/tests/integration/api/test_grading_status_flow.py
  backend/tests/integration/api/test_grading_submission.py
  backend/tests/integration/api/test_grading_update.py
  backend/tests/integration/api/test_item_feedback.py
  backend/tests/integration/api/test_programs_api.py
  backend/tests/integration/api/test_student_list_status_sync.py
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/test_recording_collection_fixes.md
  scripts/test_rate_limiting.py
  test_reading_assessment_translation_e2e.py
  test_recording_fixes.py
  test_save_recording.html
Due: eslint, typescript, prevent-hardcoded-urls

feat: auto-populate text field when opening TTS modal
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: add remove audio button for reading assessment items
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: enhance audio generation visual feedback
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 改進音檔管理 UI - 將刪除按鈕移至音檔旁邊
  backend/scripts/test_grading_complete.py
  backend/scripts/test_programs_api.py
  backend/scripts/test_three_creation_methods.py
  backend/static/audio/tts/tts_20250906_175310_f72121b0-4f01-4a13-ad45-afa85ea63bbf.mp3
  backend/static/audio/tts/tts_20250906_175530_c738f962-201e-4e8d-a42a-3da8f22cc3cb.mp3
  backend/static/audio/tts/tts_20250906_175539_b516094a-e407-4e74-933a-c00382654ecc.mp3
  backend/static/audio/tts/tts_20250906_180903_5297b6a0-e789-4f88-8d0f-20116ed19ea8.mp3
  backend/static/audio/tts/tts_20250906_181009_de7b3f92-95d5-4789-b368-e9d368cb291a.mp3
  backend/static/audio/tts/tts_20250906_182358_9f1f4ed6-501a-42d4-aa2e-3c2f696fe96a.mp3
  backend/static/audio/tts/tts_20250906_182417_f5bd230c-d2e2-4c5a-8533-1b917a48cfb8.mp3
  backend/static/audio/tts/tts_20250906_183321_ba6dc916-043a-4d34-8307-169b2b34efa9.mp3
  backend/static/audio/tts/tts_20250906_183331_28a57725-ba04-489f-b27b-2d8408a50191.mp3
  backend/static/audio/tts/tts_20250906_183339_61dca985-da78-4309-89e3-37f492b87cbb.mp3
  backend/tests/integration/api/test_audio_generation_feedback.py
  backend/tests/integration/api/test_custom_program_tags.py
  backend/tests/integration/api/test_duplicate_detection.py
  backend/tests/integration/api/test_multi_selection.py
  backend/tests/integration/api/test_reading_assessment_translation_e2e.py
  backend/tests/integration/api/test_recording_fixes.py
  backend/tests/integration/api/test_remove_audio.py
  backend/tests/integration/api/test_student_login_api.py
  backend/tests/integration/api/test_tag_styling.py
  backend/tests/integration/api/test_tags_save.py
  backend/tests/integration/api/test_template_programs_api.py
  backend/tests/integration/api/test_tts_text_prefill.py
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: eslint, typescript, prevent-hardcoded-urls

refactor: consolidate CI/CD workflows into single file
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-staging-supabase.yml.old
  .github/workflows/security-scan.yml.old
Due: none

refactor: merge security scan into deploy-staging workflow
  .github/workflows/deploy-staging-supabase.yml.old
  .github/workflows/deploy-staging.yml
  .github/workflows/security-scan.yml.old
Due: none

fix: rename workflow to deploy-staging-supabase.yml
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 修復朗讀評測內容儲存功能 - lessonId 未正確傳遞問題
  backend/static/audio/tts/tts_20250906_201221_fa945691-b5c9-4491-9298-a81636652785.mp3
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  test_content_save.py
Due: eslint, typescript, prevent-hardcoded-urls

feat: 達成程式碼品質完美標準 ✨
  backend/backend/tests/integration/api/test_custom_program_tags.py
  backend/backend/tests/integration/api/test_email_binding.py
  backend/backend/tests/integration/api/test_email_binding_api.py
  backend/backend/tests/integration/api/test_email_verification_complete.py
  backend/backend/tests/integration/api/test_reading_assessment_translation_e2e.py
  backend/backend/tests/integration/api/test_recording_fixes.py
  backend/backend/tests/integration/api/test_tags_save.py
  backend/scripts/test_programs_api.py
  backend/services/email_service.py
Due: none

refactor: 簡化 seed data 密碼設定，只保留最後一位學生的自訂密碼
  backend/seed_data.py
Due: none

feat: 配置 staging 環境的 email 發送功能
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 修復 Email 驗證功能的完整流程
  backend/services/email_service.py
  frontend/src/App.tsx
  frontend/src/pages/EmailVerification.tsx
  test_email_verification_fixed.py
Due: eslint, typescript, prevent-hardcoded-urls

fix: 移除有 ESLint 錯誤的測試檔案以修復部署
  frontend/tests/e2e/student_flow.spec.js
  frontend/tests/e2e/teacher_flow.spec.js
Due: none

fix: resolve email verification duplicate token issue and enhance functionality
  backend/alembic/versions/20250907_2251_f66a09eba7e7_add_email_verification_fields.py
  backend/routers/students.py
  backend/services/email_service.py
  backend/tests/integration/api/test_email_binding_flow.py
  backend/tests/integration/api/test_email_verification.py
  backend/tests/integration/api/test_email_verification_simple.py
  frontend/src/App.tsx
  frontend/src/pages/EmailVerification.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentProfile.tsx
  frontend/tests/e2e/audio-e2e.spec.ts
Due: eslint, typescript, check-migration-format, prevent-hardcoded-urls

fix: responsive design for assignment flow UI
  CLAUDE.md
  backend/routers/students.py
  backend/seed_data.py
  frontend/playwright-report/index.html
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/tests/activity-test.spec.ts
  frontend/tests/assignment-activities.spec.ts
  frontend/tests/check-assignments.spec.ts
  frontend/tests/check-dashboard.spec.ts
  frontend/tests/critical-test.spec.ts
Due: eslint, typescript, prevent-hardcoded-urls

trigger: force staging deployment
  backend/README.md
Due: none

fix: repair broken Alembic migration f66a09eba7e7
  backend/alembic/versions/20250907_2251_f66a09eba7e7_add_email_verification_fields.py
Due: check-migration-format

feat: implement Alembic migration validation hook to prevent dangerous operations
  backend/alembic/env.py
Due: none

feat: 提升測試覆蓋率，新增 164 個全面測試
  CLAUDE.md
  backend/tests/e2e/test_core_business_flows.py
  backend/tests/e2e/test_deployment_smoke.py
  backend/tests/integration/test_cicd_deployment_safety.py
  backend/tests/integration/test_cicd_failure_prevention.py
  backend/tests/integration/test_critical_api_endpoints.py
  backend/tests/integration/test_database_migration_safety.py
  backend/tests/integration/test_database_security.py
  backend/tests/unit/test_alembic_validation_hook.py
  backend/tests/unit/test_assignment_schemas.py
  backend/tests/unit/test_assignment_workflows.py
  backend/tests/unit/test_critical_auth_flows.py
  backend/tests/unit/test_file_upload_management.py
  backend/tests/unit/test_program_lesson_management.py
  backend/tests/unit/test_router_configuration.py
  backend/tests/unit/test_student_progress_tracking.py
Due: none

fix: 修復 3 個測試檔案的 import 和 API 錯誤
  backend/tests/integration/api/test_email_binding_api.py
  backend/tests/integration/api/test_programs_api.py
Due: none

feat: 配置 Azure Speech API 環境變數和統一 .env 管理
  .env.example
  .gitignore
Due: none

feat: 實現分組題目顯示與進階音檔播放器介面
  backend/main.py
  backend/models.py
  backend/requirements.txt
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/tests/integration/api/test_speech_assessment.py
  frontend/src/App.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageV2.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 添加 CI/CD 自動清理 Artifact Registry 舊版本
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 修復 TypeScript 類型錯誤和測試檔案整理
  backend/core/config.py
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/scripts/check_ai_scores.py
  backend/tests/integration/api/test_api_ai_scores.py
  backend/tests/integration/api/test_azure_direct.py
  backend/tests/integration/api/test_speech_api.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

Path conditions:
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
