Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix: 修正 utils/__init__.py import 名稱
  backend/utils/__init__.py
Due: check-import-patterns

fix: Dockerfile 加入 COPY utils/ 目錄
  backend/Dockerfile
Due: none

feat: 新增測試訂閱 API - 模擬充值功能（不經過 TapPay）
  backend/main.py
  backend/routers/test_subscription.py
  backend/test_staging_payment_flow.py
Due: check-import-patterns

test: 新增訂閱模擬 API 完整測試（TDD + Playwright E2E）
  backend/test_local_subscription_mock.py
  backend/tests/integration/api/test_subscription_mock_api.py
Due: check-import-patterns

fix: 三個測試帳號都顯示「模擬訂閱充值」按鈕
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript

fix: 允許過期用戶重新訂閱相同方案
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

feat: 實作退款同步與取消續訂功能
  backend/migrations/add_subscription_auto_renew.sql
  backend/models.py
  backend/routers/auth.py
  backend/routers/payment.py
  backend/tests/e2e/test_payment_playwright_staging.py
  backend/tests/integration/api/test_subscription_cancellation.py
  docs/TAPPAY_WEBHOOK_SETUP.md
  frontend/src/components/payment/TapPayPayment.tsx
Due: typescript, check-import-patterns

chore: 格式化程式碼並建立 Alembic migration
  backend/alembic/versions/20251020_1545_d12004490bb1_add_subscription_auto_renew_and_.py
  backend/routers/payment.py
  backend/tests/e2e/test_payment_playwright_staging.py
  backend/tests/integration/api/test_subscription_cancellation.py
  frontend/src/components/payment/TapPayPayment.tsx
Due: typescript, check-import-patterns

chore: 格式化 Alembic migration
  backend/alembic/versions/20251020_1545_d12004490bb1_add_subscription_auto_renew_and_.py
Due: check-import-patterns

feat: 完善退款處理 - 新增 BigQuery logging 與 Email 通知
  backend/routers/payment.py
  backend/services/email_service.py
  backend/utils/bigquery_logger.py
Due: check-import-patterns

feat: 實作老師作業預覽模式，支援完整錄音與 AI 評估功能
  backend/routers/teachers.py
  backend/tests/integration/api/test_student_speech_api_unchanged.py
  frontend/src/App.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
Due: typescript, check-import-patterns

fix: 修復 pre-commit hooks 錯誤
  backend/routers/teachers.py
  backend/tests/integration/api/test_student_speech_api_unchanged.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
Due: typescript, check-import-patterns

chore: 更新 .gitignore 並刪除過時的支付相關文檔
  .gitignore
  docs/payment/PAYMENT_SECURITY_CHECKLIST.md
  docs/payment/TAIWAN_PAYMENT_COMPLIANCE.md
  docs/payment/TAPPAY_COVERAGE_ANALYSIS.md
Due: none

feat: 實作 TapPay 電子發票整合（待正式環境測試）
  TAPPAY_EINVOICE_INTEGRATION.md
  backend/alembic/versions/20251021_1739_021036b2ccd6_add_tappay_einvoice_fields.py
  backend/models.py
  backend/services/tappay_einvoice_service.py
  backend/test_einvoice_api.py
Due: check-import-patterns

feat: 實作取消自動續訂功能
  backend/routers/subscription.py
  backend/routers/teachers.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat: 實作訂閱計算器與完整測試
  backend/models.py
  backend/pytest.ini
  backend/services/subscription_calculator.py
  backend/tests/conftest.py
  backend/tests/e2e/test_local_subscription_mock.py
  backend/tests/unit/test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator_standalone.py
Due: check-import-patterns

feat: 實作 TapPay 自動續訂與信用卡管理功能
  backend/alembic/versions/20251022_1102_09011843bad1_add_card_token_fields_to_teacher_table.py
  backend/alembic/versions/20251022_1257_b6fb1f60db50_sync_model_changes_json_to_jsonb_index_.py
  backend/main.py
  backend/models.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/services/email_service.py
  backend/services/subscription_calculator.py
  backend/services/tappay_service.py
  backend/test_auto_renewal_flow.py
  backend/test_refund_flow.py
  backend/tests/unit/test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator_standalone.py
  frontend/src/components/payment/CreditCardDisplay.tsx
  frontend/src/components/payment/SubscriptionCardManagement.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
  frontend/tests/e2e/payment-card-management.spec.ts
  frontend/tests/unit/payment-card-display.test.tsx
  terraform/cloud_scheduler.tf
Due: typescript, check-import-patterns

chore: 移除 Terraform Cloud Scheduler 配置
  terraform/cloud_scheduler.tf
Due: none

feat: 新增 Cloud Scheduler 手動部署 workflow
  .github/workflows/CLOUD_SCHEDULER_SETUP.md
  .github/workflows/QUICK_SETUP.sh
  .github/workflows/SCHEDULER_README.md
  .github/workflows/setup-cloud-scheduler.yml
Due: none

feat: 新增 Cloud Scheduler 測試通知功能
  .github/workflows/SCHEDULER_README.md
  .github/workflows/setup-cloud-scheduler.yml
  backend/routers/cron.py
Due: check-import-patterns
