Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=120
  - --ignore=E203,W503

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --ext ts,tsx src --max-warnings 0'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-migration-format:
  name: Check Alembic migration file format
  entry: python backend/hooks/check_migration_format.py
  language: python
  pass_filenames: true

prevent-hardcoded-urls:
  name: Prevent hardcoded localhost URLs
  entry: bash -c 'if grep -r "localhost:[0-9]" frontend/src/ 2>/dev/null; then echo "Error - Hardcoded localhost URL found - Use environment variables"; exit 1; fi'
  language: system
  pass_filenames: false

fix: 整合學生作業詳情頁的總評和評分結果區塊
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 真正整合學生作業詳情頁的活動進度與總評區塊
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 分離活動進度與總評為兩個獨立卡片
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 優化學生作業詳情頁排版佈局
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 改善詳實記錄顯示格式
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 優化教師批改頁面學生列表排序
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 StudentAssignmentDetail.tsx 的 TypeScript any 型別錯誤
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 啟用全站按鈕 dark mode 支援
  frontend/src/components/ui/button.tsx
  frontend/tailwind.config.js
Due: eslint, typescript, prevent-hardcoded-urls

feat: 新增 pre-commit hook 檢查 Python import 模式
  .pre-commit-config.yaml
  backend/hooks/check_import_patterns.py
  backend/routers/assignments.py
Due: black, flake8

feat: 全站 Button component 加入 dark mode 支援
  backend/api/debug.py
  backend/routers/auth.py
  backend/routers/programs.py
  backend/routers/subscription.py
  backend/routers/teachers.py
  backend/tests/factories.py
  backend/tests/verification/verify_optimization_safety.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/DebugPage.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/admin/DatabaseAdminPage.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 實現學生練習頁面的手機響應式設計 (Mobile RWD)
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 優化學生頁面 mobile RWD 文字間距與排版
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 全站 mobile RWD 優化 - 教師端頁面
  frontend/src/pages/TeacherDashboard.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
Due: eslint, typescript, prevent-hardcoded-urls

docs: 更新 PRD.md 至 v4.3 - 新增 TapPay 金流整合說明
  PRD.md
Due: none

docs: 移除過時的 content-redesign 開發文檔
  backend/docs/content-redesign/ALEMBIC_MIGRATION_GUIDE.md
  backend/docs/content-redesign/ASSIGNMENT_FLOW_DIAGRAM.md
  backend/docs/content-redesign/ASSIGNMENT_RISK_ASSESSMENT.md
  backend/docs/content-redesign/CONTENT_ANALYSIS_COMPLETE.md
  backend/docs/content-redesign/DATABASE_COMPLEXITY_ANALYSIS.md
  backend/docs/content-redesign/IMPLEMENTATION_CHECKLIST.md
  backend/docs/content-redesign/IMPLEMENTATION_PLAN.md
  backend/docs/content-redesign/MIGRATION_STRATEGY_ANALYSIS.md
  backend/docs/content-redesign/PROPOSED_DB_REDESIGN.md
  backend/docs/content-redesign/README.md
  backend/docs/content-redesign/REFACTOR_CLEANUP_PLAN.md
  backend/docs/content-redesign/TDD_CONTRACT.md
  backend/docs/content-redesign/TEACHER_WORKFLOW_IMPACT.md
  backend/docs/content-redesign/WHATS_NEW.md
Due: none

docs: 新增金流與技術文檔
  docs/payment/PAYMENT_SECURITY_CHECKLIST.md
  docs/payment/TAIWAN_PAYMENT_COMPLIANCE.md
  docs/payment/TAPPAY_COVERAGE_ANALYSIS.md
  docs/technical/ALEMBIC_MIGRATION_GUIDE.md
  docs/technical/ASSIGNMENT_FLOW_DIAGRAM.md
  docs/technical/ASSIGNMENT_RISK_ASSESSMENT.md
  docs/technical/CONTENT_ANALYSIS_COMPLETE.md
  docs/technical/DATABASE_COMPLEXITY_ANALYSIS.md
  docs/technical/IMPLEMENTATION_CHECKLIST.md
  docs/technical/IMPLEMENTATION_PLAN.md
  docs/technical/MIGRATION_STRATEGY_ANALYSIS.md
  docs/technical/PROPOSED_DB_REDESIGN.md
  docs/technical/REFACTOR_CLEANUP_PLAN.md
  docs/technical/TDD_CONTRACT.md
  docs/technical/TEACHER_WORKFLOW_IMPACT.md
  frontend/docs/TAPPAY_INTEGRATION_GUIDE.md
Due: none

fix: 修復付款成功但訂閱狀態未更新的致命 Bug
  MANUAL_TEST_GUIDE.md
  backend/.env.production.example
  backend/.env.staging.example
  backend/alembic/versions/20251004_1435_5f8acc42934a_add_payment_security_and_invoice_fields.py
  backend/main.py
  backend/models.py
  backend/routers/payment.py
  backend/routers/subscription.py
  backend/routers/test_subscription.py
  backend/services/tappay_service.py
  backend/test_azure_speech_api.py
  backend/test_recording_direct_access.py
  backend/test_subscription_api.py
  backend/utils/payment_security.py
  frontend/.env.example
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/SubscriptionProgressBanner.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/TeacherLoginModal.tsx
  frontend/src/components/TeacherSubscriptionBanner.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
  frontend/src/types/tappay.d.ts
  frontend/tests/html_tests/test_auth_check.html
  frontend/tests/html_tests/test_pricing_auth.html
Due: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

feat: 實作訂閱方案 C - 智能導向與升級續訂功能
  backend/routers/payment.py
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

refactor: 修復 TypeScript 型別警告與移除未使用的變數
  backend/alembic/versions/20251004_1949_82d2c62f6175_update_subscription_transaction_indexes.py
Due: black, flake8, check-migration-format

refactor: 修復前端 TypeScript 型別警告
  frontend/src/components/SubscriptionProgressBanner.tsx
  frontend/src/components/TeacherLoginModal.tsx
  frontend/src/components/TeacherSubscriptionBanner.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
  frontend/src/types/tappay.d.ts
Due: eslint, typescript, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
