Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

debug: add real backend deployment with Google Cloud
  .github/workflows/per-issue-deploy.yml
Due: none

debug: test real backend deployment
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

chore: trigger real backend deployment
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

feat: add frontend deployment and issue comment
  .github/workflows/per-issue-deploy.yml
Due: none

chore: clean up debug comments and trigger full deployment
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

chore: trigger complete Per-Issue deployment with frontend and comment
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

fix: remove template literals in github-script to avoid YAML parsing issues
  .github/workflows/per-issue-deploy.yml
Due: none

chore: trigger final complete deployment with all fixes
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

fix: Per-Issue Preview Environment 增加完整環境變數 & 避免意外關閉 issue
  .claude/agents/git-issue-pr-flow-agent.md
  .github/workflows/per-issue-deploy.yml
  CLAUDE.md
Due: none

chore: 清理臨時註解，觸發 Per-Issue Preview Environment 重新部署
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

chore: trigger Per-Issue redeploy with updated workflow from main
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

fix: 修正 Per-Issue workflow secret 名稱
  .github/workflows/per-issue-deploy.yml
Due: none

chore: trigger redeploy with fixed secret names
  frontend/src/components/admin/AdminLayout.tsx
Due: typescript

fix: 修復 preview 環境 CORS 設定導致無法登入
  backend/main.py
Due: check-import-patterns

fix: 統一 Admin 三個 tab 的 layout 一致性
  frontend/src/pages/admin/AdminAudioErrorDashboard.tsx
  frontend/src/pages/admin/AdminBillingDashboard.tsx
Due: typescript

fix: 實作 Admin 頁面完整 RWD 支援 (related to #15)
  frontend/src/components/admin/AdminLayout.tsx
  frontend/src/pages/admin/AdminAudioErrorDashboard.tsx
  frontend/src/pages/admin/AdminBillingDashboard.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
Due: typescript

perf: fix N+1 query in Assignment Detail API (related to #18)
  backend/routers/assignments.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_n_plus_1_assignments.py
  backend/tests/utils/__init__.py
  backend/tests/utils/query_counter.py
Due: check-import-patterns

perf: fix N+1 query in Student Assignment APIs (related to #18)
  backend/routers/students.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_n_plus_1_student_assignments.py
Due: check-import-patterns

perf: fix all remaining N+1 queries across 4 router files (related to #18)
  backend/routers/admin.py
  backend/routers/assignments.py
  backend/routers/teacher_review.py
  backend/routers/teachers.py
Due: check-import-patterns

feat: 重新設計 Issue vs PR 職責分工架構
  .claude/agents/git-issue-pr-flow-agent.md
  .claude/agents/git-issue-pr-flow.sh
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  CLAUDE.md
Due: none

docs: 新增 Issue 處理強制 Checklist，防止流程違規
  .claude/ISSUE_HANDLING_CHECKLIST.md
  CLAUDE.md
Due: none

feat: 自動清理 Per-Issue Test Environment
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

fix: 加入 issues write 權限到清理 workflow
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

refactor: 簡化 Issue Templates，只保留問題描述欄位
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

feat: 在 PR template 加入完整工程處理流程
  .github/pull_request_template.md
Due: none

security: 修復 CodeQL 安全警告（6 個）
  backend/api/debug.py
  backend/routers/teacher_review.py
  backend/tests/unit/test_services_complete.py
  frontend/tests/html_tests/test_drag_drop.html
Due: check-import-patterns

refactor: 移除不必要的 console.log 開發除錯訊息
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/shared/AudioRecorder.tsx
Due: typescript

refactor: 更新 Git Issue PR Flow Agent 文件組織
  .claude/agents/git-issue-pr-flow-agent.md
  .claude/agents/git-issue-pr-flow.md
  CLAUDE.md
Due: none

refactor: 更新 Git Issue PR Flow Agent 文件組織
  .claude/agents/git-issue-pr-flow-agent.md
  .claude/agents/git-issue-pr-flow.md
  CLAUDE.md
  backend/routers/students.py
  backend/tests/integration/api/test_issue_34_assignment_start_date.py
Due: check-import-patterns

docs: 更新 agent 規則 - 必須等 CI/CD 完成才貼測試 URLs
  .claude/agents/git-issue-pr-flow.md
Due: none

docs: 精简 CLAUDE.md 从 533 行到 281 行
  CLAUDE.md
Due: none

fix: 修復老師指派作業時看到其他班級的非公版課程
  backend/routers/assignments.py
  backend/tests/integration/api/test_issue_32_course_filter.py
Due: check-import-patterns

fix: Add Chinese locale support to Calendar component
  frontend/src/components/ui/calendar.tsx
Due: typescript

fix: Remove fake email generation in batch student import
  backend/routers/teachers.py
  backend/tests/integration/api/test_student_batch_import.py
Due: check-import-patterns

fix: Prevent duplicate save on batch add & fix translation keys
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

style: Format ReadingAssessmentPanel with Prettier
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
