Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix(#378): Sheet 批改按鈕改為開啟新分頁
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(#365): close sheet after saving example sentences in ProgramTreeView
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

fix(#365): always redirect to teacher dashboard after login
  frontend/src/components/RoleBasedRedirect.tsx
Due: typescript

feat(#378): 作業詳情 Sheet 的作業單元內容區塊改為與原始頁面一致的樣式
  frontend/src/components/AssignmentDetailSheet.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(#309): 資源教材頁面 i18n 國際化 (#388)
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript

fix(#365): fix login redirect - always go to teacher dashboard
  frontend/src/components/TeacherLoginSheet.tsx
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

fix(#378): prettier formatting for AssignmentDetailSheet
  frontend/src/components/AssignmentDetailSheet.tsx
Due: typescript

fix(#378): Sheet 從 assignment detail API 取得 contents 資料
  frontend/src/components/AssignmentDetailSheet.tsx
Due: typescript

fix(#365): 統一單字集/例句集儲存後流程 - 即時更新不重整頁面 (#387)
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/components/TeacherLoginSheet.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat: add automated release PR workflow with LINE notifications (#360)
  .claude/agents/git-issue-pr-flow.md
  .github/workflows/CLAUDE_AUTOMATION_GUIDE.md
  .github/workflows/automation-auto-approve.yml
  .github/workflows/automation-release-pr.yml
Due: none

fix(#241): 首頁已登入時顯示後台入口按鈕
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

style: fix Prettier formatting in Home.tsx
  frontend/src/pages/Home.tsx
Due: typescript

fix(#241): address Claude Code Review feedback
  backend/models/oauth_identity.py
  backend/services/oauth_service.py
  frontend/src/lib/api.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/utils/authNavigation.ts
Due: typescript, check-import-patterns

feat(#241): SSO 基礎建設 + auth flow 修正 (#310) (#390)
  .github/workflows/deploy-backend.yml
  backend/models/__init__.py
  backend/models/oauth_identity.py
  backend/models/user.py
  backend/services/oauth_service.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/stores/studentAuthStore.ts
  frontend/src/stores/teacherAuthStore.ts
  frontend/src/utils/authNavigation.ts
Due: typescript, check-import-patterns

refactor(#230): unify identity system for teachers and students
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
  backend/auth.py
  backend/models/__init__.py
  backend/models/user.py
  backend/routers/students/account_management.py
  backend/routers/students/auth.py
  backend/routers/students/email_verification.py
  backend/services/identity_service.py
Due: check-import-patterns

style: fix Black formatting for CI
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
  backend/auth.py
  backend/services/identity_service.py
Due: check-import-patterns

feat(#1013): 情境對話後端儲存 — PracticeMode / score_category / model / API / migration
  backend/alembic/versions/20260901_1000_add_scenario_dialogue.py
  backend/models/base.py
  backend/models/program.py
  backend/routers/assignments/crud.py
  backend/routers/school_programs.py
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/instant_practice.py
  backend/routers/teachers/validators.py
  backend/services/program_service.py
  backend/tests/unit/test_scenario_dialogue.py
  backend/tests/unit/test_score_category.py
  backend/utils/scenario_dialogue.py
  backend/utils/score_category.py
  docs/design/score-category-mapping.md
Due: check-import-patterns

feat(#1013): 情境對話前端串接後端儲存（新增／編輯）
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
  frontend/src/components/shared/RefSaveButton.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/scenarioDialogue.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/scenarioDialogue.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(#1013): 情境對話逐題驗證移到建立 Content 之前（PR #1016 review）
  backend/routers/teachers/content_ops.py
  backend/tests/unit/test_scenario_dialogue.py
Due: check-import-patterns

refactor(#1013): 收斂副本設定複製邏輯 + 補 update 題數測試（PR #1016 review round 2）
  backend/routers/assignments/crud.py
  backend/routers/school_programs.py
  backend/routers/teachers/instant_practice.py
  backend/services/program_service.py
  backend/tests/unit/test_scenario_dialogue.py
  backend/utils/scenario_dialogue.py
Due: check-import-patterns

fix(#1013): 「其他」翻譯語言不再遺失 + 刷新失敗不誤報存檔失敗（PR #1016 review round 3）
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/lib/__tests__/scenarioDialogue.test.ts
  frontend/src/lib/scenarioDialogue.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat(#1013): 情境對話後端儲存與前端串接（PracticeMode / score_category / model / API / migration） (#1016)
  backend/alembic/versions/20260901_1000_add_scenario_dialogue.py
  backend/models/base.py
  backend/models/program.py
  backend/routers/assignments/crud.py
  backend/routers/school_programs.py
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/instant_practice.py
  backend/routers/teachers/validators.py
  backend/services/program_service.py
  backend/tests/unit/test_scenario_dialogue.py
  backend/tests/unit/test_score_category.py
  backend/utils/scenario_dialogue.py
  backend/utils/score_category.py
  docs/design/score-category-mapping.md
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
  frontend/src/components/shared/RefSaveButton.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/scenarioDialogue.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/scenarioDialogue.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

feat(#1014): 機構／學校／班級教材也能新增情境對話（抽共用 hook + sheet）
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/ScenarioDialogueEditorSheet.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/hooks/__tests__/useScenarioDialogueEditor.test.ts
  frontend/src/hooks/useScenarioDialogueEditor.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat(#1014): ProgramTreeView 接上情境對話 + 補 OrganizationLayout 缺的 SidebarProvider
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
  frontend/src/layouts/OrganizationLayout.tsx
Due: typescript

feat(#1014): 機構／學校／班級教材與樹狀元件都能新增情境對話 (#1018)
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/ScenarioDialogueEditorSheet.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
  frontend/src/hooks/__tests__/useScenarioDialogueEditor.test.ts
  frontend/src/hooks/useScenarioDialogueEditor.ts
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

refactor(#1017): ContentTypeDialog 的 type 收斂成 union，清掉 25 處死碼分支
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useContentEditor.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

refactor(#1017): ContentTypeDialog 的 type 收斂成 union，清掉 25 處死碼分支 (#1019)
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useContentEditor.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(#1020): 班級教材頁新增情境對話後列表沒更新 —— 接錯刷新函式
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(#1020): 班級教材頁新增情境對話後列表沒更新 —— 接錯刷新函式 (#1022)
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#1021): 情境對話 AI 真的接上後端（產題／情境文章／PDF 擷取／題目語音）
  backend/main.py
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_ai.py
  backend/tests/test_scenario_dialogue_ai_endpoint.py
  backend/tests/unit/test_scenario_dialogue_ai.py
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

harden(#1021): 自由文字進 prompt 前收斂 + payload 上限（PR #1023 review）
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_ai.py
  backend/tests/test_scenario_dialogue_ai_endpoint.py
  backend/tests/unit/test_scenario_dialogue_ai.py
Due: check-import-patterns

fix(#1021): 題目一改就清掉舊語音 + 模型沒產出改回 502（PR #1023 review round 2）
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_ai.py
  backend/tests/test_scenario_dialogue_ai_endpoint.py
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
Due: typescript, check-import-patterns

fix(#1021): 產題等待期間的編輯不再被回應吃掉（PR #1023 review round 3）
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
Due: typescript

feat(#1021): 情境對話 AI 真的接上後端（產題／情境文章／PDF 擷取／題目語音） (#1023)
  backend/main.py
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_ai.py
  backend/tests/test_scenario_dialogue_ai_endpoint.py
  backend/tests/unit/test_scenario_dialogue_ai.py
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

chore(#1021): 收掉 PR #1023 review 剩下的三個小項
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_ai.py
Due: check-import-patterns

chore(#1021): 收掉 PR #1023 review 剩下的三個小項 (#1026)
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_ai.py
Due: check-import-patterns

feat(#1024): 情境對話逐題 AI 生圖（Imagen）+ 月次數上限
  .github/workflows/deploy-backend.yml
  backend/alembic/versions/20260907_1000_add_scenario_image_usage.py
  backend/models/__init__.py
  backend/models/scenario_image_usage.py
  backend/routers/scenario_dialogue_ai.py
  backend/services/image_upload.py
  backend/services/scenario_dialogue_image.py
  backend/services/scenario_image_quota.py
  backend/tests/test_scenario_image_endpoint.py
  backend/tests/unit/test_scenario_dialogue_image.py
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

fix(#1024): 生圖額度改成「先佔位再生圖」，堵住並發繞過（PR #1027 review round 1）
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_image.py
  backend/services/scenario_image_quota.py
  backend/tests/test_scenario_image_endpoint.py
Due: check-import-patterns

fix(#1024): 中途取消也要退還額度 + 風格提示不被截斷（PR #1027 review round 2）
  backend/routers/scenario_dialogue_ai.py
  backend/services/scenario_dialogue_image.py
  backend/tests/test_scenario_image_endpoint.py
Due: check-import-patterns

fix(#1024): 退款要退回當初扣的那個月（PR #1027 review round 3）
  backend/routers/scenario_dialogue_ai.py
  backend/tests/test_scenario_image_endpoint.py
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns
