Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat: Add teacher authorization limit (Decision #5)
  backend/alembic/versions/20260112_1630_add_teacher_limit_to_organizations.py
  backend/models/organization.py
  backend/routers/organizations.py
Due: check-import-patterns

fix: Eliminate double query and race condition in teacher limit check
  backend/routers/organizations.py
Due: check-import-patterns

fix: Add teacher_limit to organization schemas and CRUD operations
  backend/routers/organizations.py
Due: check-import-patterns

fix(models): Remove unique=True from tax_id to match partial index
  backend/models/organization.py
Due: check-import-patterns

fix(api): Add teacher_limit to OrganizationResponse.from_orm
  backend/routers/organizations.py
Due: check-import-patterns

fix(api): Exclude org_owner from teacher_limit count
  backend/routers/organizations.py
Due: check-import-patterns

fix(api): Add owner info to get_organization endpoint
  backend/routers/organizations.py
Due: check-import-patterns

docs: 移除 P2.2 增加 Cloud Run 記憶體項目
  docs/plans/fix-assignment-submission-oom.md
Due: none

feat(vocabulary-set): 改善剪貼簿貼上圖片功能
  docs/vocabulary-set-image-paste.md
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(distractors): 修復干擾選項生成近義詞問題
  backend/services/translation.py
Due: check-import-patterns

fix: 修復預覽圖片顯示與干擾選項近義詞問題
  backend/alembic/versions/20260114_0309_add_image_url_to_get_words_for_practice.py
  backend/routers/teachers.py
  backend/services/translation.py
Due: check-import-patterns

fix(distractors): 強化干擾選項生成禁止近義詞和反義詞
  backend/routers/teachers.py
  backend/services/translation.py
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

style: fix Black formatting in teachers.py
  backend/routers/teachers.py
Due: check-import-patterns

test: Achieve 71% test coverage for organization API + fix DBML spec
  backend/conftest.py
  backend/routers/organizations.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_organization_spec_decisions.py
  backend/tests/integration/api/test_organization_teacher_management.py
  docs/TDD_COVERAGE_REPORT_ISSUE_112.md
  spec/erm-organization.dbml
Due: check-import-patterns

chore: add session-start hook for context persistence
  hooks/session-start.sh
Due: none

feat(org): Complete Issue #112 - Organization Materials Management & Bug Fixes
  CHANGELOG.md
  PRD.md
  TODO.md
  backend/config/casbin_policy.csv
  backend/docs/casbin_manage_materials_permission.md
  backend/docs/examples/organization_materials_router_example.py
  backend/main.py
  backend/routers/organization_programs.py
  backend/routers/organizations.py
  backend/tests/test_e2e_full_hierarchy.py
  backend/tests/test_e2e_organization_materials.py
  backend/tests/test_integration_classroom_schools.py
  backend/tests/test_manage_materials_permission.py
  backend/tests/test_organization_programs.py
  backend/tests/test_organization_teachers.py
Due: check-import-patterns

fix(api): Fix 4 critical issues from Claude Code Review
  backend/alembic/versions/20260112_1600_implement_soft_delete_strategy.py
  backend/alembic/versions/20260114_1527_e01687cd2904_add_organization_id_to_programs.py
  backend/docs/RACE_CONDITION_DIAGRAM.md
  backend/docs/RACE_CONDITION_FIX.md
  backend/docs/RACE_CONDITION_FIX_SUMMARY.md
  backend/models/program.py
  backend/routers/organization_programs.py
  backend/routers/organizations.py
  backend/tests/test_organization_programs.py
Due: check-import-patterns

feat(frontend): Add organization materials management & teacher role edit UI
  frontend/src/components/organization/MaterialCreateDialog.tsx
  frontend/src/components/organization/MaterialEditDialog.tsx
  frontend/src/components/organization/TeacherRoleEditDialog.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/TeachersPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript

feat(frontend): Upgrade MaterialsPage design to match TeachersPage quality
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/TeachersPage.tsx
Due: typescript

feat(distractors): 優化干擾選項組成結構
  backend/routers/students.py
  backend/routers/teachers.py
  backend/services/translation.py
Due: check-import-patterns

fix(preview): 修復老師預覽模式兩個問題
  backend/routers/teachers.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

fix(word-selection): 修復熟練度顯示邏輯
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

Fix org materials creation flow
  README.md
  backend/seed_demo_data.py
  backend/seed_local_org.py
  frontend/src/components/organization/MaterialCreateDialog.tsx
  frontend/src/components/organization/MaterialEditDialog.tsx
  frontend/src/components/organization/SchoolListTable.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useContentEditor.ts
  frontend/src/hooks/useProgramTree.ts
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
  frontend/src/pages/organization/SchoolsPage.tsx
  frontend/src/types/index.ts
  frontend/src/types/organizationPrograms.ts
Due: typescript, check-import-patterns

Remove local debug scripts and hardcoded test password
  .gitignore
  backend/tests/test_programs_api.py
Due: check-import-patterns

Unify program permissions and scope usage
  backend/alembic/versions/20260115_0826_090076973179_add_new_content_types_to_enum.py
  backend/services/program_service.py
  backend/utils/permissions.py
  docs/ARCHITECTURE.md
  frontend/src/components/organization/ProgramListTable.tsx
  frontend/src/components/organization/StaffTable.tsx
  frontend/src/hooks/useProgramAPI.ts
Due: typescript, check-import-patterns

Harden auth logging and update PRD
  PRD.md
  backend/routers/auth.py
  backend/routers/programs.py
  backend/routers/teachers.py
Due: check-import-patterns

Update db config and content types
  backend/database.py
  backend/models/base.py
  backend/routers/organizations.py
  backend/schemas.py
Due: check-import-patterns

Refresh organization UI and program editor
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/organization/SchoolListTable.tsx
  frontend/src/components/organization/StaffTable.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/pages/organization/TeachersPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat(api): add GET /api/teachers/classrooms/{classroom_id}/students endpoint
  backend/routers/teachers/classroom_ops.py
  backend/tests/integration/api/test_teachers_students_api.py
Due: check-import-patterns

feat(api): add school programs management
  TODO.md
  backend/alembic/versions/20260115_1557_04221a3e73fc_add_school_id_to_programs.py
  backend/main.py
  backend/models/program.py
  backend/routers/school_programs.py
  backend/tests/integration/api/test_school_programs.py
Due: check-import-patterns

Update materials architecture and copy flow
  PRD.md
  TODO.md
  backend/routers/programs.py
  backend/routers/school_programs.py
  backend/routers/teachers.py
  backend/schemas.py
  backend/services/program_service.py
  backend/tests/test_programs_api.py
  docs/MATERIALS_ARCHITECTURE.md
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript, check-import-patterns

feat(school-materials): 完成學校教材三層 CRUD 功能
  PRD.md
  backend/routers/programs.py
  backend/routers/school_programs.py
  backend/schemas.py
  backend/services/program_service.py
  backend/tests/test_programs_api.py
  backend/tests/test_school_programs_api.py
  backend/tests/unit/test_content_order_update.py
  docs/API_ORGANIZATION_HIERARCHY.md
  docs/MATERIALS_ARCHITECTURE.md
  frontend/src/components/LessonDialog.tsx
  frontend/src/components/shared/SchoolProgramCreateDialog.tsx
  frontend/src/hooks/useProgramCopy.ts
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript, check-import-patterns

docs: 更新 TODO.md - School 教材功能完成
  TODO.md
Due: none

docs: 更新 TODO.md - 簡化並更新專案狀態
  PRD.md
  TODO.md
  docs/MATERIALS_ARCHITECTURE.md
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript

fix(frontend): 優化 ProgramTreeView 拖曳和狀態更新
  docs/plans/2026-01-16-reorder-fix-programtreeview.md
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript

feat(backend): add scope-aware reorder endpoints for programs/lessons/contents
  backend/routers/programs.py
Due: check-import-patterns

feat(frontend): add scope-aware reorder methods to useProgramAPI
  frontend/src/hooks/useProgramAPI.ts
Due: typescript

feat(frontend): add scope props to ProgramTreeView interface
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

feat(frontend): implement internal reorder handlers in ProgramTreeView
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

refactor(frontend): simplify MaterialsPage - remove reorder logic, add scope props
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript
