Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

feat: 完成 TapPay 金流整合與 Sandbox 測試
  backend/routers/payment.py
  backend/services/tappay_service.py
  frontend/index.html
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

chore: 移除過時的手動測試指南
  MANUAL_TEST_GUIDE.md
Due: none

fix: 新增 TapPay 環境變數到 CI/CD 配置
  .github/workflows/deploy-frontend.yml
  frontend/Dockerfile
  frontend/Dockerfile.staging
Due: none

refactor: 清理 TapPay Backend 配置並新增測試
  .github/workflows/deploy-backend.yml
  backend/services/tappay_service.py
  backend/tests/unit/test_tappay_service.py
  test_tappay_integration.py
Due: black, flake8

fix: 移除 staging/production 的測試模式 UI
  backend/clear_demo_subscription.py
  backend/routers/subscription.py
  backend/setup_test_accounts.py
  frontend/src/components/TeacherLoginModal.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

refactor: 移除 MOCK payment 邏輯，只使用 TapPay Sandbox/Production
  backend/routers/payment.py
Due: black, flake8

style: 更新 Email 驗證按鈕為深色主題
  frontend/src/pages/StudentDashboard.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 實作學生統計資料 API 與 Dashboard 整合
  CLAUDE.md
  backend/routers/students.py
  frontend/src/components/LessonDialog.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復 Program level/tags 無法儲存及 CRUD soft delete 問題
  backend/routers/teachers.py
  backend/schemas.py
  backend/tests/unit/test_content_crud_api.py
  backend/tests/unit/test_lesson_crud_api.py
  backend/tests/unit/test_program_crud_api.py
Due: black, flake8

refactor: 移除 API Client 無用的 token 狀態管理
  frontend/src/lib/api.ts
Due: eslint, typescript, prevent-hardcoded-urls

feat: 新增 PricingPage 與 TeacherSubscription RWD 與 Dark Mode 支援
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 實作 ApiError 自訂錯誤類別改善 API 錯誤處理 (TDD)
  frontend/src/lib/__tests__/api.error-handling.test.ts
  frontend/src/lib/api.ts
Due: eslint, typescript, prevent-hardcoded-urls

feat: 完整教師後台 RWD - TeacherLayout、TeacherStudents、StudentTable
  frontend/src/components/StudentTable.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: TeacherTemplatePrograms 完整 RWD 與 Dark Mode 支援
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: TeacherClassrooms 完整 RWD 與 Dark Mode 支援
  frontend/src/pages/teacher/TeacherClassrooms.tsx
Due: eslint, typescript, prevent-hardcoded-urls

security: 修復 5 個關鍵認證安全漏洞
  backend/SECURITY_FIXES.md
  backend/auth.py
  backend/main.py
  backend/requirements.txt
  backend/routers/auth.py
  frontend/src/lib/api.ts
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

test: 修復認證測試配置並重構 rate limiter
  backend/core/limiter.py
  backend/main.py
  backend/routers/auth.py
  backend/tests/conftest.py
  backend/tests/integration/auth/test_auth.py
Due: black, flake8

feat: 完整教師後台 RWD - 作業詳情、學生列表、移除設定按鈕
  frontend/src/components/TeacherLayout.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

docs: 新增 RWD 測試報告與修復總結文檔
  frontend/RWD_AUDIT_REPORT.md
  frontend/RWD_FIXES_SUMMARY.md
Due: none
