Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: address Claude Code Review feedback for PR #381
  backend/routers/credit_packages.py
  backend/services/email_service.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(#228): 點數包加購功能（Credit Packages） (#381)
  backend/config/plans.py
  backend/main.py
  backend/models/__init__.py
  backend/models/credit_package.py
  backend/models/organization.py
  backend/models/subscription.py
  backend/models/user.py
  backend/routers/credit_packages.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/services/email_service.py
  backend/services/quota_service.py
  backend/tests/unit/test_credit_packages.py
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/constants/plans.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

fix: add credit_packages to RLS exclusion list in deploy workflow
  .github/workflows/deploy-backend.yml
Due: none

fix(#379): 修正單字選擇每輪重複選同樣 10 個字的問題
  backend/alembic/versions/20260303_1000_fix_word_selection_repetition.py
  backend/tests/unit/test_word_selection_phase_logic.py
Due: check-import-patterns

style: apply Black formatting to migration file
  backend/alembic/versions/20260303_1000_fix_word_selection_repetition.py
Due: check-import-patterns

fix: address Claude Code Review feedback
  backend/alembic/versions/20260303_1000_fix_word_selection_repetition.py
Due: check-import-patterns

fix(#379): 修正單字選擇每輪重複選同樣10個字的問題 (#382)
  backend/alembic/versions/20260303_1000_fix_word_selection_repetition.py
  backend/tests/unit/test_word_selection_phase_logic.py
Due: check-import-patterns

fix(#353): 干擾項改為跨 content 生成，移除 content 編輯時自動生成
  backend/routers/assignments/crud.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(#353): 干擾項改用同作業單字翻譯並限制僅單字選擇模式顯示
  backend/routers/assignments/crud.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: resolve Black formatting in crud.py for PR #371
  backend/routers/assignments/crud.py
Due: check-import-patterns

fix: address Claude Code Review feedback for PR #371
  backend/routers/assignments/crud.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(#353): 修正 distractors 為字串 "null" 時未被判定為無效的問題
  backend/routers/assignments/crud.py
  backend/routers/teachers/assignment_ops.py
Due: check-import-patterns

fix(#353): address Claude Code Review - isinstance guard, threshold alignment, remove AI generation
  backend/routers/students/assignments.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(#379): 修正老師預覽/Demo模式單字選擇每輪重複的問題
  backend/routers/demo.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

fix: exclude_ids 改為 per-token 解析避免單一無效值丟失全部排除清單
  backend/routers/demo.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
Due: check-import-patterns

fix(#353): 干擾項改用同作業單字翻譯並限制僅單字選擇模式顯示 (#371)
  backend/routers/assignments/crud.py
  backend/routers/students/assignments.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix(#379): 修正老師預覽/Demo模式單字選擇每輪重複的問題 (#383)
  backend/routers/demo.py
  backend/routers/teachers.py
  backend/routers/teachers/assignment_ops.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

feat(#356): AI 助手 — 統一 AI 大腦 + HubChat 自然語言路由
  backend/routers/ai_assistant.py
  frontend/src/components/ai-assistant/AiAssistantMenu.tsx
  frontend/src/components/ai-assistant/AiAssistantPanel.tsx
  frontend/src/components/ai-assistant/chat/ChatInput.tsx
  frontend/src/components/ai-assistant/flows/AddClassroomChat.tsx
  frontend/src/components/ai-assistant/flows/AddStudentsChat.tsx
  frontend/src/components/ai-assistant/flows/AddTeacherChat.tsx
  frontend/src/components/ai-assistant/flows/FindFeatureChat.tsx
  frontend/src/components/ai-assistant/flows/HubChat.tsx
  frontend/src/components/ai-assistant/flows/QuickStartChat.tsx
  frontend/src/components/ai-assistant/flows/add-classroom-flow.ts
  frontend/src/components/ai-assistant/flows/add-students-flow.ts
  frontend/src/components/ai-assistant/flows/add-teacher-flow.ts
  frontend/src/components/ai-assistant/useAiAssistant.ts
  frontend/src/components/ai-assistant/useHubCooldown.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

fix: add missing migrations from staging for per-issue deploy
  backend/alembic/versions/20260227_1000_add_assignment_archive.py
  backend/alembic/versions/20260302_1000_backfill_word_selection_distractors.py
  backend/alembic/versions/20260302_1100_add_credit_packages.py
  backend/alembic/versions/20260303_1000_fix_word_selection_repetition.py
Due: check-import-patterns

chore(#241): add oauth_identities table and has_password migration
  backend/alembic/versions/20260306_1200_add_oauth_identities_and_has_password.py
Due: check-import-patterns

chore(#241): add oauth_identities table and has_password migration (#391)
  backend/alembic/versions/20260306_1200_add_oauth_identities_and_has_password.py
Due: check-import-patterns

style: fix Black formatting for new OAuth files
  backend/models/oauth_identity.py
  backend/services/oauth_service.py
Due: check-import-patterns

feat(#241): SSO 基礎建設 + auth flow 修正 (#310)
  .github/workflows/deploy-backend.yml
  backend/migrations/add_oauth_identities.sql
  backend/models/__init__.py
  backend/models/oauth_identity.py
  backend/models/user.py
  backend/services/oauth_service.py
  frontend/src/lib/api.ts
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/stores/studentAuthStore.ts
  frontend/src/stores/teacherAuthStore.ts
Due: typescript, check-import-patterns

fix: move oauth migration to alembic and remove orphan SQL file
  backend/migrations/add_oauth_identities.sql
Due: none

fix(#378): 移除重複的「查看詳情」fallback 按鈕
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#378): 作業管理頁面 UI/UX 優化 — 減少雜亂、支援頁內編輯
  frontend/src/components/AssignmentDetailSheet.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#378): Sheet 加入批改按鈕與作業內容編輯功能
  frontend/src/components/AssignmentDetailSheet.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#378): Sheet 學生進度列表加入成績顯示
  frontend/src/components/AssignmentDetailSheet.tsx
Due: typescript

fix: resolve Prettier formatting for PR #384
  frontend/src/components/AssignmentDetailSheet.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#230): 學生帳號整合系統 - StudentIdentity 統一身分
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
  backend/auth.py
  backend/models/__init__.py
  backend/models/user.py
  backend/routers/auth.py
  backend/routers/students/account_management.py
  backend/routers/students/auth.py
  backend/routers/students/email_verification.py
  backend/routers/students/validators.py
  backend/services/student_identity_service.py
  frontend/src/components/AccountSwitcher.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/services/authService.ts
  frontend/src/stores/studentAuthStore.ts
Due: typescript, check-import-patterns

style: fix Prettier and Black formatting for CI checks
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
  backend/models/user.py
  backend/routers/students/account_management.py
  backend/services/student_identity_service.py
  frontend/src/components/AccountSwitcher.tsx
  frontend/src/services/authService.ts
Due: typescript, check-import-patterns

fix(#365): 統一單字集/例句集儲存後流程 - 即時更新不重整頁面
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(#365): address Claude Code Review feedback - sync full content on edit
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(#365): fix silent skip when editingContent.title is falsy
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(#365): remove debug console.log in SchoolMaterialsPage onUpdateContent
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
Due: typescript

fix(#365): close sheet after saving example sentences in edit mode
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

style: fix Prettier formatting for resource materials pages
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript

fix(#309): sidebar 與組織快捷卡片 i18n 國際化
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/OrganizationEditSections.tsx
Due: typescript

fix(#309): 資源教材頁面 i18n 國際化
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
