Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migration-format, prevent-hardcoded-urls

check-migration-format:
  name: Check Alembic migration file format
  entry: python backend/hooks/check_migration_format.py
  language: python
  pass_filenames: true

prevent-hardcoded-urls:
  name: Prevent hardcoded localhost URLs
  entry: bash -c 'if grep -r "localhost:[0-9]" frontend/src/ 2>/dev/null; then echo "Error - Hardcoded localhost URL found - Use environment variables"; exit 1; fi'
  language: system
  pass_filenames: false

feat: complete assignment system with real data and improved UI/UX
  backend/routers/assignments.py
  backend/seed_data.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: prevent-hardcoded-urls

fix: configure ESLint properly for TypeScript and React
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: prevent-hardcoded-urls

fix: resolve all ESLint warnings and critical errors
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/LessonDialog.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/ProgramDialogs.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/test_audio_e2e.js
Due: prevent-hardcoded-urls

fix: remove dead code to pass CI/CD lint check
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: prevent-hardcoded-urls

fix: update CI/CD to allow ESLint warnings
  .github/workflows/deploy-staging-supabase.yml
  frontend/package.json
Due: none

fix: correct Alembic revision IDs to fix CI/CD deployment
  backend/alembic/versions/20250831_0000_624bfd9ff075_initial_schema.py
  backend/alembic/versions/20250901_0116_87293915d363_add_is_active_to_lesson_and_content.py
  backend/fix_alembic_supabase.py
Due: check-migration-format

fix: update lesson list immediately after adding new lesson
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: prevent-hardcoded-urls

feat: add student completion dashboard and improve assignment management
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/LessonDialog.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/StudentCompletionDashboard.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/test/setup.ts
  frontend/tests/e2e/assignment-dashboard.spec.ts
  frontend/tests/e2e/assignment-quick-test.spec.ts
Due: prevent-hardcoded-urls

feat: 實現完整的作業系統架構（支援多內容、個別指派、進度追蹤）
  PRD.md
  backend/alembic/versions/20250831_0000_624bfd9ff075_initial_schema.py
  backend/alembic/versions/20250901_0116_87293915d363_add_is_active_to_lesson_and_content.py
  backend/alembic/versions/20250902_0558_3b9bb9621124_initial_complete_schema.py
  backend/models.py
  backend/routers/assignments.py
  backend/seed_data.py
  backend/tests/integration/api/test_assignment_complete.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: check-migration-format, prevent-hardcoded-urls

fix: resolve TypeScript compilation errors and ESLint warnings
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ProgramDialogs.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/components/__tests__/ReadingAssessmentPanel.test.tsx
  frontend/src/components/__tests__/StudentTable.test.tsx
Due: prevent-hardcoded-urls

feat: 完善作業管理系統與生命週期追蹤
  PRD.md
  backend/main.py
  backend/routers/assignments.py
  backend/routers/unassign.py
  backend/schemas.py
  backend/tests/integration/api/test_assign_student.py
  backend/tests/integration/api/test_assignment_complete.py
  backend/tests/integration/api/test_assignments.py
  backend/tests/integration/api/test_unassign.py
  backend/tests/unit/test_assignment_models.py
  backend/tests/unit/test_assignment_schemas.py
  frontend/src/App.tsx
  frontend/src/components/ProgramDialogs.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/components/__tests__/ReadingAssessmentPanel.test.tsx
  frontend/src/components/__tests__/StudentTable.test.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: prevent-hardcoded-urls

feat: 實現作業狀態時間戳追蹤與測試重構
  backend/alembic/versions/20250902_2037_6c42743b461f_initial_complete_schema.py
  backend/models.py
  backend/routers/assignments.py
  backend/scripts/test_lessons_api.py
  backend/scripts/test_program_crud_api.py
  backend/scripts/test_real_students_data_api.py
  backend/seed_data.py
  backend/tests/e2e/test_audio_workflow.py
  backend/tests/e2e/test_student_management_workflow.py
  backend/tests/integration/api/test_ai_grading.py
  backend/tests/integration/api/test_assignment_creation.py
  backend/tests/integration/api/test_assignment_lists.py
  backend/tests/integration/api/test_assignment_timestamps.py
  backend/tests/integration/api/test_assignments.py
  backend/tests/integration/api/test_audio_all.py
  backend/tests/integration/api/test_local_student_management.py
  backend/tests/integration/api/test_manual_grading.py
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: check-migration-format, prevent-hardcoded-urls

fix: update all .env files with Supabase credentials and fix migration
  backend/fix_staging_migration.py
Due: none

fix: 修復 router prefix 錯誤並建立自動化測試
  .github/workflows/test-routers.yml
  backend/.github/hooks/check-router-prefixes.py
  backend/routers/assignments.py
  backend/routers/unassign.py
  backend/tests/integration/test_all_api_endpoints.py
  backend/tests/unit/test_router_configuration.py
Due: none

fix: remove old architecture DELETE route to prevent conflicts
  backend/routers/assignments.py
Due: none

chore: remove duplicate test-routers workflow
  .github/workflows/test-routers.yml
Due: none

fix: unify frontend API paths to match backend routes
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: prevent-hardcoded-urls

feat: implement comprehensive grading system with status flow
  .gitignore
  backend/main.py
  backend/routers/assignments.py
  backend/routers/files.py
  frontend/src/App.tsx
  frontend/src/components/GradingModal.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/StudentGradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: prevent-hardcoded-urls

fix: resolve TypeScript type errors and ESLint warnings
  frontend/src/components/GradingModal.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: prevent-hardcoded-urls

chore: add .flake8 config with industry best practices
  .flake8
Due: none

test: verify flake8 config works
  backend/main.py
Due: none

test: verify all hooks work correctly
  test.js
  test.py
Due: none

test: verify hooks work on backend files
  backend/main.py
  test.js
  test.py
Due: none

chore: remove test comments
  backend/main.py
Due: none

fix: resolve all flake8 linting errors
  CLAUDE.md
  backend/scripts/linting/fix_flake8_batch.py
  backend/tests/e2e/test_all_features.py
  backend/tests/e2e/test_audio_workflow.py
  backend/tests/e2e/test_student_management_workflow.py
  backend/tests/integration/api/test_assignment_creation.py
  backend/tests/integration/api/test_assignment_detail.py
  backend/tests/integration/api/test_audio_features.py
  backend/tests/integration/api/test_manual_grading.py
  backend/tests/integration/api/test_public_endpoints.py
  backend/tests/integration/api/test_reorder.py
  backend/tests/integration/api/test_students_comprehensive.py
  backend/tests/integration/api/test_teacher_demo.py
  backend/tests/integration/api/test_teachers_additional_coverage.py
  backend/tests/integration/api/test_teachers_comprehensive.py
  backend/tests/integration/api/test_teachers_crud_endpoints.py
  backend/tests/integration/auth/test_auth_comprehensive.py
  backend/tests/integration/auth/test_auth_missing_coverage.py
  backend/tests/integration/test_all_api_endpoints.py
  backend/tests/integration/test_database_comprehensive.py
  backend/tests/unit/test_assignment_schemas.py
  backend/tests/unit/test_router_configuration.py
  backend/verify_audio_working.py
Due: none

fix: resolve all TypeScript and ESLint errors
  .pre-commit-config.yaml
  backend/hooks/check_migration_format.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teacher.py
  backend/routers/teachers.py
  backend/routers/unassign.py
  backend/seed_data.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/__tests__/StudentLogin.test.tsx
  frontend/src/pages/__tests__/TeacherLogin.test.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
  frontend/src/types/index.ts
Due: prevent-hardcoded-urls

feat: implement student portal with assignment management
  frontend/playwright-report/index.html
  frontend/src/App.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/types/index.ts
  frontend/tests/e2e/student-assignment-flow.spec.ts
  frontend/tests/e2e/student-screenshot-test.spec.ts
  frontend/tests/e2e/test-student-login-flow.spec.ts
Due: prevent-hardcoded-urls

fix: resolve all linting and formatting issues
  backend/tests/e2e/test_real_api.py
  backend/tests/integration/api/test_assign_student.py
  backend/tests/integration/api/test_assignment_complete.py
  backend/tests/integration/api/test_assignment_detail.py
  backend/tests/integration/api/test_audio_features.py
  backend/tests/integration/api/test_classroom_api.py
  backend/tests/integration/api/test_classroom_deletion.py
  backend/tests/integration/api/test_student_api.py
  backend/tests/integration/api/test_student_classroom_assignment.py
  backend/tests/integration/api/test_student_crud_unassigned.py
  backend/tests/integration/api/test_student_deletion_soft_delete.py
  backend/tests/integration/api/test_teacher_api.py
  backend/tests/integration/api/test_unassign.py
  backend/tests/integration/auth/test_auth_comprehensive.py
  frontend/tests/e2e/student-screenshot-test.spec.ts
  frontend/tests/e2e/test-student-assignments.spec.ts
  frontend/tests/e2e/test-student-login-flow.spec.ts
  test-results/.last-run.json
  test-results/audio-e2e-音檔功能完整測試-完整音檔功能流程-chromium/error-context.md
  test-results/audio-e2e-音檔功能完整測試-完整音檔功能流程-chromium/test-failed-1.png
Due: none

feat: implement comprehensive student activity page with audio and recording
  frontend/TEST_RESULTS.md
  frontend/src/App.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/test-student-activity.html
  frontend/tests/e2e/test-student-activity.spec.ts
Due: prevent-hardcoded-urls

feat: integrate student activity page with real API data and activity templates
  backend/alembic/versions/20250905_2008_fec3ec42ce70_add_template_and_source_tracking_to_.py
  backend/main.py
  backend/models.py
  backend/routers/programs.py
  backend/routers/students.py
  backend/schemas.py
  frontend/src/App.tsx
  frontend/src/components/activities/ListeningClozeTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/SpeakingPracticeTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageV2.tsx
Due: check-migration-format, prevent-hardcoded-urls

feat: implement public course template system
  backend/alembic/versions/20250902_2037_6c42743b461f_initial_complete_schema.py
  backend/alembic/versions/20250905_2008_fec3ec42ce70_add_template_and_source_tracking_to_.py
  backend/routers/programs.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/routers/unassign.py
  backend/seed_data.py
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: check-migration-format, prevent-hardcoded-urls

feat: 改進標籤輸入元件，提供更友善的使用者體驗
  backend/seed_template_programs.py
  frontend/playwright-report/index.html
  frontend/src/components/CopyProgramDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/tag-input.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: prevent-hardcoded-urls

feat: 改進課程複製介面，支援班級分組和收合功能
  frontend/src/components/CreateProgramDialog.tsx
Due: prevent-hardcoded-urls

style: 改進 Tab 選中狀態為藍色高亮
  frontend/src/components/CreateProgramDialog.tsx
Due: prevent-hardcoded-urls

fix: 修復公版課程模板標籤儲存功能並加入排序
  backend/routers/programs.py
  backend/schemas.py
  frontend/src/components/CopyProgramDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/ui/tag-input.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
  frontend/src/types/index.ts
  frontend/test_tags_frontend.html
Due: prevent-hardcoded-urls

refactor: 整合公版課程模板 seed 到主要 seed_data.py
  backend/seed_data.py
  backend/seed_template_programs.py
Due: none

feat: add db-seed-staging-pooler as backup seed method
  Makefile
Due: none

Path conditions:
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
