Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

refactor: improve code quality based on review feedback
  backend/routers/students/assignments.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

fix: remove grading/viewResult buttons for rearrangement/word_selection modes (#196)
  backend/alembic/versions/20260127_1954_update_practice_mode_constraint.py
  backend/alembic/versions/20260128_fix_auto_graded_historical_data.py
  backend/models/progress.py
  backend/routers/students/assignments.py
  backend/tests/unit/test_assignment_workflows.py
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: format code with Black and Prettier
  backend/alembic/versions/20260127_1954_update_practice_mode_constraint.py
  backend/alembic/versions/20260128_fix_auto_graded_historical_data.py
  backend/routers/students/assignments.py
  backend/tests/unit/test_assignment_workflows.py
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript, check-import-patterns

feat(spec): 補充建立機構feature完整欄位
  spec/features/organization/建立機構.feature
Due: none

fix(fullstack): add workspace filtering with authorization to programs API
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

feat: add admin organization creation schemas
  backend/routers/schemas/admin_organization.py
Due: check-import-patterns

fix(frontend): wrap TeacherTemplatePrograms with WorkspaceProvider
  docs/plans/2026-01-29-admin-organization-creation.md
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat: add admin endpoint to create organization and assign owner
  backend/routers/admin.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

feat: add admin UI for organization creation
  frontend/src/App.tsx
  frontend/src/pages/admin/CreateOrganization.tsx
  frontend/src/types/admin.ts
Due: typescript

fix: apply code review fixes to CreateOrganization
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

feat: add organization management tab to admin dashboard
  frontend/src/pages/admin/AdminDashboard.tsx
Due: typescript

fix(frontend): resolve organization name not updating in sidebar after edit
  frontend/src/components/organization/OrganizationEditDialog.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/OrganizationsListPage.tsx
Due: typescript

docs: add admin organization creation guide
  README.md
  docs/admin/organization-creation-guide.md
Due: none

fix(backend): deduplicate teacher count in organization statistics
  backend/routers/organizations.py
  backend/tests/manual_test_teacher_dedup.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

fix: redirect to /admin after org creation instead of non-existent route
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

fix(issue-112): Add status toggle UI for staff member management
  frontend/src/components/organization/StaffTable.tsx
Due: typescript

feat(admin): add organization teacher statistics endpoint
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

feat: add teacher lookup endpoint for admin org creation form
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

feat(admin): support project staff assignment in org creation
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

feat(frontend): update admin types for Phase 1 features
  frontend/src/types/admin.ts
Due: typescript

feat(frontend): display owner info when email entered
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

fix: add debouncing and improve error handling in owner lookup
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

feat(frontend): add project staff multi-select field
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

fix: improve email validation and accessibility in CreateOrganization
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

feat(frontend): add teacher usage statistics card component
  frontend/src/components/organization/TeacherUsageCard.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
Due: typescript

test: add Phase 1 E2E test report
  docs/testing/2026-01-30-phase1-test-report.md
Due: none

docs: mark Phase 1 as complete
  ORG_PRD.md
  TODO.md
  docs/plans/2026-01-30-admin-org-creation-extended-features-design.md
Due: none

feat: display student number in assignment student selector
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix: correct student_number field name in /api/teachers/classrooms
  backend/routers/teachers/classroom_ops.py
Due: check-import-patterns

feat: sort student lists by student_number
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript

feat(admin): improve org creation + cleanup unused eslint-disable
  backend/routers/admin.py
  backend/tests/test_admin_organizations.py
  frontend/src/components/TeacherLayout.tsx
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript, check-import-patterns

fix(frontend): resolve WorkspaceProvider timing issue in TeacherLayout
  frontend/src/components/TeacherLayout.tsx
Due: typescript

feat(frontend): add school materials to sidebar in organization mode
  frontend/src/components/TeacherLayout.tsx
  frontend/src/config/sidebarConfig.tsx
Due: typescript

fix(backend): add school_id/organization_id params to getTeacherPrograms API
  backend/routers/teachers/program_ops.py
Due: check-import-patterns

fix(frontend): fix TeacherTemplatePrograms to always query personal materials
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(frontend): remove unused workspace dependencies causing ReferenceError
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat(frontend): add school materials tab to CreateProgramDialog
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(frontend): use correct API endpoint for copying school programs
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/lib/api.ts
Due: typescript

feat(frontend): disable student and material management in org mode
  frontend/src/components/StudentTable.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
Due: typescript

fix(org-mode): enable org admin to copy school materials and filter classrooms by school
  backend/routers/programs.py
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
