Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

feat(ui): collapse sidebar bottom actions into account popup menu
  frontend/src/components/TeacherLayout.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat(ui): collapse sidebar bottom actions into account popup menu (#232)
  frontend/src/components/TeacherLayout.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(ui): sidebar account menu - white submenu bg & clear stale roles on login
  frontend/src/components/TeacherLayout.tsx
  frontend/src/stores/teacherAuthStore.ts
Due: typescript

fix(ui): sidebar account menu - white submenu bg & clear stale roles on login (#233)
  frontend/src/components/TeacherLayout.tsx
  frontend/src/stores/teacherAuthStore.ts
Due: typescript

fix: 組織教材頁 VocabularySetPanel 未載入內容
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

fix: address code review - conditional object creation & remove unused prop
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

test: add VocabularySetPanel and ProgramTreeView vocabulary editor tests
  frontend/src/components/__tests__/VocabularySetPanel.test.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

fix: 組織教材頁單字集內容未載入 (#234)
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/__tests__/VocabularySetPanel.test.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

feat(speech): add points deduction to upload-analysis with idempotency
  backend/routers/speech_assessment.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/hooks/useAutoAnalysis.ts
  frontend/src/services/azureSpeechService.ts
Due: typescript, check-import-patterns

fix: add root cause report #240
  spec/bug-240-org-batch-import-students/ROOT_CAUSE_REPORT.md
Due: none

docs: add comprehensive spec for issue #241 teacher invitation & SSO
  spec/README.md
  spec/issue-241-teacher-invitation-sso/01-CURRENT_FLOW_ANALYSIS.md
  spec/issue-241-teacher-invitation-sso/02-PHASE1_IMMEDIATE_FIX.md
  spec/issue-241-teacher-invitation-sso/06-DATA_MODEL_CHANGES.md
  spec/issue-241-teacher-invitation-sso/08-1CAMPUS_SSO_REFERENCE.md
  spec/issue-241-teacher-invitation-sso/README.md
Due: none

fix: 完整修復長文本遮蔽與下拉選單重疊問題 #236
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
Due: typescript

fix: 改用多行顯示取代截斷，解決長文本遮蔽按鈕問題 #236
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
Due: typescript

feat: 添加翻譯上下文與單元描述支援以改善 AI 例句生成 #203
  backend/routers/teachers/translation_ops.py
  backend/routers/teachers/validators.py
  backend/services/translation.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

fix: 修复例句集批次翻译失败问题 #242
  backend/services/translation.py
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript, check-import-patterns

debug: 添加難度預設調試日誌以診斷 #203 問題 4
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

feat: 批次贴上实时限制到 25 个项目
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

fix: 新建 Content 自動繼承 Program 難度等級 #203
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix: ContentCreate schema level 預設值改為 None #203
  backend/routers/teachers/validators.py
Due: check-import-patterns

fix: 修正批量匯入學生 422 錯誤導致白屏崩潰 (#240)
  frontend/src/components/organization/ImportStudentsDialog.tsx
  frontend/src/lib/api.ts
Due: typescript

fix(speech): correct PointUsageLog import path - was causing container startup failure
  backend/routers/speech_assessment.py
Due: check-import-patterns

fix: use feature_detail JSON field for PointUsageLog idempotency check
  backend/routers/speech_assessment.py
Due: check-import-patterns

fix: correct SQLAlchemy JSON query syntax for idempotency check
  backend/routers/speech_assessment.py
Due: check-import-patterns

fix: include analysis_id in OrganizationPointsLog description for idempotency
  backend/services/organization_points_service.py
Due: check-import-patterns

fix: Content 正確繼承 Program 難度等級 #250
  backend/routers/teachers/content_ops.py
  backend/tests/unit/test_content_crud_api.py
Due: check-import-patterns

fix: 組織工作人員管理 - 啟用/停用狀態與授權數限制修復 (#247)
  backend/routers/organizations.py
Due: check-import-patterns

feat: 階段1 - 前端抓取並顯示 Program level #250
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useProgramTree.ts
Due: typescript

fix: TeacherTemplatePrograms 傳遞 programLevel 到 VocabularySetPanel #250
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat: AI 生成造句 modal 預選 Program level #250
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript, check-import-patterns

fix: address code review - role check bug, org_owner protection, tests (#247)
  backend/routers/organizations.py
  backend/tests/test_organization_teachers.py
Due: check-import-patterns

fix(ui): differentiate VOCABULARY_SET and EXAMPLE_SENTENCES icons (#251)
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/shared/programTreeConfig.tsx
  frontend/src/lib/contentTypeIcon.ts
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript

feat: 新增網站 favicon 與 PWA 圖示 #264
  .gitignore
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
Due: none

fix(ui): differentiate VOCABULARY_SET and EXAMPLE_SENTENCES icons (#251) (#265)
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/shared/programTreeConfig.tsx
  frontend/src/lib/contentTypeIcon.ts
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript

fix: race condition protection + inactive→org_owner test (#247)
  backend/routers/organizations.py
  backend/tests/test_organization_teachers.py
Due: check-import-patterns

chore: remove debug console.log from VocabularySetPanel #203
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix: 組織工作人員管理 - 啟用/停用狀態與授權數限制修復 (#261)
  backend/routers/organizations.py
  backend/tests/test_organization_teachers.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
