Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=120
  - --ignore=E203,W503

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --ext ts,tsx src --max-warnings 0'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-migration-format:
  name: Check Alembic migration file format
  entry: python backend/hooks/check_migration_format.py
  language: python
  pass_filenames: true

prevent-hardcoded-urls:
  name: Prevent hardcoded localhost URLs
  entry: bash -c 'if grep -r "localhost:[0-9]" frontend/src/ 2>/dev/null; then echo "Error - Hardcoded localhost URL found - Use environment variables"; exit 1; fi'
  language: system
  pass_filenames: false

fix: 改進 CI/CD 憑證檢查，排除測試檔案避免誤報
  .github/workflows/deploy-staging-supabase.yml
Due: none

feat: 更新使用者條款公司資訊
  frontend/src/pages/TermsOfService.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 建立方案頁面
  frontend/src/App.tsx
  frontend/src/pages/PricingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 優化 Footer 和方案頁面細節
  frontend/src/pages/Home.tsx
  frontend/src/pages/PricingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 改進方案頁面切換按鈕顯示
  frontend/src/pages/PricingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 改進方案頁面，直接顯示月付和半年付價格
  frontend/src/pages/PricingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 實作老師批改功能的資料庫架構
  backend/alembic/versions/20250919_2358_c6bf62567aa6_add_teacher_review_fields_to_.py
  backend/main.py
  backend/models.py
  backend/routers/teacher_review.py
  backend/schemas.py
Due: black, flake8, check-migration-format

feat: 完整實作教師批改功能 - 單題評語與通過狀態
  backend/.gitignore
  backend/alembic/versions/20250920_1529_e2c561f95920_add_teacher_passed_field_to_student_.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/teacher_review.py
  backend/tests/integration/api/test_teacher_grading_complete.py
  backend/tests/integration/api/test_teacher_review.py
  frontend/src/pages/teacher/GradingPage.tsx
Due: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

test: Test pre-push CI/CD hook
  README.md
Due: none

fix: Remove broken test files and simplify pre-push hook
  README.md
  backend/tests/integration/test_content_migration_contract.py
  backend/tests/unit/test_student_item_progress_model.py
Due: black, flake8

fix: Use jose jwt instead of jwt module to fix CI/CD import error
  backend/core/security.py
  backend/routers/teacher_review.py
Due: black, flake8

chore: 遷移到新的 GCP 專案 duotopia-472708
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 設定正確的 GCP 專案 ID 為 duotopia-472708
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 修復批改頁面深色模式下評語區背景顏色問題
  backend/.gitignore
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

chore: Update GCP project ID in .env.example
  backend/.env.example
Due: none

fix: 修復音頻播放器深色模式下背景變黑問題
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復題目教師評語輸入框深色模式背景問題
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 移除本地檔案儲存，強制使用 Google Cloud Storage
  backend/main.py
  backend/routers/files.py
  backend/services/audio_upload.py
  backend/tests/integration/test_gcs_upload_real.py
  backend/tests/unit/test_audio_upload.py
  frontend/src/pages/teacher/GradingPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復 AI 語音評估認證問題和 GCS 服務初始化
  backend/.gitignore
  backend/auth.py
  backend/services/audio_upload.py
Due: black, flake8

feat: 批改頁面顯示所有學生，包含未指派作業的學生
  backend/routers/assignments.py
Due: black, flake8

fix: 前端批改頁面學生狀態顯示和同步優化
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復批改頁面學生導航邏輯，避免未指派學生導致錯誤
  frontend/src/pages/teacher/GradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 PricingPage 移除半年訂閱選項
  frontend/src/pages/PricingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 patch_assignment API 未創建 StudentContentProgress 的問題
  backend/routers/assignments.py
  backend/tests/integration/api/test_create_assignment_content_progress.py
  backend/tests/integration/api/test_patch_assignment_content_progress.py
Due: black, flake8

fix: 完整修復作業指派時未創建 StudentItemProgress 的問題
  backend/routers/assignments.py
Due: black, flake8

fix: 完成進度記錄自動創建功能並移除無效屬性
  backend/routers/assignments.py
  backend/routers/students.py
  backend/tests/integration/api/test_auto_create_progress_records.py
Due: black, flake8

feat: 簡化訂閱狀態邏輯並添加測試工具
  PRD.md
  backend/MIGRATION_COMPLETION_SUMMARY.md
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
  backend/alembic/versions/20250921_2345_a3cf45fb8eea_add_teacher_subscription_transaction_.py
  backend/database.py
  backend/main.py
  backend/manual_test_guide.md
  backend/models.py
  backend/n_plus_one_analysis.md
  backend/routers/admin.py
  backend/routers/assignments.py
  backend/routers/auth.py
  backend/routers/subscription.py
  backend/routers/teachers.py
  backend/routers/test_subscription.py
  backend/services/email_service.py
  backend/tests/integration/api/test_teacher_registration_email.py
  backend/tests/integration/api/test_teacher_subscription_flow.py
  backend/tests/integration/auth/test_teacher_email_verification.py
  frontend/src/App.tsx
  frontend/src/pages/TeacherDashboard.tsx
  frontend/src/pages/TeacherDashboardWithSidebar.tsx
  frontend/src/pages/TeacherEmailVerification.tsx
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/pages/TeacherVerifyEmail.tsx
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

feat: 實作教師密碼重設功能
  backend/alembic/versions/20250922_0859_12578a583628_add_password_reset_fields_to_teacher_.py
  backend/models.py
  backend/routers/auth.py
  backend/seed_data.py
  backend/services/email_service.py
  backend/tests/integration/auth/test_teacher_password_reset.py
  backend/tests/integration/auth/test_teacher_password_reset_simple.py
  frontend/src/App.tsx
  frontend/src/pages/TeacherForgotPassword.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherResetPassword.tsx
Due: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

fix: 更新訂閱測試工具標題及說明文字
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 完成教師註冊、密碼重設與訂閱測試系統
  docs/FEATURE_SPEC_TEACHER_PASSWORD_RESET.md
Due: none

fix: 修復 migration 75d0959d6f50 移除錯誤的約束刪除操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 在 AssignmentContent 模型中補上遺漏的約束定義
  .github/workflows/deploy-staging-supabase.yml
  backend/models.py
Due: black, flake8

fix: 移除 migration 75d0959d6f50 中錯誤的 assignments.status 欄位刪除
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 移除 migration 75d0959d6f50 中錯誤的 is_active 欄位添加操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 移除 migration 75d0959d6f50 中所有錯誤的約束操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 移除 migration 75d0959d6f50 中重複的欄位操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 移除 migration 75d0959d6f50 中錯誤的索引刪除操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 修復 migration 75d0959d6f50 剩餘問題
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 完整重寫 migration 75d0959d6f50 移除所有問題操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

chore: 暫時停用 Secret Detection 避免 Docker 建置卡住
  .github/workflows/deploy-staging-supabase.yml
Due: none

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
