Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

docs: 新增學生作業提交失敗(OOM)修復計劃
  docs/plans/fix-assignment-submission-oom.md
Due: none

refactor: slim down CLAUDE.md - inherit from global
  .claude/settings.json
  CLAUDE.md
Due: none

fix(issue-112): Fix all QA bugs and add tax_id feature
  .pre-commit-config.yaml
  FINAL_TEST_SUMMARY.md
  ORG_QA.md
  PRD-ORGANIZATION-PORTAL-SEPARATION.md
  backend/BUGFIX-dashboard-500-error.md
  backend/alembic/versions/20260110_1400_add_tax_id_to_organizations.py
  backend/models/organization.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/teachers/classroom_ops.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/student_ops.py
  frontend/QUICK_VERIFICATION.md
  frontend/src/components/organization/AssignPrincipalDialog.tsx
  frontend/src/components/organization/InviteTeacherToSchoolDialog.tsx
  frontend/src/contexts/OrganizationContext.tsx
  frontend/src/pages/organization/OrganizationDashboard.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript, check-import-patterns

fix(security): add CSRF protection and rate-limited batch delete
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/utils/batchOperations.ts
  frontend/src/utils/csrf.ts
Due: typescript

fix: Enhance organization fetching with logging and error handling
  backend/routers/organizations.py
Due: check-import-patterns

fix: Add defensive UUID handling to list_organizations endpoint (#157)
  backend/routers/organizations.py
Due: check-import-patterns

debug: Add detailed logging to diagnose 500 error in list_organizations
  backend/routers/organizations.py
Due: check-import-patterns

fix: Add database migrations to per-issue deploy workflow
  .github/workflows/deploy-per-issue.yml
Due: none

chore: Trigger per-issue deploy to run migrations
  backend/CHANGELOG.md
Due: none

chore: Trigger per-issue deploy workflow to run migrations
  backend/routers/organizations.py
Due: check-import-patterns

fix: Add python-dotenv to migration dependencies
  .github/workflows/deploy-per-issue.yml
Due: none

chore: Trigger CI for migration fix v2
  backend/routers/organizations.py
Due: check-import-patterns

fix: Use pooler URL for migrations in GitHub Actions
  .github/workflows/deploy-per-issue.yml
  backend/routers/organizations.py
Due: check-import-patterns

fix: Use 'heads' for multiple migration branches
  .github/workflows/deploy-per-issue.yml
  backend/routers/organizations.py
Due: check-import-patterns

fix: School list not refreshing after edit (use reusable SchoolEditDialog)
  frontend/src/pages/organization/SchoolsPage.tsx
Due: typescript

fix: Sidebar not updating after school CRUD operations
  frontend/src/pages/organization/SchoolsPage.tsx
Due: typescript

fix: Sidebar not updating in OrganizationEditPage after school CRUD
  frontend/src/pages/organization/OrganizationEditPage.tsx
Due: typescript

fix(i18n): Add missing homepage translation keys
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(lint): Fix Flake8 errors for staging CI
  backend/.flake8
  backend/seed_data/stage_05_assignments.py
  backend/services/casbin_service.py
  backend/tests/integration/api/test_student_auth_with_org.py
  backend/tests/test_casbin_integration.py
Due: check-import-patterns

fix: Update flake8 config to exclude existing errors for CI
  backend/.flake8
Due: none

fix(lint): Expand flake8 per-file-ignores for all teachers router files
  backend/.flake8
Due: none

fix(lint): Expand flake8 ignores for existing codebase issues
  backend/.flake8
Due: none

fix(db): Merge multiple alembic heads into single head
  backend/alembic/versions/20260111_1217_d21f6f58c952_merge_multiple_heads.py
Due: check-import-patterns

fix(ci): Allow staging to bypass migration check for legacy DB differences
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): Add organization tables to RLS exclusion list
  .github/workflows/deploy-backend.yml
Due: none

refactor: Update issue close policy - merge to staging auto-closes issue
  .claude/agents/git-issue-pr-flow.md
Due: none

fix: Resolve TypeScript compilation errors in DigitalTeachingToolbar
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
Due: typescript

fix: Resolve 503 error in /api/organizations endpoint (#157)
  backend/routers/organizations.py
Due: check-import-patterns

fix: Apply same selectinload fix to list_organization_teachers endpoint
  backend/routers/organizations.py
Due: check-import-patterns

fix: Resolve 503 error in /api/organizations endpoint (#157) (#159)
  backend/routers/organizations.py
Due: check-import-patterns

feat: Implement HTTP connection pool to reduce latency (Fixes #91)
  backend/docs/HTTP_CONNECTION_POOL.md
  backend/main.py
  backend/services/azure_speech_token.py
  backend/services/billing_analysis_service.py
  backend/services/translation.py
  backend/tests/unit/test_azure_speech_token_api.py
  backend/tests/unit/test_http_client.py
  backend/utils/http_client.py
Due: check-import-patterns

fix(deps): Add http2 support to httpx for HTTP connection pool
  backend/requirements.txt
Due: none

feat: Implement HTTP connection pool to reduce latency (Fixes #91) (#160)
  backend/docs/HTTP_CONNECTION_POOL.md
  backend/main.py
  backend/requirements.txt
  backend/services/azure_speech_token.py
  backend/services/billing_analysis_service.py
  backend/services/translation.py
  backend/tests/unit/test_azure_speech_token_api.py
  backend/tests/unit/test_http_client.py
  backend/utils/http_client.py
Due: check-import-patterns

fix(lint): Break long line in startup message to comply with E501
  backend/main.py
Due: check-import-patterns

docs: Add final decisions for organization module spec (#151)
  .clarify/final-decisions.md
Due: none

feat: Implement soft delete strategy and database constraints for organization module
  .clarify/implementation-report-soft-delete.md
  backend/alembic/versions/20260112_1600_implement_soft_delete_strategy.py
  backend/routers/organizations.py
  backend/routers/schools.py
Due: check-import-patterns

fix: Use SQL IF EXISTS to prevent transaction abort in migration
  backend/alembic/versions/20260112_1600_implement_soft_delete_strategy.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
