Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix: set staging backend to use production TapPay
  .github/workflows/deploy-backend.yml
Due: none

security: remove sensitive payment info from console logs
  frontend/src/components/payment/TapPayPayment.tsx
Due: typescript

feat: add teacher feedback indicators to question buttons
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

feat: add test subscription whitelist with backend-driven authorization
  backend/routers/subscription.py
  backend/routers/teachers.py
  frontend/src/App.tsx
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript, check-import-patterns

fix: prettier formatting and eslint warnings
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript

fix: correct quota percentage calculation (use 10000/25000 points instead of 1800/4000 seconds)
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

perf: optimize Cloud Run resources and database queries for 10+ concurrent students
  .github/workflows/deploy-backend.yml
  backend/routers/speech_assessment.py
  backend/tests/integration/api/test_speech_db_optimization.py
  backend/tests/integration/test_subscription_scenarios.py
Due: check-import-patterns

feat: add VIP plan with custom quota and end_date, fix subscription management
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .python-version
  backend/alembic/versions/20251115_1127_da1cbac127b2_add_is_admin_to_teachers.py
  backend/alembic/versions/20251115_2100_55f5aad5ea55_update_is_admin_nullable.py
  backend/conftest.py
  backend/main.py
  backend/models.py
  backend/routers/admin.py
  backend/routers/admin_subscriptions.py
  backend/routers/auth.py
  backend/routers/teachers.py
  backend/tests/integration/api/test_admin_operation_history_simple.py
  backend/tests/integration/api/test_admin_subscription_operations.py
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
  frontend/src/stores/teacherAuthStore.ts
Due: typescript, check-import-patterns

feat: add VIP plan with custom quota and end_date, fix subscription management (#6)
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .python-version
  backend/alembic/versions/20251115_1127_da1cbac127b2_add_is_admin_to_teachers.py
  backend/alembic/versions/20251115_2100_55f5aad5ea55_update_is_admin_nullable.py
  backend/conftest.py
  backend/main.py
  backend/models.py
  backend/routers/admin.py
  backend/routers/admin_subscriptions.py
  backend/routers/auth.py
  backend/routers/teachers.py
  backend/tests/integration/api/test_admin_operation_history_simple.py
  backend/tests/integration/api/test_admin_subscription_operations.py
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
  frontend/src/stores/teacherAuthStore.ts
Due: typescript, check-import-patterns

fix: set payment_method to admin_edit for Edit API to enable operation history tracking
  backend/routers/admin_subscriptions.py
  backend/tests/integration/api/test_admin_subscription_operations.py
Due: check-import-patterns

feat: admin subscription management with three-layer architecture and complete history tracking
  backend/alembic/versions/20251115_1127_da1cbac127b2_add_is_admin_to_teachers.py
  backend/alembic/versions/20251115_2100_55f5aad5ea55_update_is_admin_nullable.py
  backend/alembic/versions/20251115_2216_59686379aa20_add_admin_features_is_admin_and_admin_.py
  backend/models.py
  backend/routers/admin_subscriptions.py
  backend/tests/integration/api/test_admin_subscription_three_layer.py
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
Due: typescript, check-import-patterns

feat: add admin subscription analytics dashboard with transaction and learning tabs
  backend/routers/admin_subscriptions.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
Due: typescript, check-import-patterns

feat(sentence-making): implement Phase 1 - sentence making feature
  backend/alembic/versions/20251110_1033_85160fa3d3cc_add_example_sentence_fields_to_content_items.py
  backend/alembic/versions/20251110_1354_1016469bbf26_add_sentence_making_to_contenttype_enum.py
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/programs.py
  backend/routers/students.py
  backend/routers/teachers.py
  docs/plans/add_example_sentence_field_plan.md
  docs/plans/ai_features_summary.md
  docs/plans/example_sentence_revision_plan.md
  docs/plans/sentence_making_implementation_plan.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/ListeningModeTemplate.tsx
  frontend/src/components/activities/SentenceMakingActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/activities/WritingModeTemplate.tsx
  frontend/src/components/activities/shared/ProgressIndicator.tsx
  frontend/src/components/activities/shared/WordChoicePanel.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

fix(migration): correct migration chain after rebase with staging
  backend/alembic/versions/20251110_1033_85160fa3d3cc_add_example_sentence_fields_to_content_items.py
Due: check-import-patterns

fix: use payment_status instead of status for transaction analytics query
  backend/routers/admin_subscriptions.py
Due: check-import-patterns

fix: use correct fields for TeacherSubscriptionTransaction to match production schema
  backend/routers/admin_subscriptions.py
Due: check-import-patterns

feat: 新增 develop 環境規劃與全局 Additive Migration 規則
  CLAUDE.md
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  docs/DEVELOP_ENVIRONMENT_PLAN.md
Due: check-import-patterns

feat: 實作 develop 測試環境 CI/CD 配置
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  docs/DEVELOP_ENVIRONMENT_SETUP_GUIDE.md
  scripts/setup_develop_secrets.sh
Due: none

docs: 新增 develop 環境安全性檢查與 URL 更新工具
  .gitignore
  docs/DEVELOP_ENVIRONMENT_SAFETY_CHECK.md
  scripts/update_develop_urls.sh
Due: none

style: 執行 Black 格式化修正 CI/CD 檢查
  backend/alembic/versions/20251110_1354_1016469bbf26_add_sentence_making_to_contenttype_enum.py
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  backend/models.py
  backend/routers/students.py
  backend/routers/teachers.py
Due: check-import-patterns

fix: 移除未使用的 UserWordProgress import
  backend/routers/students.py
Due: check-import-patterns

fix: 允許 develop 環境在 alembic check 有差異時繼續部署
  .github/workflows/deploy-backend.yml
Due: none

fix: 將 sentence making 相關表加入 RLS 排除清單
  .github/workflows/deploy-backend.yml
Due: none

test: add comprehensive TDD test suite for monthly renewal cron job
  backend/tests/integration/api/test_monthly_renewal_cron.py
Due: check-import-patterns

feat: implement monthly subscription auto-renewal cron job with TDD approach
  backend/routers/cron.py
  backend/tests/integration/api/test_monthly_renewal_cron.py
  docs/PRD_November_2025.md
Due: check-import-patterns

docs: add card binding and auto-renewal flow specification to PRD
  PRD_November_2025.md
Due: none

feat: add auto-renewal confirmation dialog after card binding
  backend/routers/payment.py
  backend/routers/teachers.py
  frontend/src/components/payment/SubscriptionCardManagement.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

docs: update PRD November progress - monthly renewal cron completed
  PRD_November_2025.md
Due: none

docs: mark Chapter 10 card binding acceptance criteria as completed
  PRD_November_2025.md
Due: none

style: fix linting issues - black, flake8, prettier
  backend/routers/cron.py
  backend/routers/teachers.py
  backend/tests/integration/api/test_monthly_renewal_cron.py
  frontend/src/components/payment/SubscriptionCardManagement.tsx
Due: typescript, check-import-patterns

feat: add CSV download for all admin subscription tabs
  frontend/src/components/payment/SubscriptionCardManagement.tsx
  frontend/src/lib/csvExport.ts
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
Due: typescript

docs: update PRD - mark CSV download as completed
  PRD_November_2025.md
Due: none

fix: correct Trial plan display and auto-renew default
  PRD_November_2025.md
  backend/models.py
  backend/services/email_service.py
  backend/tests/integration/api/test_trial_plan_display.py
Due: check-import-patterns

feat: implement Trial credits transfer to paid plans with TDD
  backend/routers/admin_subscriptions.py
  backend/routers/payment.py
  backend/tests/integration/api/test_trial_to_paid_quota_transfer.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

docs: update PRD to mark monthly renewal cron job as deployed to main
  PRD_November_2025.md
Due: none

docs: simplify PRD section 2.3 - remove technical code details
  PRD_November_2025.md
Due: none

docs: drastically simplify PRD - remove all technical details
  PRD_November_2025.md
Due: none

docs: update PRD - correct refund and i18n status to in-progress
  PRD_November_2025.md
Due: none

feat(i18n): add i18n to PricingPage and expand translation files
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
Due: typescript
