Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: 在 RLS 排除清單中添加複數形式的表名
  .github/workflows/deploy-backend.yml
Due: none

feat(performance): add thread pool management and concurrent request handling
  backend/core/thread_pool.py
  backend/main.py
  backend/performance_monitoring.py
  backend/requirements.txt
  backend/routers/assignments.py
  backend/routers/speech_assessment.py
  backend/services/audio_upload.py
  backend/tests/integration/api/test_speech_concurrent_performance.py
  backend/tests/unit/test_thread_pool.py
  docs/PERFORMANCE_MONITORING_SETUP.md
Due: check-import-patterns

feat(api): add thread pool concurrent testing endpoint
  backend/routers/speech_assessment.py
  backend/test_threadpool_concurrent.py
Due: check-import-patterns

ci: optimize pytest strategy for different environments
  .github/workflows/deploy-backend.yml
Due: none

refactor(database): implement lazy database connection for CI/CD
  backend/database.py
  backend/routers/admin.py
  backend/seed_data.py
  backend/test_threadpool_concurrent.py
  backend/tests/unit/test_quota_service.py
  backend/tests/unit/test_subscription_period_system.py
Due: check-import-patterns

fix(main): update health check to use get_session_local()
  backend/main.py
Due: check-import-patterns

chore(tests): reorganize test files and cleanup
  backend/tests/performance/test_threadpool_concurrent.py
Due: check-import-patterns

ci: connect staging tests to staging database
  .github/workflows/deploy-backend.yml
Due: none

docs(PRD): update with infrastructure improvements (v7.0)
  PRD_November_2025.md
Due: none

test: cleanup and standardize test suite according to industry standards
  backend/tests/integration/api/test_assignment_flow_v2.py
  backend/tests/integration/api/test_complete_assignment_flow.py
  backend/tests/integration/api/test_content_item_only.py
  backend/tests/integration/api/test_end_to_end_assignment_flow.py
  backend/tests/integration/api/test_payment_api_disabled.py
  backend/tests/integration/api/test_payment_api_enabled.py
  backend/tests/integration/api/test_quota_usage_analytics.py
  backend/tests/integration/api/test_speech_quota_deduction.py
  backend/tests/integration/api/test_subscription_mock_api.py
  backend/tests/integration/test_cascade_deletion.py
  backend/tests/integration/test_database_comprehensive.py
  backend/tests/integration/test_subscription_scenarios.py
  backend/tests/performance/test_quota_performance.py
  backend/tests/scripts/test_original_bugs_fixed.py
  backend/tests/scripts/test_upload_functionality.py
  backend/tests/unit/test_content_models_basic.py
Due: check-import-patterns

feat(ui): implement UI freeze mechanism during recording analysis
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

feat(i18n): add translations for UI freeze overlay
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

feat(student): implement auto-analysis of unanalyzed recordings on submission
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

refactor(security): replace custom scripts with gitleaks
  .github/hooks/security/check-api-keys.sh
  .github/hooks/security/check-credentials.sh
  .github/hooks/security/check-database-urls.sh
  .github/hooks/security/check-env-files.sh
  .github/hooks/security/check-jwt-secrets.sh
  .github/hooks/security/security-audit.sh
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

docs(prd): mark student workflow improvement as completed (v7.0)
  PRD_November_2025.md
Due: none

fix(student): 修復批次分析使用錯誤的 progress_id 導致 404 錯誤
  backend/routers/students.py
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

perf: 將 Cloud Run min-instances 改回 0 避免費用暴增
  .github/workflows/deploy-backend.yml
Due: none

feat(admin): add GCP billing monitoring dashboard with BigQuery integration
  backend/main.py
  backend/routers/admin_billing.py
  backend/services/billing_service.py
  backend/tests/test_billing_api.py
  docs/BILLING_MONITORING_SETUP.md
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/pages/admin/AdminBillingDashboard.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
Due: typescript, check-import-patterns

feat(admin): add audio error monitoring dashboard with production DB connection
  .github/workflows/deploy-backend.yml
  backend/.env.example
  backend/.env.production.example
  backend/.env.staging.example
  backend/main.py
  backend/routers/admin_audio_errors.py
  backend/services/audio_error_query_service.py
  backend/tests/integration/api/test_audio_error_monitoring.py
  backend/tests/unit/test_audio_error_query_service.py
  frontend/src/pages/admin/AdminAudioErrorDashboard.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
Due: typescript, check-import-patterns

refactor(admin): improve audio error dashboard UI layout and CSV export
  backend/routers/admin_audio_errors.py
  backend/services/audio_error_query_service.py
  backend/tests/integration/api/test_audio_error_monitoring.py
  frontend/src/pages/admin/AdminAudioErrorDashboard.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
Due: typescript, check-import-patterns

feat: 完善句子模組功能與修復相關問題
  backend/auth.py
  backend/models.py
  backend/routers/students.py
  backend/services/tts.py
  docs/UI_DESIGN_SENTENCE_MAKING.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/WritingModeTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

chore: 將 static/ 加入 .gitignore
  backend/.gitignore
Due: none

feat: 在 seed_data.py 中添加句子模組測試課程
  backend/seed_data.py
Due: check-import-patterns

feat: 添加 develop 環境資料庫 seed workflow
  .github/workflows/seed-develop.yml
Due: none

fix: 修正 CI/CD 格式檢查與 YAML 語法錯誤
  .github/workflows/seed-develop.yml
  backend/auth.py
  backend/models.py
  backend/routers/students.py
  backend/seed_data.py
  backend/services/tts.py
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

fix: 移除 students.py 中未使用的 import
  backend/routers/students.py
Due: check-import-patterns

fix: 修正 seed-develop.yml YAML 語法錯誤
  .github/workflows/seed-develop.yml
  backend/verify_seed.py
Due: check-import-patterns

fix: 添加 develop 環境的 CORS 支援
  backend/main.py
Due: check-import-patterns

perf: 優化 CI/CD 流程並清理測試檔案
  .github/workflows/deploy-backend.yml
  backend/tests/e2e/real_api_script.py
  backend/tests/e2e/run_integration_tests.py
  backend/tests/integration/api/test_subscription_api.py
  backend/tests/integration/api/test_subscription_local.py
  backend/tests/integration/test_complete_quota_flow_e2e.py
  backend/tests/integration/test_quota_e2e.py
  backend/tests/integration/test_quota_integration.py
  backend/tests/integration/test_tappay_sandbox.py
  backend/tests/performance/test_quota_performance.py
  backend/tests/performance/test_threadpool_concurrent.py
  backend/tests/scripts/test_original_bugs_fixed.py
  backend/tests/scripts/test_upload_functionality.py
  backend/tests/verification/verify_content_optimization.py
  backend/tests/verification/verify_optimization_safety.py
  frontend/src/pages/admin/AdminBillingDashboard.tsx
Due: typescript, check-import-patterns

fix: 添加 answer_mode 錯誤處理以診斷 500 錯誤
  backend/routers/students.py
Due: check-import-patterns

fix: 修復學生登入 Step 1 的錯誤訊息閃現和 loading 狀態問題
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/StudentLogin.tsx
Due: typescript

fix: 修復教師儀表板學生數量統計問題 (Issue #11)
  fix_dashboard_student_count.patch
Due: none

feat: 新增 Git Issue PR Flow 自動化 Agent
  .claude/agents/git-issue-pr-flow-agent.md
  .claude/agents/git-issue-pr-flow.sh
  CLAUDE.md
  README-GIT-FLOW.md
Due: none

test: 測試 Git Issue PR Flow Agent 自動化功能
  test_agent_issue_12.md
Due: none

feat: Agent 新增 commit message 檢查功能
  .claude/agents/git-issue-pr-flow.sh
Due: none

feat: 新增 Issue Approval 自動化功能
  .claude/agents/git-issue-pr-flow.sh
  .github/workflows/issue-approval-automation.yml
  CLAUDE.md
Due: none

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
