Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

style: fix Prettier formatting for 11 frontend files
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/SubscriptionProgressBanner.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/components/pricing/PointPackageCard.tsx
  frontend/src/components/pricing/SubscriptionPlanCard.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

fix(#286): move logging to module level, fix datetime serialization, hoist planRank
  backend/routers/teachers/subscription_ops.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(#286): 首頁 Pricing 畫面改版 (#322)
  backend/routers/teachers/subscription_ops.py
  frontend/src/components/TeacherRegisterSheet.tsx
  frontend/src/components/pricing/PointPackageCard.tsx
  frontend/src/components/pricing/PricingFAQ.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

style: fix Prettier formatting for TeacherRegisterSheet and PricingPage
  frontend/src/components/TeacherRegisterSheet.tsx
  frontend/src/pages/PricingPage.tsx
Due: typescript

ci: add frontend checks (Prettier/TS/ESLint) to PR stage
  .github/workflows/deploy-frontend.yml
Due: none

fix: address Claude Code Review feedback for PR #338
  .github/workflows/deploy-frontend.yml
  frontend/eslint.config.js
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix: resolve TS error in TeacherSetupPassword for organization_name
  frontend/src/pages/TeacherSetupPassword.tsx
Due: typescript

fix: address round 2 review — prettier devDep, i18n, password policy
  frontend/package-lock.json
  frontend/package.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherSetupPassword.tsx
Due: typescript

fix: address round 3 review — i18n namespace, deps, token encoding
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherSetupPassword.tsx
Due: typescript

ci: add frontend checks (Prettier/TS/ESLint) to PR stage (#338)
  .github/workflows/deploy-frontend.yml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherSetupPassword.tsx
Due: typescript

chore: update repo owner from Youngger9765 to myduotopia
  .claude/agents/cicd-monitor.md
  .pre-commit-config.yaml
  backend/issue-112-QA.md
  docs/DEVELOP_ENVIRONMENT_SAFETY_CHECK.md
  docs/DEVELOP_ENVIRONMENT_SETUP_GUIDE.md
  docs/SECURITY.md
  frontend/tests/e2e/issue-28-assignment-navigation.spec.ts
  scripts/install-hooks.sh
  scripts/manage-secrets.sh
  scripts/setup_develop_secrets.sh
  scripts/update_develop_urls.sh
Due: none

chore: update repo owner from Youngger9765 to myduotopia (#339)
  .claude/agents/cicd-monitor.md
  .pre-commit-config.yaml
  backend/issue-112-QA.md
  docs/DEVELOP_ENVIRONMENT_SAFETY_CHECK.md
  docs/DEVELOP_ENVIRONMENT_SETUP_GUIDE.md
  docs/SECURITY.md
  frontend/tests/e2e/issue-28-assignment-navigation.spec.ts
  scripts/install-hooks.sh
  scripts/manage-secrets.sh
  scripts/setup_develop_secrets.sh
  scripts/update_develop_urls.sh
Due: none

feat(#318): 作業管理新增封存與解封存功能
  backend/alembic/versions/20260225_1000_add_assignment_archive.py
  backend/models/assignment.py
  backend/routers/assignments/crud.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

feat(#230): 學生帳號整合系統 - StudentIdentity 統一身分
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
  backend/auth.py
  backend/models/__init__.py
  backend/models/user.py
  backend/routers/auth.py
  backend/routers/students/account_management.py
  backend/routers/students/auth.py
  backend/routers/students/email_verification.py
  backend/routers/students/validators.py
  backend/services/student_identity_service.py
  frontend/src/components/AccountSwitcher.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/services/authService.ts
  frontend/src/stores/studentAuthStore.ts
Due: typescript, check-import-patterns

feat(#228): 調整個人教師訂閱方案點數、價格並重構硬編碼值
  backend/alembic/versions/20260225_1000_rename_trial_plan_to_free_trial.py
  backend/config/__init__.py
  backend/config/plans.py
  backend/models/subscription.py
  backend/routers/admin_subscriptions.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/routers/subscription.py
  backend/seed_data/stage_01_users.py
  backend/services/email_service.py
  backend/services/subscription_calculator.py
  backend/tests/e2e/test_scenario_b_personal.py
  backend/tests/e2e/test_subscription_integration_full.py
  backend/tests/integration/api/test_admin_operation_history_simple.py
  backend/tests/integration/api/test_admin_refund.py
  backend/tests/integration/api/test_admin_subscription_operations.py
  backend/tests/integration/api/test_admin_subscription_three_layer.py
  backend/tests/integration/api/test_assignment_bulk_operations.py
  backend/tests/integration/api/test_assignment_content_copy_mechanism.py
  backend/tests/integration/api/test_assignment_permission_filtering.py
  backend/tests/integration/api/test_assignment_resubmit_status.py
  backend/tests/integration/api/test_cron_renewal_migration.py
  backend/tests/integration/api/test_monthly_renewal_cron.py
  backend/tests/integration/api/test_quota_buffer.py
  backend/tests/integration/api/test_quota_usage_analytics.py
  backend/tests/integration/api/test_student_assignment_end_to_end.py
  backend/tests/integration/api/test_trial_plan_display.py
  backend/tests/integration/api/test_trial_to_paid_quota_transfer.py
  backend/tests/integration/test_quota_subscription_e2e.py
  backend/tests/integration/test_subscription_scenarios.py
  backend/tests/unit/test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator_standalone.py
  frontend/src/constants/plans.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat: add /fix-workflow skill for CI test error auto-fixing
  .claude/skills/fix-workflow/SKILL.md
  CLAUDE.md
Due: none

style: fix Prettier formatting for ClassroomDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

style: fix Prettier and Black formatting for CI checks
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
  backend/models/user.py
  backend/routers/students/account_management.py
  backend/services/student_identity_service.py
  frontend/src/components/AccountSwitcher.tsx
  frontend/src/services/authService.ts
Due: typescript, check-import-patterns

style: fix Black formatting for CI Test Backend
  backend/alembic/versions/20260225_1000_rename_trial_plan_to_free_trial.py
  backend/models/subscription.py
Due: check-import-patterns

hotfix: cherry-pick migration 20260225_1000 from issue-228 branch
  backend/alembic/versions/20260225_1000_rename_trial_plan_to_free_trial.py
Due: check-import-patterns

hotfix: cherry-pick migration 20260225_1000 from issue-228 branch (#345)
  backend/alembic/versions/20260225_1000_rename_trial_plan_to_free_trial.py
Due: check-import-patterns

fix: update migration down_revision to chain after 20260225_1000
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
Due: check-import-patterns

fix(#346): add items_count to org program ContentResponse
  backend/routers/organization_programs.py
Due: check-import-patterns

fix: add missing migration 20260225_1600 for per-issue deploy
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
Due: check-import-patterns

fix(#346): enable scroll in workspace selector modal
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
Due: typescript

fix(#346): use explicit max-h for workspace modal scroll
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
Due: typescript

fix(#346): replace ScrollArea with native overflow-y-auto for workspace modal
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
Due: typescript

fix(#346): show empty state for programs/lessons with no content
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: address Claude Code Review feedback for fix-workflow skill
  .claude/skills/fix-workflow/SKILL.md
Due: none

feat: add fix-workflow skill for automated CI test failure resolution (#351)
  .claude/skills/fix-workflow/SKILL.md
  CLAUDE.md
Due: none

feat(#352): 我的班級頁面增強 — 排序、查詢、派發作業、排版調整
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/__tests__/TeacherClassrooms.test.tsx
Due: typescript

fix: add missing migration 20260225_1600 from issue-333 for per-issue deploy
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
Due: check-import-patterns

hotfix: cherry-pick migration 20260225_1600 from issue-230 branch (#349)
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
Due: check-import-patterns

hotfix: cherry-pick migration 20260225_1600 from issue-230 branch (#349) (#357)
  backend/alembic/versions/20260225_1600_add_student_identity_system.py
Due: check-import-patterns

hotfix: add student_identities to RLS exclusion list (#349)
  .github/workflows/deploy-backend.yml
Due: none

hotfix: add student_identities to RLS exclusion list (#349) (#358)
  .github/workflows/deploy-backend.yml
Due: none

feat(#316): add assignment sticky note with batch print, filters, and pagination
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AssignmentStickyNote.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/stickyNotePrint.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: remove unnecessary escape character in stickyNotePrint
  frontend/src/lib/stickyNotePrint.ts
Due: typescript
