Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

feat: enhance demo section with 5 learning modes
  backend/alembic/versions/20260205_1800_split_word_selection_demo_modes.py
  frontend/src/components/DemoCard.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript, check-import-patterns

fix(migration): merge multiple alembic heads
  backend/alembic/versions/20260205_1800_split_word_selection_demo_modes.py
Due: check-import-patterns

feat: open demo in new tab instead of modal
  frontend/src/pages/Home.tsx
Due: typescript

feat: Demo Section 增強 - 5種模式、新分頁開啟、UI改善 (#217)
  backend/alembic/versions/20260205_1800_split_word_selection_demo_modes.py
  frontend/src/components/DemoCard.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript, check-import-patterns

style: fix Prettier formatting
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/admin/AdminOrganizations.tsx
  frontend/src/pages/admin/__tests__/CreateOrganization.test.tsx
Due: typescript

feat(home): optimize homepage login UX with slide-in sheet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TeacherLoginSheet.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
  frontend/tailwind.config.js
Due: typescript

style(home): change demo section background to light blue
  frontend/src/pages/Home.tsx
Due: typescript

feat(home): optimize homepage login UX with slide-in sheet (#219)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TeacherLoginSheet.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
  frontend/tailwind.config.js
Due: typescript

fix(home): show language switcher on mobile with icon-only mode
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/pages/Home.tsx
Due: typescript

fix(home): show language switcher on mobile with icon-only mode (#221)
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/pages/Home.tsx
Due: typescript

fix(home): remove border from mobile language switcher icon
  frontend/src/components/LanguageSwitcher.tsx
Due: typescript

fix(home): hide chevron and enlarge globe icon on mobile
  frontend/src/components/LanguageSwitcher.tsx
Due: typescript

fix(home): remove border from mobile language switcher icon (#222)
  frontend/src/components/LanguageSwitcher.tsx
Due: typescript

feat(demo): add Azure Speech token endpoint for unauthenticated demo mode
  backend/core/demo_quota.py
  backend/routers/demo.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/components/demo/DemoLimitModal.tsx
  frontend/src/hooks/useDemoAzurePronunciation.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/services/demoSpeechService.ts
Due: typescript, check-import-patterns

test(speech): replace phantom-field mock tests with real integration tests
  backend/tests/integration/test_deduction_edge_cases.py
  backend/tests/integration/test_org_points_chain.py
  backend/tests/integration/test_speech_assessment_org_points.py
Due: check-import-patterns

chore: add project-specific test anti-pattern rules
  .claude/test-rules.json
Due: none

test(e2e): add org points deduction E2E verification scripts
  backend/tests/e2e/test_org_points_e2e.py
  backend/tests/e2e/test_scenario_b_personal.py
Due: check-import-patterns

fix(speech): remove duplicate error type in hard limit check
  backend/routers/speech_assessment.py
Due: check-import-patterns

fix(demo): address code review - security, tests, and i18n improvements
  backend/core/demo_quota.py
  backend/routers/demo.py
  backend/tests/unit/test_demo_quota.py
  frontend/src/components/demo/DemoLimitModal.tsx
  frontend/src/components/demo/__tests__/DemoLimitModal.test.tsx
  frontend/src/hooks/__tests__/useDemoAzurePronunciation.test.ts
  frontend/src/hooks/useDemoAzurePronunciation.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/services/__tests__/demoSpeechService.test.ts
  frontend/src/services/demoSpeechService.ts
Due: typescript, check-import-patterns

fix(demo): atomic Redis quota check and IPv6-safe key format
  backend/core/demo_quota.py
  backend/tests/unit/test_demo_quota.py
Due: check-import-patterns

fix(demo): referer urlparse validation, staging auth, and IP simplification
  backend/core/demo_quota.py
  backend/routers/demo.py
  backend/tests/unit/test_demo_quota.py
Due: check-import-patterns

feat: add git worktrees setup script
  setup-worktrees.sh
Due: none

feat(demo): Demo 語音分析免登入 - Azure Speech Token 公開端點 (#223)
  backend/core/demo_quota.py
  backend/routers/demo.py
  backend/tests/unit/test_demo_quota.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/components/demo/DemoLimitModal.tsx
  frontend/src/components/demo/__tests__/DemoLimitModal.test.tsx
  frontend/src/hooks/__tests__/useDemoAzurePronunciation.test.ts
  frontend/src/hooks/useDemoAzurePronunciation.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/services/__tests__/demoSpeechService.test.ts
  frontend/src/services/demoSpeechService.ts
Due: typescript, check-import-patterns

feat: 資源教材包 - 全功能實作 (visibility, copy, org support)
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/core/config.py
  backend/main.py
  backend/models/__init__.py
  backend/models/base.py
  backend/models/program.py
  backend/routers/resource_materials.py
  backend/routers/teachers.py
  backend/services/resource_materials_service.py
  frontend/src/App.tsx
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/hooks/useResourceMaterialsAPI.ts
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
  frontend/src/routes/organizationRoutes.tsx
  frontend/src/types/index.ts
  frontend/src/vite-env.d.ts
Due: typescript, check-import-patterns

fix: remove unused eslint-disable directives in resource materials pages
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript

style: fix Prettier and Black formatting for demo files (#223)
  backend/core/demo_quota.py
  backend/tests/unit/test_demo_quota.py
  frontend/src/components/demo/DemoLimitModal.tsx
  frontend/src/hooks/__tests__/useDemoAzurePronunciation.test.ts
  frontend/src/hooks/useDemoAzurePronunciation.ts
  frontend/src/services/__tests__/demoSpeechService.test.ts
  frontend/src/services/demoSpeechService.ts
Due: typescript, check-import-patterns

fix: 資源教材包 UI 改善、visibility 修正、複製上限調整
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/routers/teachers.py
  backend/routers/teachers/program_ops.py
  backend/services/resource_materials_service.py
  backend/tests/unit/test_resource_materials_service.py
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/hooks/useResourceMaterialsAPI.ts
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript, check-import-patterns

style: fix Black and Prettier formatting for CI compliance
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/services/resource_materials_service.py
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/hooks/useResourceMaterialsAPI.ts
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
Due: typescript, check-import-patterns

style: fix remaining Black and Prettier formatting in PR files
  backend/routers/resource_materials.py
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
Due: typescript, check-import-patterns

fix: resolve pre-existing TypeScript and Flake8 warnings
  backend/services/resource_materials_service.py
  frontend/src/pages/admin/AdminOrganizations.tsx
Due: typescript, check-import-patterns

fix: address code review findings for resource materials
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/routers/resource_materials.py
  backend/services/resource_materials_service.py
Due: check-import-patterns

fix: 資源教材包 UI 改善、visibility 修正、複製上限調整 (#225)
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/core/config.py
  backend/main.py
  backend/models/__init__.py
  backend/models/base.py
  backend/models/program.py
  backend/routers/resource_materials.py
  backend/routers/teachers.py
  backend/routers/teachers/program_ops.py
  backend/services/resource_materials_service.py
  backend/tests/unit/test_resource_materials_service.py
  frontend/src/App.tsx
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/hooks/useResourceMaterialsAPI.ts
  frontend/src/pages/admin/AdminOrganizations.tsx
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
  frontend/src/pages/teacher/ResourceMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
  frontend/src/routes/organizationRoutes.tsx
  frontend/src/types/index.ts
  frontend/src/vite-env.d.ts
Due: typescript, check-import-patterns

fix(ci): add program_copy_logs to RLS exclusion list
  .github/workflows/deploy-backend.yml
Due: none

fix: 資源教材包列表 content_count 與詳情頁不一致、組織詳情頁 UI 統一
  backend/services/resource_materials_service.py
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
Due: typescript, check-import-patterns

fix: 資源教材包列表 content_count 與詳情頁不一致、組織詳情頁 UI 統一 (#229)
  backend/services/resource_materials_service.py
  frontend/src/pages/organization/OrgResourceMaterialsPage.tsx
Due: typescript, check-import-patterns

feat: 學生身分整合系統規格文檔 - 1Campus SSO 整合 (#230)
  spec/bdd-prompts/autopilot.md
  spec/bdd-prompts/clarify.md
  spec/bdd-prompts/discovery.md
  spec/bdd-prompts/discussion.md
  spec/bdd-prompts/formulation-rules.md
  spec/bdd-prompts/formulation.md
  spec/bdd-prompts/implementation.md
  spec/individual-teacher/.clarify/overview.md
  spec/individual-teacher/.clarify/resolved/data/Point_Based_Trial_升級付費時是否自動轉移剩餘點數.md
  spec/individual-teacher/.clarify/resolved/data/Point_Based_Trial_是否需要在UI上區分兩種試用方案.md
  spec/individual-teacher/.clarify/resolved/data/Point_Based_Trial_是否需要發送通知給新試用用戶.md
  spec/individual-teacher/.clarify/resolved/data/SubscriptionPeriod_現有30_Day_Trial訂閱的遷移或兼容性策略.md
  spec/individual-teacher/.clarify/resolved/data/SubscriptionPeriod_配額用完後用戶是否收到明確提示或升級提醒.md
  spec/individual-teacher/FEATURE_SPEC_STUDENT_IDENTITY_INTEGRATION.md
  spec/individual-teacher/erm-student-identity.dbml
  spec/individual-teacher/features/student-identity/point-deduction-and-reports-after-merge.feature
  spec/individual-teacher/features/student-identity/student-1campus-sso-integration.feature
  spec/individual-teacher/features/student-identity/student-identity-merge-on-email-verification.feature
  spec/individual-teacher/features/student-identity/student-login-with-identity.feature
  spec/individual-teacher/features/subscription/FEATURE_SPEC_POINT_BASED_TRIAL.md
  spec/individual-teacher/features/subscription/trial-quota-ui-restrictions.feature
Due: none

fix: 複製教材時遺漏 ContentItem 單字集與例句相關欄位
  backend/services/program_service.py
Due: check-import-patterns

test: 新增 _copy_content_with_items 單元測試
  backend/tests/unit/test_copy_content_with_items.py
Due: check-import-patterns

fix: 複製教材時遺漏 ContentItem 單字集與例句相關欄位 (#231)
  backend/services/program_service.py
  backend/tests/unit/test_copy_content_with_items.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
