Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

chore: Add feat/ branch pattern to per-issue deploy workflow
  .github/workflows/deploy-per-issue.yml
Due: none

chore: Remove orphaned test for unimplemented calculate_assignment_score function
  backend/tests/unit/test_assignment_score_calculation.py
Due: check-import-patterns

chore: Sync .gitignore with main branch
  .gitignore
Due: none

chore: Trigger preview deployment for Issue #112
  backend/README_PREVIEW.md
Due: none

chore: Force trigger preview deployment
  backend/.deploy-trigger
Due: none

fix: Add config/ directory to Dockerfile for Casbin configuration files
  backend/Dockerfile
Due: none

fix: Remove conflicting models.py file that causes import errors
  backend/models.py
Due: check-import-patterns

fix: Gracefully handle missing organization tables in Casbin sync
  backend/services/casbin_service.py
Due: check-import-patterns

fix: Cloud Run deployment configuration for preview environments
  .github/workflows/deploy-per-issue.yml
Due: none

fix: Migrate hooks configuration to new matcher-based format
  .claude/settings.json
Due: none

chore: Trigger deployment with fixed Cloud Run config
  backend/.deploy-trigger
Due: none

fix: Add models/ directory to Dockerfile COPY commands
  backend/Dockerfile
Due: none

fix: Use JSONB type for GIN indexes in PostgreSQL migration
  backend/alembic/versions/20251129_1639_16ea1d78b460_add_organization_performance_indexes.py
Due: check-import-patterns

fix: Use API_URL for roles endpoint to support cross-origin deployments
  frontend/src/hooks/useSidebarRoles.ts
Due: typescript

docs: Add comprehensive QA test report for Issue #112
  backend/issue-112-QA.md
Due: none

style: Run Black and Prettier formatters
  backend/alembic/versions/20251129_1639_16ea1d78b460_add_organization_performance_indexes.py
  backend/main.py
  backend/models/subscription.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students/dependencies.py
  backend/routers/students/recordings.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/classroom_ops.py
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/profile_ops.py
  backend/routers/teachers/program_ops.py
  backend/routers/teachers/student_ops.py
  backend/routers/teachers/subscription_ops.py
  backend/routers/teachers/translation_ops.py
  backend/routers/teachers/tts_ops.py
  backend/routers/teachers/upload_ops.py
  backend/routers/teachers/validators.py
  backend/seed_data/seed_main.py
  backend/seed_data/stage_01_users.py
  backend/seed_data/stage_02_classrooms.py
  backend/seed_data/stage_03_students.py
  backend/seed_data/stage_04_programs.py
  backend/seed_data/stage_05_assignments.py
  backend/seed_data/utils.py
  backend/services/casbin_service.py
  backend/tests/integration/api/test_student_auth_with_org.py
  backend/tests/test_casbin_integration.py
  frontend/src/hooks/useSidebarRoles.ts
Due: typescript, check-import-patterns

fix: Replace org.type with hardcoded 'organization' value
  backend/routers/teachers/dashboard.py
Due: check-import-patterns

docs: Add final verification results for dashboard API fix
  backend/issue-112-QA.md
Due: none

fix: Restore missing i18n translation for teacherDashboard.share
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix: Replace ALL relative API paths with API_URL in organization modules
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationHub.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript

fix: Add frontend-expert agent and fix Zustand userRoles persistence bug
  .claude/agents/frontend-expert.md
  frontend/src/stores/teacherAuthStore.ts
Due: typescript

fix: Replace window.confirm with custom DeleteConfirmationModal
  frontend/src/pages/teacher/OrganizationManagement.tsx
Due: typescript

feat: Complete school management CRUD and fix UI issues
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationHub.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript

docs: Add comprehensive code verification report and complete feature specs
  ORG_PRD.md
  backend/issue-112-QA.md
Due: none

fix: Change School update from PUT to PATCH to match backend API
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript

docs: Record School CRUD API test results and fix in QA document
  backend/issue-112-QA.md
Due: none

fix: Fix Dashboard 500 error caused by NULL boolean fields
  backend/BUGFIX-dashboard-500-error.md
  backend/alembic/versions/20260101_0257_ed63e979dc1c_fix_teacher_boolean_fields_null_values.py
  backend/models/user.py
Due: check-import-patterns

fix: Correct migration parent reference (288ad5a75206 not d53270395a47)
  backend/alembic/versions/20260101_0257_ed63e979dc1c_fix_teacher_boolean_fields_null_values.py
Due: check-import-patterns

docs: Document Dashboard 500 error bug fix and resolution
  backend/issue-112-QA.md
Due: none

fix(organizations): Add permission check to prevent unauthorized access
  backend/issue-112-QA.md
  backend/routers/organizations.py
Due: check-import-patterns

feat: Implement organization portal separation (Phase 1-5) + fix TypeScript errors
  PRD-ORGANIZATION-PORTAL-SEPARATION.md
  backend/API-TEST-RUNNER.md
  backend/TESTING-QUICK-REFERENCE.md
  backend/issue-112-API-TEST-REPORT.md
  backend/issue-112-API-TEST-SUMMARY.md
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/Breadcrumb.tsx
  frontend/src/components/organization/ErrorMessage.tsx
  frontend/src/components/organization/LoadingSpinner.tsx
  frontend/src/components/organization/OrganizationHeader.tsx
  frontend/src/components/organization/OrganizationTree.tsx
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/organization/OrganizationDashboard.tsx
  frontend/src/pages/organization/SchoolsPage.tsx
  frontend/src/pages/organization/TeachersPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript

fix: Add role information to teacher login response
  backend/routers/auth.py
Due: check-import-patterns

feat: Integrate role information from backend login response
  frontend/docs/testing/MANUAL_UI_TESTING_CHECKLIST.md
  frontend/docs/testing/ORGANIZATION_UI_TEST_REPORT.md
  frontend/docs/testing/ORGANIZATION_UI_TEST_SUMMARY.md
  frontend/docs/testing/PHASE_6-7_QA_REPORT.md
  frontend/docs/testing/TESTING_INDEX.md
  frontend/docs/testing/TESTING_SUMMARY.md
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/stores/teacherAuthStore.ts
Due: typescript

fix: Redirect users to correct portal based on role after login
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

feat: Replace sidebar buttons with expandable organization tree
  frontend/FINAL_TEST_REPORT.md
  frontend/INTEGRATION_TEST_EXECUTION.md
  frontend/MANUAL_TEST_CHECKLIST.md
  frontend/QUICK_VERIFICATION.md
  frontend/URGENT-BACKEND-FIX-NEEDED.md
  frontend/automated_api_tests.sh
  frontend/login-flow-diagnosis.md
  frontend/org-owner-login-test-report.md
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/SchoolEditPage.tsx
  frontend/src/routes/organizationRoutes.tsx
  frontend/test-all-roles.sh
  frontend/test-org-owner-login.md
  frontend/test_api_integration.py
  frontend/tests/e2e/organization-ui-test.spec.ts
  frontend/tests/manual-org-test.ts
  frontend/verify-ui-quick.md
Due: typescript

feat: Add organization tree fetch + 'All Organizations' page with owner info
  backend/routers/organizations.py
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/organization/OrganizationsListPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript, check-import-patterns

feat: Add organization edit modal dialog
  frontend/src/components/organization/OrganizationEditDialog.tsx
  frontend/src/pages/organization/OrganizationsListPage.tsx
Due: typescript

feat: Refactor organization page as detail view with schools table
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/OrganizationsListPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript

fix: Remove display_name from org page + add current user info
  frontend/src/pages/organization/OrganizationEditPage.tsx
Due: typescript

feat: Display owner info in organization edit dialog
  frontend/src/components/organization/OrganizationEditDialog.tsx
Due: typescript
