Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix: TTS 服務支援 BACKEND_URL 生成絕對路徑音檔 URL
  .github/workflows/maintenance-seed-develop.yml
  backend/services/tts.py
Due: check-import-patterns

feat: seed_data.py 加入 TTS 音檔生成功能
  .github/workflows/maintenance-seed-develop.yml
  backend/seed_data.py
Due: check-import-patterns

fix: 修復 seed_data.py E402 lint 錯誤
  backend/seed_data.py
Due: check-import-patterns

feat: seed workflow 改用 GCS 儲存音檔
  .github/workflows/maintenance-seed-develop.yml
Due: none

refactor: 移除 seed scripts 中的 TTS 音檔生成功能
  .github/workflows/maintenance-seed-develop.yml
  backend/scripts/seed_example_sentences.py
  backend/seed_data.py
Due: check-import-patterns

fix(audio): Fix Safari recording size validation with OR logic and 5KB threshold
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/utils/audioRecordingStrategy.ts
Due: typescript

feat: 新增作業對話框音檔驗證功能
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

style: 班級詳情頁 Tab UI 優化與按鈕統一
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(issue-60): Correct button text to display 'Add first student'
  frontend/src/components/StudentTable.tsx
Due: typescript

fix: 修正學生列表底部重複顯示學生數量問題
  frontend/src/components/StudentTable.tsx
Due: typescript

fix: 修正 Claude Code Automation workflow 認證參數
  .github/workflows/automation-claude-pdca.yml
Due: none

fix: 修正 cleanup-per-issue-on-close workflow YAML 語法錯誤
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

docs: Document Safari recording size validation fix
  cost-investigation.md
Due: none

fix(issue-58): Fix student resubmit status logic and UI display (#72)
  backend/routers/students.py
  backend/tests/integration/api/test_assignment_resubmit_status.py
  backend/tests/integration/api/test_assignment_start_date.py
  backend/tests/integration/api/test_student_number_validation.py
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix(issue-60): Correct button text to display 'Add first student' (#62)
  frontend/src/components/StudentTable.tsx
Due: typescript

feat: 實施全局 Rate Limiting 防止異常高頻請求
  backend/main.py
  backend/middleware/global_rate_limiter.py
Due: check-import-patterns

chore: 調整錄音錯誤報告 cron 時間至中午和晚上
  .github/workflows/maintenance-cloud-scheduler.yml
Due: none

perf(cicd): Increase Production backend max-instances to 6
  .github/workflows/deploy-backend.yml
Due: none

perf(cicd): Optimize resources by environment - Production vs Staging
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  PRD.md
Due: none

fix(docker): Add missing middleware directory to Dockerfile
  backend/Dockerfile
Due: none

fix: 例句重組模式完全沒作答時給 0 分
  frontend/src/components/activities/RearrangementActivity.tsx
Due: typescript

chore: 移除未使用的 isBatchSaving state 變數
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

feat: Add Azure Speech API timeout protection and 503 error monitoring
  backend/routers/speech_assessment.py
Due: check-import-patterns

feat(backend): Add 20s timeout protection and detailed logging for Azure Speech API
  PRD.md
  backend/routers/speech_assessment.py
  cost-investigation.md
Due: check-import-patterns

chore: Clean up merged and obsolete documentation files
  I18N_IMPLEMENTATION_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  test_agent_issue_12.md
Due: none

fix: 修正 ContentDetail selectedLanguage 類型與 TranslationLanguage 不一致
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

feat: Implement background non-blocking analysis for student assignments (#75)
  PRD_優化分析.md
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/__tests__/StudentActivityPageContent.backgroundAnalysis.test.tsx
Due: typescript

fix: Resolve TypeScript and linting issues in background analysis tests
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/__tests__/StudentActivityPageContent.backgroundAnalysis.test.tsx
Due: typescript

style: Format test file with Prettier
  frontend/src/pages/student/__tests__/StudentActivityPageContent.backgroundAnalysis.test.tsx
Due: typescript

docs: Add pricing communication strategy to cost investigation
  cost-investigation.md
Due: none

feat: Optimize submission flow and fix blob URL bug (#75)
  backend/routers/speech_assessment.py
  backend/routers/students.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/__tests__/StudentActivityPageContent.submit.test.tsx
Due: typescript, check-import-patterns

feat: Add VM deployment workflow for cost optimization (93% savings)
  .github/workflows/deploy-vm-prod.yml
  CICD.md
  docs/VM-DEPLOYMENT-CHECKLIST.md
  docs/VM-DEPLOYMENT-GUIDE.md
Due: none

fix: Use docker-credential-gcr instead of gcloud in VM deployment
  .github/workflows/deploy-vm-prod.yml
Due: none

fix: Use DATABASE_POOLER_URL to avoid IPv6 connectivity issues
  .github/workflows/deploy-vm-prod.yml
Due: none

docs: Add VM testing plan for 7-day validation period
  docs/VM-TESTING-PLAN.md
Due: none

feat: 例句重組功能優化 - 顯示答案、前端驗證、計分邏輯
  backend/alembic/versions/20251206_2338_cb0920d3ab63_add_show_answer_to_assignments.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
Due: typescript, check-import-patterns

fix: 修正 CI 檢查失敗
  backend/scripts/seed_example_sentences.py
  frontend/src/components/activities/RearrangementActivity.tsx
Due: typescript, check-import-patterns

fix: Use host network mode for container communication
  .github/workflows/deploy-vm-prod.yml
  deployment/vm/README.md
  deployment/vm/deploy.sh
  deployment/vm/nginx.conf
  docs/DNS_MIGRATION_GODADDY.md
Due: none

fix: VM deployment port conflict - frontend nginx listens on 3000
  .github/workflows/deploy-vm-prod.yml
  frontend/Dockerfile.vm
  frontend/nginx.conf.vm.template
Due: none
