Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

fix: 移除重複的 teacher_subscription_transactions migration
  backend/alembic/versions/20250921_2345_a3cf45fb8eea_add_teacher_subscription_transaction_.py
  backend/alembic/versions/20250922_0859_12578a583628_add_password_reset_fields_to_teacher_.py
Due: black, flake8, check-migration-format

Revert "fix: 移除重複的 teacher_subscription_transactions migration"
  backend/alembic/versions/20250921_2345_a3cf45fb8eea_add_teacher_subscription_transaction_.py
  backend/alembic/versions/20250922_0859_12578a583628_add_password_reset_fields_to_teacher_.py
Due: black, flake8, check-migration-format

fix: 移除 a3cf45fb8eea 中重複的索引創建
  backend/alembic/versions/20250921_2345_a3cf45fb8eea_add_teacher_subscription_transaction_.py
Due: black, flake8, check-migration-format

fix: 同步 models.py 與資料庫結構以修復 CI/CD
  backend/models.py
Due: black, flake8

fix: 移除 75d0959d6f50 migration 中與 initial migration 重複的操作
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
Due: black, flake8, check-migration-format

fix: 新增 migration 重新創建 students.email 索引
  backend/alembic/versions/20250922_1451_4981d39d8c03_recreate_students_email_index.py
Due: black, flake8, check-migration-format

fix: 修復剩餘的 staging 差異
  backend/alembic/versions/20250922_1529_ce5a518c2519_fix_remaining_staging_differences.py
Due: black, flake8, check-migration-format

fix: 新增巨大的 migration 修復所有 models 與 staging 差異
  backend/alembic/versions/20250922_1539_297301e573a9_fix_foreign_key_constraints_and_unique_.py
Due: black, flake8, check-migration-format

fix: 修復 migration 中不存在欄位的刪除錯誤
  backend/alembic/versions/20250922_1539_297301e573a9_fix_foreign_key_constraints_and_unique_.py
Due: black, flake8, check-migration-format

revert: 暫時移除有問題的巨大 migration
  backend/alembic/versions/20250922_1539_297301e573a9_fix_foreign_key_constraints_and_unique_.py
Due: black, flake8, check-migration-format

refactor: 重構 Alembic migration 歷史為乾淨初始狀態
  backend/alembic/versions/20250917_2235_a1b2c3d4e5f6_initial_complete_schema.py
  backend/alembic/versions/20250919_2358_c6bf62567aa6_add_teacher_review_fields_to_.py
  backend/alembic/versions/20250920_1529_e2c561f95920_add_teacher_passed_field_to_student_.py
  backend/alembic/versions/20250921_2344_75d0959d6f50_add_teacher_subscription_and_email_.py
  backend/alembic/versions/20250921_2345_a3cf45fb8eea_add_teacher_subscription_transaction_.py
  backend/alembic/versions/20250922_0859_12578a583628_add_password_reset_fields_to_teacher_.py
  backend/alembic/versions/20250922_1451_4981d39d8c03_recreate_students_email_index.py
  backend/alembic/versions/20250922_1529_ce5a518c2519_fix_remaining_staging_differences.py
  backend/alembic/versions/20250922_1615_51eb2968653a_initial_complete_schema_from_models.py
  backend/backup/alembic_migrations_backup/20250905_2008_fec3ec42ce70_add_template_and_source_tracking_to_.py
  backend/backup/alembic_migrations_backup/20250906_2237_47e26e8bf64b_add_email_verification_and_remove_.py
  backend/backup/alembic_migrations_backup/20250907_2251_f66a09eba7e7_add_email_verification_fields.py
  backend/backup/alembic_migrations_backup/20250910_2328_11560478a023_rename_student_id_to_student_number.py
Due: black, flake8, check-migration-format

fix: 修復 Cloud Run CPU 配置錯誤
  .github/workflows/deploy-staging-supabase.yml
Due: none

fix: 修復 Frontend Cloud Run CPU 配置錯誤
  .github/workflows/deploy-staging-supabase.yml
Due: none

feat: 完成 Production 環境設定與 branch-based CI/CD
  .github/workflows/deploy-production-cloudsql.yml.backup
  .github/workflows/deploy-production-supabase.yml.backup
  .github/workflows/deploy-staging-cloudsql.yml.backup
  .github/workflows/deploy-staging-supabase.yml.backup
  .github/workflows/deploy-supabase.yml
Due: none

fix: 移除測試檔案中的全域 create_all() 避免 SQLite table already exists 錯誤
  backend/tests/integration/api/test_teacher_registration_email.py
Due: black, flake8

fix: 強制使用 Pooler URL 進行 Alembic migrations 避免 IPv6 連接失敗
  .github/workflows/deploy-supabase.yml
Due: none

test: 新增教師訂閱系統本地測試腳本
  backend/test_subscription_local.py
Due: black, flake8

fix: Add missing nginx API proxy configuration for Production frontend
  frontend/nginx.conf
Due: none

fix: Add Production frontend URL to CORS allowed origins (REAL FIX)
  backend/main.py
  frontend/nginx.conf
Due: black, flake8

feat: Add custom domains and remove old domain from CORS
  backend/main.py
Due: black, flake8

chore: Update PRODUCTION_FRONTEND_URL secret - trigger redeploy
  backend/deployment_log.md
Due: none

fix: 移除 demo 帳號指派作業特殊權限，統一訂閱權限控制
  backend/models.py
  backend/test_assignment_permission.py
Due: black, flake8

fix: 添加前端作業指派權限控制，禁用未訂閱用戶按鈕
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 移動測試文件到tests目錄，避免影響生產環境部署
  backend/tests/integration/api/test_assignment_permission.py
Due: black, flake8

fix: 移動測試檔案到正確位置以修復部署問題
  backend/conftest.py
  backend/tests/conftest.py
  backend/tests/integration/api/test_subscription_local.py
Due: black, flake8

fix: 修復 Cloud Run 部署失敗問題
  backend/database.py
  backend/main.py
Due: black, flake8

revert: 恢復 database.py 和 main.py 至原始狀態
  backend/database.py
  backend/main.py
Due: black, flake8

fix: 禁用未訂閱用戶的作業管理 Tab
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 cleanup workflow 使用 Service Account Key 認證
  .github/workflows/cleanup-resources.yml
Due: none

feat: Add batch import feature for students with duplicate handling
  backend/routers/teachers.py
  backend/tests/integration/api/test_batch_import_duplicate_handling.py
  backend/tests/integration/api/test_student_batch_import.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/StudentImportDialog.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherStudents.tsx
  public/student_import_template.csv
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 改善批次匯入學生完成後的使用者體驗
  frontend/src/components/StudentImportDialog.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 實作學生錄音 45 秒限制與重新錄製功能
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/SpeakingPracticeTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 學生可查看老師逐題評語功能
  backend/routers/students.py
  backend/tests/integration/api/test_student_teacher_feedback.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 公版課程新增單元不跳轉並保持展開狀態 + 修復刪除單元功能
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復公版課程單元刪除失敗的問題
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復公版課程單元刪除功能完整版
  backend/routers/teachers.py
  frontend/src/components/LessonDialog.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls
