Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat(assignment): 提交作業前檢查未完成項目並顯示漂亮 Modal
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

feat(i18n): 新增首頁多語系支援 (繁體中文/English)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/main.tsx
  frontend/src/pages/Home.tsx
Due: typescript

fix(i18n): 修正首頁統計數據顯示格式
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

fix(i18n): 新增統計數值翻譯支援
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

fix(teacher): 新增學生後立即更新學生列表，修復派作業找不到新學生問題
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(mcp): 新增 Browser MCP Server 實現自動化測試
  .claude/mcp.json
  .gitignore
  docs/MCP_BROWSER_QUICKSTART.md
  mcp-servers/browser/README.md
  mcp-servers/browser/requirements.txt
  mcp-servers/browser/scenarios/duotopia_scenarios.py
  mcp-servers/browser/server.py
Due: none

security(supabase): 新增 RLS 修復腳本，解決 Security Advisor 16 個警告
  backend/migrations/enable_rls_all_tables.sql
  docs/SUPABASE_RLS_FIX.md
  mcp-servers/browser/.gitignore
  mcp-servers/browser/requirements.txt
Due: none

docs(supabase): 新增 RLS 手動修復步驟指南
  docs/RLS_MANUAL_FIX_STEPS.md
Due: none

security(rls): 建立完整 RLS 安全防護機制，防止未來資料表遺漏 RLS
  .github/workflows/deploy-backend.yml
  .pre-commit-config.yaml
  CICD.md
  backend/alembic/rls_template.py
  scripts/check_rls.sh
Due: check-import-patterns

feat(cron): 錄音錯誤報告增強 - 新增班級、老師資訊和使用統計
  backend/routers/cron.py
  backend/tests/unit/test_cron_recording_error_report.py
Due: check-import-patterns

fix(cron): 修正使用統計查詢錯誤 - 改用 audio_playback_errors 表
  backend/routers/cron.py
Due: check-import-patterns

feat(cron): 新增成功錄音統計 - 顯示成功率和活躍學生數
  backend/routers/cron.py
Due: check-import-patterns

fix(cron): 修正成功錄音統計查詢邏輯
  backend/routers/cron.py
  backend/tests/unit/test_cron_recording_count.py
Due: check-import-patterns

fix(teacher): 修正批改按鈕未帶 studentId 導致批改錯誤學生的問題
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(frontend): 修正批次貼上 Dialog 長文本溢出蓋住按鈕問題
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

fix(frontend): 修正批次貼上 Dialog 長文本溢出蓋住按鈕問題 (#3)
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript

feat(payment): 支援 TapPay 雙環境參數切換 (sandbox/production)
  backend/.env.example
  backend/core/config.py
  backend/services/tappay_service.py
  backend/tests/integration/test_tappay_sandbox.py
  docs/TAPPAY_ENVIRONMENT_SWITCH.md
  docs/TAPPAY_TEST_REPORT.md
  frontend/.env.example
  frontend/src/components/payment/TapPayPayment.tsx
Due: typescript, check-import-patterns

security: 移除測試檔案中硬編碼的 TapPay credentials
  backend/tests/integration/test_tappay_sandbox.py
Due: check-import-patterns

security: 移除 tappay_einvoice_service 中的硬編碼 credentials
  backend/services/tappay_einvoice_service.py
  backend/tests/integration/test_tappay_sandbox.py
  backend/tests/unit/test_tappay_service.py
Due: check-import-patterns

fix: black formatting
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  SECURITY_AUDIT_REPORT.md
  backend/tests/unit/test_tappay_service.py
  docs/GITHUB_SECRETS_SETUP.md
Due: check-import-patterns

security: 移除所有 TapPay service 的 fallback credentials
  GIT_HISTORY_CLEANUP_REPORT.md
  backend/services/tappay_einvoice_service.py
  backend/services/tappay_service.py
  backend/tests/unit/test_tappay_service.py
Due: check-import-patterns

feat(security): 新增 TapPay 超嚴格 credentials 檢查
  .github/hooks/security/check-tappay-credentials.sh
  .github/hooks/security/security-audit.sh
  .pre-commit-config.yaml
  docs/SECURITY_PRE_COMMIT_HOOKS.md
Due: none

fix(security): TapPay check 只在 commit 階段執行
  .pre-commit-config.yaml
Due: none

fix(security): handle empty commits in TapPay check
  .github/hooks/security/check-tappay-credentials.sh
Due: none

fix(deploy): 修正 TapPay 環境變數名稱不匹配
  .github/workflows/deploy-staging.yml
  frontend/Dockerfile
Due: none
