Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

style: fix prettier formatting for PricingPage
  frontend/src/pages/PricingPage.tsx
Due: typescript

style: 執行 Prettier 格式化修正 CI/CD 格式檢查
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/ListeningModeTemplate.tsx
  frontend/src/components/activities/SentenceMakingActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/activities/WritingModeTemplate.tsx
  frontend/src/components/activities/shared/ProgressIndicator.tsx
  frontend/src/components/activities/shared/WordChoicePanel.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(i18n): complete internationalization for entire frontend
  I18N_IMPLEMENTATION_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ClassroomAssignDialog.tsx
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/CopyProgramDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/ProgramDialogs.tsx
  frontend/src/components/StudentCompletionDashboard.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/StudentImportDialog.tsx
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/components/SubscriptionProgressBanner.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/TeacherLoginModal.tsx
  frontend/src/components/TeacherSubscriptionBanner.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/pages/TermsOfService.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/student/StudentProfile.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript

feat(i18n): add LanguageSwitcher to all pages for global language switching
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/pages/EmailVerification.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/TeacherEmailVerification.tsx
  frontend/src/pages/TeacherForgotPassword.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/pages/TeacherResetPassword.tsx
  frontend/src/pages/TeacherVerifyEmail.tsx
  frontend/src/pages/TermsOfService.tsx
  frontend/tests/language-switcher.spec.ts
  frontend/tests/staging-i18n-visual.spec.ts
Due: typescript

test(i18n): add language persistence tests across page navigation
  frontend/tests/language-persistence.spec.ts
Due: none

feat(i18n): complete i18n for all Teacher and Student pages
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
  frontend/tests/language-switcher-rwd.spec.ts
Due: typescript

feat(i18n): complete i18n for all remaining pages (100% coverage)
  PRD_November_2025.md
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherDashboard.tsx
  frontend/src/pages/admin/AdminMonitoringPage.tsx
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
  frontend/src/pages/admin/DatabaseAdminPage.tsx
Due: typescript

fix(tests): remove unused expect import from staging i18n test
  frontend/tests/staging-i18n-visual.spec.ts
Due: none

fix(i18n): add missing TeacherDashboard translation keys
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(i18n): implement full i18n for LessonDialog and fix TeacherDashboard translation keys
  frontend/src/components/LessonDialog.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript

fix(i18n): add missing StudentLayout translation keys
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(i18n): add missing studentActivityPage translation keys
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(i18n): replace hardcoded Chinese text with translation keys in Student/Teacher components
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
Due: typescript

fix(i18n): add missing studentActivityPage.status translation keys
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(i18n): replace remaining hardcoded Chinese in StudentActivityPageContent
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(i18n): complete i18n for ReadingAssessmentPanel component
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(i18n): add complete i18n for SubscriptionCardManagement
  frontend/src/components/payment/SubscriptionCardManagement.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(i18n): 完成學生作業頁面的 i18n
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: typescript

feat(i18n): complete i18n for all remaining pages (100% coverage)
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/LessonDialog.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/StudentImportDialog.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/admin/TestRecordingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript

feat: 完成老師和學生 Profile 功能及 API 測試
  PRD_November_2025.md
  backend/routers/students.py
  backend/routers/teachers.py
  backend/tests/integration/api/test_student_password_reset.py
  backend/tests/integration/api/test_teacher_password_reset.py
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/student/StudentProfile.tsx
Due: typescript, check-import-patterns

fix(cicd): correct table names in RLS exclusion list
  .github/workflows/deploy-backend.yml
Due: none

feat: add Teacher Profile page with editable fields and password change
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentProfile.tsx
  frontend/src/pages/teacher/TeacherProfile.tsx
Due: typescript

fix(ui): remove Account Info card from Student Profile
  frontend/src/pages/student/StudentProfile.tsx
Due: typescript

fix(auth): fix password validation and i18n issues
  backend/auth.py
  backend/routers/auth.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/tests/integration/auth/test_auth.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherRegister.tsx
Due: typescript, check-import-patterns

feat(ui): add password requirements hints to Profile pages
  backend/tests/integration/auth/test_password_bugs.py
  frontend/src/pages/student/StudentProfile.tsx
  frontend/src/pages/teacher/TeacherProfile.tsx
Due: typescript, check-import-patterns

chore: update GitGuardian config to ignore test passwords
  .gitguardian.yaml
Due: none

feat(auth): enhance password validation with comprehensive checks
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherRegister.tsx
  frontend/src/pages/student/StudentProfile.tsx
  frontend/src/pages/teacher/TeacherProfile.tsx
  frontend/src/utils/passwordValidation.ts
Due: typescript

feat(admin): add refund API and comprehensive tests
  backend/alembic/versions/20251119_1859_62dc946ce341_add_refund_tracking_fields_to_.py
  backend/alembic/versions/20251119_1901_289edf7e0aa8_fix_refunded_amount_type_to_integer.py
  backend/models.py
  backend/routers/admin.py
  backend/schemas.py
  backend/tests/integration/api/test_admin_refund.py
Due: check-import-patterns

fix(i18n): add missing button translations for student assignment submission
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(i18n): add missing saving status translations for mobile
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix(i18n): replace all hardcoded Chinese in AIScoreDisplay with i18n
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(i18n): comprehensive i18n fixes for all Tier 1 & Tier 2 components
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/components/ui/tag-input.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/TeacherResetPassword.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

refactor(admin): improve refund API - sync completion and period update
  backend/routers/admin.py
Due: check-import-patterns

feat(rate-limit): change to email-based rate limiting + add unit tests
  backend/conftest.py
  backend/core/limiter.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_rate_limiter.py
Due: check-import-patterns

feat(admin): complete refund history and display enhancements
  backend/routers/admin.py
  backend/routers/admin_subscriptions.py
  backend/services/tappay_service.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
Due: typescript, check-import-patterns

docs(prd): update November 2025 PRD to 100% completion
  PRD_November_2025.md
Due: none

docs(prd): add student assignment workflow improvements to TODO
  PRD_November_2025.md
Due: none

feat: 將 develop 環境改用獨立的 Supabase 資料庫
  .github/workflows/deploy-backend.yml
Due: none

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
