Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

hotfix(db): add missing vocabulary columns skipped by CI/CD stamp
  backend/alembic/versions/20260120_0844_hotfix_add_missing_vocabulary_columns.py
Due: check-import-patterns

hotfix(db): add missing vocabulary columns to fix staging 500 errors (#169)
  backend/alembic/versions/20260120_0844_hotfix_add_missing_vocabulary_columns.py
Due: check-import-patterns

fix(ci): allow alembic check to pass with known legacy schema differences
  .github/workflows/deploy-backend.yml
Due: none

fix(api): restore missing batch-grade endpoints after modular refactor
  backend/routers/assignments/grading.py
  backend/routers/assignments/utils.py
  backend/routers/assignments/validators.py
Due: check-import-patterns

fix(api): restore missing batch-grade endpoints after modular refactor (#178)
  backend/routers/assignments/grading.py
  backend/routers/assignments/utils.py
  backend/routers/assignments/validators.py
Due: check-import-patterns

feat: 實現學校學生管理和指派班級功能
  .gitignore
  TODO.md
  backend/alembic/versions/20260120_1743_6334a41a9f41_create_student_school_relationship.py
  backend/main.py
  backend/models/__init__.py
  backend/models/organization.py
  backend/models/user.py
  backend/routers/schemas/student.py
  backend/routers/student_schools.py
  backend/routers/teachers/classroom_ops.py
  backend/routers/teachers/student_ops.py
  backend/tests/test_school_students_api.py
  backend/tests/test_teacher_classroom_student_permissions.py
  backend/utils/permissions.py
  docs/plans/2026-01-19-school-student-management-complete.md
  frontend/src/components/organization/AssignClassroomDialog.tsx
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/components/organization/StudentListTable.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript, check-import-patterns

feat(school): 完善學生管理功能並替換所有 confirm() 為 Modal
  frontend/src/components/organization/ConfirmDialog.tsx
  frontend/src/components/organization/EditStudentDialog.tsx
  frontend/src/components/organization/ImportStudentsDialog.tsx
  frontend/src/components/organization/StudentListTable.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/pages/organization/TeachersPage.tsx
Due: typescript

feat: 學校管理功能優化
  docs/testing/2026-01-20-school-management-testing.md
  frontend/src/components/organization/AssignClassroomDialog.tsx
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/components/organization/ClassroomListTable.tsx
  frontend/src/components/organization/ClassroomMaterialsSidebar.tsx
  frontend/src/components/organization/ClassroomStudentsSidebar.tsx
  frontend/src/components/organization/StudentListTable.tsx
  frontend/src/components/organization/TeacherListTable.tsx
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
  frontend/src/pages/organization/SchoolTeachersPage.tsx
Due: typescript

fix: 修復指派班級對話框過濾邏輯和麵包屑顯示
  frontend/src/components/organization/AssignClassroomDialog.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

feat: 優化學校班級管理功能
  backend/routers/classroom_schools.py
  backend/routers/school_programs.py
  frontend/src/components/organization/ClassroomListTable.tsx
  frontend/src/components/organization/ClassroomMaterialsSidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript, check-import-patterns

fix(assignments): restore content copy mechanism for assignment isolation
  backend/routers/assignments/crud.py
Due: check-import-patterns

fix(assignments): restore content copy mechanism for assignment isolation (#180)
  backend/routers/assignments/crud.py
Due: check-import-patterns

style: fix Black formatting for crud.py
  backend/routers/assignments/crud.py
Due: check-import-patterns

style: fix Black formatting for crud.py (#181)
  backend/routers/assignments/crud.py
Due: check-import-patterns

ci: add student_schools to RLS exclude list
  .github/workflows/deploy-backend.yml
Due: none

ci: add student_schools to RLS exclude list (#182)
  .github/workflows/deploy-backend.yml
Due: none

fix(api): handle vocabulary set field name mismatches
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(api): handle vocabulary set field name mismatches (#183)
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(frontend): batch TTS should generate word audio, not sentence audio
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(api): store full parts_of_speech array in metadata
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(frontend): batch TTS should generate word audio, not sentence audio (#184)
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

style: fix Prettier formatting in VocabularySetPanel
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

style: fix Prettier formatting in VocabularySetPanel (#185)
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix(api): add parts_of_speech and vocabulary fields to GET content detail
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(api): add parts_of_speech and vocabulary fields to GET content detail (#186)
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

feat: add classroom CRUD schemas for school management
  backend/backend/routers/schemas/classroom.py
Due: check-import-patterns

fix: 修復學生創建 422 錯誤和教材創建 UI 提示
  backend/routers/schemas/student.py
  backend/tests/test_school_students_api.py
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/components/organization/ImportStudentsDialog.tsx
  frontend/src/components/shared/SchoolProgramCreateDialog.tsx
Due: typescript, check-import-patterns

fix: org_owner/org_admin can now copy materials to schools
  backend/routers/programs.py
Due: check-import-patterns

fix: shorten source_type to fit varchar(20) constraint
  backend/models/program.py
  backend/routers/organization_programs.py
  backend/routers/programs.py
  backend/tests/test_e2e_organization_materials.py
  backend/tests/test_organization_programs.py
Due: check-import-patterns

docs: update TODO.md - mark Issue #112 as completed
  TODO.md
Due: none

docs: add Teacher Workspace Switcher design specification
  TODO.md
  docs/plans/2026-01-26-teacher-workspace-switcher-design.md
Due: none

ci: add n8n system tables to RLS exclude list
  .github/workflows/deploy-backend.yml
Due: none

docs: add comprehensive implementation plan for workspace switcher
  docs/plans/2026-01-26-teacher-workspace-switcher-implementation.md
Due: none

feat: add GET /api/teachers/{teacher_id}/organizations endpoint with optimizations
  backend/routers/teachers/__init__.py
  backend/routers/teachers/teacher_organizations.py
  backend/tests/test_teacher_organizations.py
Due: check-import-patterns

fix(i18n): update teacher interface terminology for clarity (#162)
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

feat: implement Teacher Workspace Switcher UI components
  frontend/src/components/workspace/OrganizationTab.tsx
  frontend/src/components/workspace/PermissionBanner.tsx
  frontend/src/components/workspace/PersonalTab.tsx
  frontend/src/components/workspace/README.md
  frontend/src/components/workspace/SchoolList.tsx
  frontend/src/components/workspace/SchoolSwitcher.tsx
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
  frontend/src/components/workspace/index.ts
  frontend/src/contexts/WorkspaceContext.tsx
Due: typescript

feat: integrate workspace switcher into TeacherLayout sidebar
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/sidebar/SidebarGroup.tsx
  frontend/src/components/sidebar/SidebarItem.tsx
  frontend/src/components/workspace/OrganizationTab.tsx
  frontend/src/components/workspace/PersonalTab.tsx
Due: typescript

fix: workspace switcher i18n and language selector issues
  CLAUDE.md
  docs/plans/2026-01-25-migration-squash-issue-112.md
  frontend/WORKSPACE_SWITCHER_TEST_REPORT.md
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/sidebar/SidebarItem.tsx
  frontend/src/components/workspace/OrganizationTab.tsx
  frontend/src/components/workspace/PermissionBanner.tsx
  frontend/src/components/workspace/PersonalTab.tsx
  frontend/src/components/workspace/SchoolList.tsx
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/tests/test-i18n-fix.spec.ts
  frontend/tests/test-language-switch.spec.ts
  frontend/tests/workspace-switcher-final.spec.ts
  frontend/tests/workspace-switcher-visual.spec.ts
  frontend/tests/workspace-switcher.spec.ts
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
