Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

feat: Improve cleanup workflow and update git-issue-pr-flow docs
  .claude/agents/git-issue-pr-flow.md
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

fix: Correct API response field name from student_id to student_number
  backend/routers/teachers.py
  frontend/src/components/StudentDialogs.tsx
Due: typescript, check-import-patterns

test: Add integration tests for teachers students API
  backend/tests/integration/api/test_teachers_students_api.py
Due: check-import-patterns

revert: restore classroom-only filter (remove public template display)
  backend/routers/teachers.py
  backend/tests/integration/api/test_issue_32_classroom_course_filter.py
  backend/tests/integration/api/test_issue_32_course_filter.py
Due: check-import-patterns

fix: remove unused import or_
  backend/routers/teachers.py
Due: check-import-patterns

feat: Auto-calculate assignment score from AI assessment (Related to #53)
  backend/routers/students.py
  backend/tests/unit/test_assignment_score_calculation.py
Due: check-import-patterns

fix: correct variable name in CreateProgramDialog title translation
  frontend/src/components/CreateProgramDialog.tsx
Due: typescript

feat: 合併 migration 並更新 seed 資料以符合作業副本機制
  backend/alembic/versions/20251201_2336_cd6eab4e2001_add_assignment_copy_fields_to_content.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/seed_data.py
  backend/tests/integration/api/test_assignment_bulk_operations.py
  backend/tests/integration/api/test_assignment_content_copy_mechanism.py
  backend/tests/integration/api/test_assignment_permission_filtering.py
  backend/tests/integration/api/test_student_assignment_end_to_end.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

style: 修正程式碼格式（縮排調整）
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
Due: typescript, check-import-patterns

feat: implement assignment-template separation with content copy mechanism
  backend/routers/assignments.py
  backend/routers/teachers.py
  backend/services/audio_upload.py
  backend/services/tts.py
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

docs: add project handover documentation for Issue #56
  PROJECT_HANDOVER.md
Due: none

refactor: update assignment dialog translation keys
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix: resolve 3 critical issues from code review
  backend/alembic/versions/20251201_2336_cd6eab4e2001_add_assignment_copy_fields_to_content.py
  backend/routers/assignments.py
  backend/routers/teachers.py
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: Apply Black, Flake8, Prettier, and ESLint formatting/linting fixes
  backend/alembic/versions/20251201_2336_cd6eab4e2001_add_assignment_copy_fields_to_content.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/teachers.py
  backend/seed_data.py
  backend/services/audio_upload.py
  backend/services/tts.py
  backend/tests/integration/api/test_assignment_bulk_operations.py
  backend/tests/integration/api/test_assignment_content_copy_mechanism.py
  backend/tests/integration/api/test_assignment_permission_filtering.py
  backend/tests/integration/api/test_student_assignment_end_to_end.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: Update flake8 config to ignore E402 in test files and run Prettier
  .flake8
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix: Use relative paths in flake8 per-file-ignores for E402
  .flake8
Due: none

fix: Match Content model with migration schema
  backend/models.py
Due: check-import-patterns

chore: exclude migration script and backup folder from Flake8
  .flake8
Due: none

fix: Add nullable=False to is_assignment_copy field
  backend/models.py
Due: check-import-patterns

docs: add Issue #56 staging migration record and merge risk assessment
  MERGE_RISK_ASSESSMENT.md
  docs/ISSUE_56_STAGING_MIGRATION.md
Due: none

security: sanitize DATABASE_URL to remove project identifiers in migration docs
  docs/ISSUE_56_STAGING_MIGRATION.md
Due: none

Issue #56: Assignment-Template Separation (Staging → Main) (#57)
  .flake8
  MERGE_RISK_ASSESSMENT.md
  PROJECT_HANDOVER.md
  backend/alembic/versions/20251201_2336_cd6eab4e2001_add_assignment_copy_fields_to_content.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/seed_data.py
  backend/services/audio_upload.py
  backend/services/tts.py
  backend/tests/integration/api/test_assignment_bulk_operations.py
  backend/tests/integration/api/test_assignment_content_copy_mechanism.py
  backend/tests/integration/api/test_assignment_permission_filtering.py
  backend/tests/integration/api/test_student_assignment_end_to_end.py
  docs/ISSUE_56_STAGING_MIGRATION.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

refactor: reorganize GitHub Actions workflows with logical prefixes
  .github/workflows/SCHEDULER_README.md
  .github/workflows/SETUP_SECRETS.md
  .github/workflows/automation-auto-approve.yml
  .github/workflows/automation-claude-pdca.yml
  .github/workflows/automation-claude-review.yml
  .github/workflows/automation-claude.yml
  .github/workflows/cleanup-per-issue-on-close.yml
  .github/workflows/deploy-per-issue.yml
  .github/workflows/fix-rls.yml
  .github/workflows/maintenance-cloud-scheduler.yml
  .github/workflows/maintenance-seed-develop.yml
  .github/workflows/monitor-daily-billing.yml
Due: none

feat: 例句重組模式與老師預覽功能完整實作
  .github/workflows/seed-develop.yml
  backend/alembic/versions/20251202_0307_8ccd904efbd3_add_new_content_types_enum_values.py
  backend/alembic/versions/20251202_0309_3ee73ce1da44_add_content_item_word_count.py
  backend/alembic/versions/20251202_0309_e263ed443762_add_assignment_practice_settings.py
  backend/alembic/versions/20251202_0310_ef39b61409ec_add_student_item_progress_rearrangement_.py
  backend/alembic/versions/20251202_0311_965a26e784cf_migrate_content_types_to_new_values.py
  backend/auth.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  docs/CONTENT_TYPES_ANALYSIS.md
  docs/CONTENT_TYPE_REFACTOR_PLAN.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/shared/programTreeConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

style: Prettier 與 Black 格式化
  backend/alembic/versions/20251201_1341_645f464ffb30_merge_staging_refund_and_develop_.py
  backend/alembic/versions/20251202_0307_8ccd904efbd3_add_new_content_types_enum_values.py
  backend/alembic/versions/20251202_0309_3ee73ce1da44_add_content_item_word_count.py
  backend/alembic/versions/20251202_0309_e263ed443762_add_assignment_practice_settings.py
  backend/alembic/versions/20251202_0310_ef39b61409ec_add_student_item_progress_rearrangement_.py
  backend/alembic/versions/20251202_0311_965a26e784cf_migrate_content_types_to_new_values.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

feat(issue-53): implement batch AI grading with completeness_score optimization
  .flake8
  .pre-commit-config.yaml
  backend/alembic/versions/20251202_1646_288ad5a75206_add_completeness_score_to_student_item_.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/tests/integration/api/test_batch_ai_grading.py
  backend/tests/integration/api/test_completeness_score_implementation.py
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

feat: Implement score fallback+backfill mechanism and fix batch grading UI
  backend/routers/assignments.py
  backend/routers/students.py
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript, check-import-patterns

style: Format code with Black and Prettier
  backend/routers/assignments.py
  backend/routers/students.py
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript, check-import-patterns

feat: Add CI/CD auto-monitor agent with post-push hook
  .claude/agents/agent-manager.md
  .claude/agents/cicd-monitor.md
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

fix: Optimize CI/CD monitoring and fix cleanup workflow trigger
  .claude/agents/cicd-monitor.md
  .github/workflows/cleanup-per-issue-on-close.yml
  CLAUDE.md
Due: none

fix(issue-53): Fix BatchGradingModal schema mismatch to display all students
  docs/BATCH_GRADING_TEST_CONTRACT.md
  frontend/src/components/BatchGradingModal.tsx
Due: typescript

fix(issue-53): Implement two-phase batch grading flow and integrate AI grading to single student page
  .claude/implementation-plan-ai-batch-grading.md
  .claude/specs/complete-ai-batch-grading-spec.md
  backend/routers/assignments.py
  backend/tests/integration/api/test_batch_grading_complete.py
  backend/tests/integration/api/test_batch_grading_finalize.py
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

fix(issue-53): Allow single-student AI grading for any status
  backend/routers/assignments.py
  backend/tests/integration/api/test_batch_grading_single_student_mode.py
Due: check-import-patterns

feat(issue-53): Add dimension scores display to BatchGradingModal
  frontend/src/components/BatchGradingModal.tsx
Due: typescript

style(issue-53): Improve button styles and score display precision
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(issue-53): Improve batch grading UX and score display precision
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(issue-53): Improve accessibility and RWD for batch grading UI
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(issue-31): Add student_number uniqueness validation within classroom
  backend/routers/teachers.py
  backend/tests/integration/api/test_student_number_uniqueness.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: check-import-patterns

fix(issue-31): Display student_number instead of internal ID
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

chore: Exclude backend/scripts from flake8 linting
  .flake8
  .pre-commit-config.yaml
Due: none

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
