Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

chore: trigger deploy
  .trigger
Due: none

chore: trigger frontend deploy
  frontend/.trigger
Due: none

fix(ci): remove output capture from gcloud deploy to prevent timeout
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger deploy after workflow fix
  frontend/.deploy-trigger
Due: none

fix(backend): add missing Optional import
  backend/routers/programs.py
Due: check-import-patterns

fix(frontend): wrap ClassroomDetail in TeacherLayout to provide WorkspaceProvider
  frontend/src/App.tsx
Due: typescript

feat: 指派作業>選擇學生Modal 新增顯示學號資訊 (#200)
  backend/routers/teachers/classroom_ops.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript, check-import-patterns

feat(teacher): disable student edit/delete in organization school mode
  frontend/src/components/StudentTable.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript

feat(frontend): add school materials tab to assignment dialog
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

chore: remove deployment trigger files
  .trigger
  frontend/.deploy-trigger
  frontend/.trigger
Due: none

fix(frontend): remove double TeacherLayout nesting in ClassroomDetail
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(frontend): fix personal materials display and disable buttons in org mode
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript

fix(backend): filter out school/org programs from personal materials tab
  backend/routers/teachers/program_ops.py
  docs/plans/2026-01-30-admin-org-creation-phase1-plan.md
  frontend/src/components/AssignmentDialog.tsx
  issue-112-systematic-investigation-report.md
  issue-112-teacher-feedback-errors.md
Due: typescript, check-import-patterns

fix: sanitize answer_mode to prevent database constraint violation
  backend/routers/assignments/crud.py
  backend/routers/assignments/validators.py
Due: check-import-patterns

fix(frontend): improve dialog UX and error handling
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ui/dialog.tsx
Due: typescript

fix(frontend): make SentenceMakingActivity work in organization material context
  frontend/src/components/activities/SentenceMakingActivity.tsx
Due: typescript

fix(backend): remove incorrect teacher_id filter from reorder endpoints
  backend/routers/programs.py
Due: check-import-patterns

fix(frontend): add missing Program type fields and remove unused imports
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/types/index.ts
Due: typescript

fix(frontend): resolve all TypeScript any types and ESLint warnings
  frontend/eslint.config.js
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/SentenceMakingActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/organization/EditStudentDialog.tsx
  frontend/src/components/organization/ImportStudentsDialog.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/tests/test-i18n-fix.spec.ts
  frontend/tests/workspace-switcher-final.spec.ts
Due: typescript

style(frontend): fix Prettier formatting after ESLint auto-fix
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript

chore: remove issue #112 tracking document
  issue-112-teacher-feedback-errors.md
Due: none

feat(database): add organization points system migration
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/models/organization.py
Due: check-import-patterns

feat(database): add organization points system migration (#198)
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/models/organization.py
Due: check-import-patterns

fix(backend): fix all 45 critical Flake8 errors for staging deployment
  .flake8
  backend/.flake8
  backend/docs/examples/organization_materials_router_example.py
  backend/models/organization.py
  backend/routers/admin.py
  backend/routers/assignments/__init__.py
  backend/routers/programs.py
  backend/routers/schemas/admin_organization.py
  backend/routers/schools.py
  backend/routers/teachers.py
  backend/routers/teachers/__init__.py
  backend/routers/teachers/teacher_organizations.py
  backend/services/program_service.py
  backend/tests/integration/api/test_organization_spec_decisions.py
  backend/tests/test_admin_organizations.py
  backend/tests/test_organization_programs.py
  backend/tests/test_organization_teachers.py
Due: check-import-patterns

fix(ci): use .flake8 config file instead of explicit CLI flags
  .github/workflows/deploy-backend.yml
Due: none

fix(ci): point flake8 to root .flake8 config file
  .github/workflows/deploy-backend.yml
Due: none

fix(config): update .flake8 paths to be relative to backend/ directory
  .flake8
Due: none

fix(config): comprehensive .flake8 per-file-ignores for all directories
  .flake8
Due: none

chore: remove incorrectly nested backend/backend/ directory
  backend/backend/routers/schemas/classroom.py
Due: check-import-patterns

feat(backend): add points management to admin organization endpoints
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations_points.py
Due: check-import-patterns

feat(api): add GET /organizations/{id}/points endpoint
  backend/main.py
  backend/routers/organization_points.py
  backend/tests/test_organization_points_api.py
Due: check-import-patterns

feat(api): add POST /organizations/{id}/points/deduct endpoint
  backend/models/__init__.py
  backend/routers/organization_points.py
  backend/tests/test_organization_points_api.py
Due: check-import-patterns

feat(api): add GET /organizations/{id}/points/history endpoint
  backend/routers/organization_points.py
  backend/tests/test_organization_points_api.py
Due: check-import-patterns

feat(frontend): add organization points display components
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
  frontend/src/types/points.ts
Due: typescript

feat(frontend): integrate points display into organization dashboard
  frontend/src/pages/organization/OrganizationDashboard.tsx
Due: typescript

docs(project): add issue #198 verification checklist and implementation plan
  TODO.md
  docs/plans/2026-02-03-organization-points-system.md
Due: none
