Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

refactor: modularize assignments.py into routers/assignments/
  backend/routers/assignments.py
  backend/routers/assignments/__init__.py
  backend/routers/assignments/crud.py
  backend/routers/assignments/dependencies.py
  backend/routers/assignments/detail.py
  backend/routers/assignments/grading.py
  backend/routers/assignments/submission.py
  backend/routers/assignments/utils.py
  backend/routers/assignments/validators.py
Due: check-import-patterns

docs: consolidate documentation structure (8 → 5 core files)
  .claude/DOCUMENTATION_CONSOLIDATION_PLAN.md
  CICD.md
  CLAUDE.md
  ORG_IMPLEMENTATION_SPEC.md
  ORG_TODO.md
  PAYMENT_TESTING_GUIDE.md
  PERFORMANCE_OPTIMIZATIONS.md
  README-GIT-FLOW.md
  TAPPAY_EINVOICE_INTEGRATION.md
  backend/routers/students.py
  backend/routers/students/__init__.py
  backend/routers/students/account_management.py
  backend/routers/students/assignments.py
  backend/routers/students/auth.py
  backend/routers/students/dependencies.py
  backend/routers/students/email_verification.py
  backend/routers/students/profile.py
  backend/routers/students/recordings.py
  backend/routers/students/validators.py
  docs/integrations/TAPPAY_INTEGRATION_GUIDE.md
  test-workflows.sh
Due: check-import-patterns

refactor: modularize routers (teachers, assignments, students)
  backend/routers/teachers/__init__.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/classroom_ops.py
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/dependencies.py
  backend/routers/teachers/profile_ops.py
  backend/routers/teachers/program_ops.py
  backend/routers/teachers/student_ops.py
  backend/routers/teachers/subscription_ops.py
  backend/routers/teachers/translation_ops.py
  backend/routers/teachers/tts_ops.py
  backend/routers/teachers/upload_ops.py
  backend/routers/teachers/utils.py
  backend/routers/teachers/validators.py
Due: check-import-patterns

docs: mark StudentContentProgress as DEPRECATED
  backend/models.py
Due: check-import-patterns

refactor: modularize models.py into models/ package
  .github/workflows/per-issue-deploy.yml
  backend/models.py
  backend/models/__init__.py
  backend/models/assignment.py
  backend/models/base.py
  backend/models/classroom.py
  backend/models/organization.py
  backend/models/program.py
  backend/models/progress.py
  backend/models/subscription.py
  backend/models/user.py
Due: check-import-patterns

ci: enhance per-issue deployment with @claude support and auto-notifications
  .github/workflows/per-issue-deploy.yml
Due: none

fix: correct YAML syntax and comprehensive cleanup for all branch types
  .github/workflows/cleanup-per-issue-on-close.yml
  .github/workflows/per-issue-deploy.yml
Due: none

chore: trigger workflow with fixed YAML
  backend/README.md
Due: none

refactor: unify branch naming to claude/issue-XX for consistency
  .claude/agents/git-issue-pr-flow.md
  .claude/agents/git-issue-pr-flow.sh
  .github/workflows/cleanup-per-issue-on-close.yml
  CICD.md
Due: none

docs: add @claude GitHub bot workflow guidance to CLAUDE.md
  CLAUDE.md
Due: none

docs: strengthen @claude bot branch naming rules in CLAUDE.md
  CLAUDE.md
Due: none

fix: extract only first number after 'issue-' in branch names
  .github/workflows/per-issue-deploy.yml
Due: none

feat: Add start_date field to assignment creation and update UI accordingly
  backend/routers/assignments.py
  frontend/src/components/AssignmentDialog.tsx
Due: typescript, check-import-patterns

fix: Add required birthdate field to test fixture for Issue #34
  backend/tests/integration/api/test_issue_34_assignment_start_date.py
Due: check-import-patterns

fix: Restore check-agent-rules.py hook from staging
  .claude/hooks/check-agent-rules.py
Due: none

style: Format assignments.py with black
  backend/routers/assignments.py
Due: check-import-patterns

style: Format frontend components with prettier
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
Due: typescript

feat: Add YAML front matter to agents and create TDD validator
  .claude/agents/agent-manager.md
  .claude/agents/error-reflection-agent.md
  .claude/agents/tdd-validator-agent.md
Due: none

fix: Fix navigation to return to assignment list after submit/back
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/tests/e2e/issue-28-assignment-navigation.spec.ts
Due: typescript

chore: Add check-agent-rules.py hook to issue-28 branch
  .claude/hooks/check-agent-rules.py
Due: none

style: Format UI components with prettier
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
Due: typescript

fix: Issue #31 - Student number storage with security hardening
  backend/routers/teachers.py
  backend/tests/integration/api/test_issue_31_student_number.py
  frontend/src/components/StudentDialogs.tsx
Due: typescript, check-import-patterns

fix: Issue #27 - Update assignment status labels per Kaddy feedback
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix: implement classroom course filter for teacher assignment UI
  backend/routers/teachers.py
  backend/tests/integration/api/test_issue_32_classroom_course_filter.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
Due: typescript, check-import-patterns

refactor: simplify git-issue-pr-flow by removing shell script
  .claude/agents/git-issue-pr-flow.md
  .claude/agents/git-issue-pr-flow.sh
  .claude/templates/pdca-act.md
  .claude/templates/pdca-plan.md
  .github/workflows/auto-approve-detection.yml
  CLAUDE.md
Due: none

fix: merge NOT_STARTED and IN_PROGRESS status display in student UI
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

feat: Add daily billing monitoring and alert system
  .github/workflows/daily-billing-report.yml
  backend/.env.example
  backend/scripts/daily_billing_report.py
  backend/services/billing_analysis_service.py
  backend/services/email_service.py
  backend/tests/test_billing_monitoring.py
Due: check-import-patterns

fix: Apply black formatting and fix flake8 linting errors
  backend/scripts/daily_billing_report.py
  backend/services/billing_analysis_service.py
  backend/services/email_service.py
  backend/tests/test_billing_monitoring.py
Due: check-import-patterns

feat: Add automatic cleanup of old container images in Artifact Registry
  .github/workflows/cleanup-resources.yml
  .github/workflows/per-issue-deploy.yml
Due: none

fix: update OpenAI API to version 1.0+ compatibility
  backend/services/billing_analysis_service.py
Due: check-import-patterns

feat: Add Claude Code shared settings.json
  .claude/settings.json
Due: none

chore: Remove deprecated settings.json file
  .claude/settings.json
Due: none

fix: merge migration heads from staging and develop
  backend/alembic/versions/20251201_1341_645f464ffb30_merge_staging_refund_and_develop_.py
Due: check-import-patterns

[UX] 學生儀錶板【我的作業】顯示方式需調整 #27 (#46)
  backend/.gitkeep_deploy_27
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

[UX] 移除開始寫作業前的確認畫面 #28 (#47)
  backend/.gitkeep_deploy_28
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/tests/e2e/issue-28-assignment-navigation.spec.ts
Due: typescript

[Bug] 設定未來開始日期時，學生提前看到作業卡片 #34 (#49)
  backend/.gitkeep_deploy
  backend/routers/assignments.py
  backend/routers/students.py
  backend/tests/integration/api/test_issue_34_assignment_start_date.py
  frontend/src/components/AssignmentDialog.tsx
Due: typescript, check-import-patterns

feat: Add password hints to student login page (#38)
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/StudentLogin.tsx
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
