Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

refactor(frontend): simplify SchoolMaterialsPage - remove reorder logic, add scope props
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript

docs: mark HIGH priority reorder bug as complete in TODO.md
  TODO.md
Due: none

fix(reorder): 修復拖曳排序功能 - INSERT邏輯+本地狀態更新
  backend/routers/programs.py
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript, check-import-patterns

docs: 更新 TODO.md - reorder 功能修復完成
  TODO.md
Due: none

test: add ProgramTreeView test setup
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

test: add failing tests for Program CRUD
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

feat: add internal Program CRUD handlers
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

test: add Lesson CRUD test setup
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

feat: add internal Lesson CRUD handlers
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

test: add Content Delete test setup
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
Due: typescript

feat: add internal Content Delete handler
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

docs(ProgramTreeView): Add comprehensive JSDoc documentation for Props interface
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

refactor: simplify MaterialsPage using internal ProgramTreeView CRUD
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript

refactor: simplify SchoolMaterialsPage using internal ProgramTreeView CRUD
  frontend/src/pages/organization/SchoolMaterialsPage.tsx
Due: typescript

refactor: migrate TeacherTemplatePrograms to use ProgramTreeView
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

docs: complete ProgramTreeView refactor documentation
  TODO.md
  frontend/docs/architecture/program-tree-refactor.md
Due: none

fix(typescript): resolve all TypeScript compilation errors
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/components/shared/__tests__/ProgramTreeView.test.tsx
  frontend/src/hooks/useProgramTree.ts
Due: typescript

fix(api): Fix Lesson Update endpoint + code review issues
  backend/routers/programs.py
  backend/schemas.py
  backend/tests/test_programs_api.py
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript, check-import-patterns

docs: Add ProgramTreeView refactor implementation plan
  docs/plans/2026-01-16-programtreeview-refactor.md
Due: none

test(programs): fix 14 failing tests, achieve 100% pass rate
  backend/tests/test_programs_api.py
Due: check-import-patterns

feat: add school scope support to unified programs API
  backend/routers/programs.py
  backend/services/program_service.py
  backend/tests/test_school_scope_programs.py
  backend/utils/permissions.py
Due: check-import-patterns

feat: Add staging database seed workflow
  .github/workflows/maintenance-seed-staging.yml
Due: none

refactor(seed): unify seed password to single env var
  .github/workflows/maintenance-seed-staging.yml
  backend/seed_demo_data.py
  backend/seed_local_org.py
Due: check-import-patterns

fix(models): add missing PracticeSession and PracticeAnswer to models/
  backend/models/__init__.py
  backend/models/progress.py
Due: check-import-patterns

fix(ci): Extract Cloud Run URLs from deploy output instead of describe command
  .github/workflows/deploy-per-issue.yml
Due: none

fix(alembic): merge multiple migration heads
  backend/alembic/versions/20260118_1819_808d3ca352c0_merge_develop_vocabulary_and_staging.py
Due: check-import-patterns

security(ci): Add validation and injection prevention to URL extraction
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger deployment for URL extraction fix
  backend/README_DEPLOYMENT.md
Due: none

chore: trigger deployment for URL extraction fix
  backend/seed_demo_data.py
Due: check-import-patterns

style: fix Black formatting in alembic merge migration
  backend/alembic/versions/20260118_1819_808d3ca352c0_merge_develop_vocabulary_and_staging.py
Due: check-import-patterns

fix(ci): Fix URL validation regex to accept regional Cloud Run domains
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger deployment after regex fix
  backend/seed_demo_data.py
Due: check-import-patterns

fix(alembic): make organizations tax_id migration idempotent
  backend/alembic/versions/20260110_1400_add_tax_id_to_organizations.py
Due: check-import-patterns

fix: Add database seed step to preview deployment workflow
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger deployment with seed step
  backend/README_DEPLOYMENT.md
Due: none

chore: trigger deployment (workflow change)
  backend/seed_demo_data.py
Due: check-import-patterns

fix: Update test account passwords to match SEED_DEFAULT_PASSWORD (demo123)
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

fix: Remove non-existent test accounts (demo@, trial@, expired@)
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

fix(cors): add develop environment to allowed origins
  backend/main.py
Due: check-import-patterns

feat: Add demo@, trial@, expired@ test accounts to seed scripts and login page
  backend/seed_demo_data.py
  frontend/src/pages/TeacherLogin.tsx
Due: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
