Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

docs(cicd): 補充 TapPay 環境變數配置說明
  CICD.md
Due: none

feat(payment): 新增 NT$1 測試付款功能
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

fix(backend): 恢復 TapPay service fallback credentials 修復 Production 啟動失敗
  GIT_HISTORY_CLEANUP_REPORT.md
  backend/services/tappay_einvoice_service.py
  backend/services/tappay_service.py
Due: check-import-patterns

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): 新增 SANDBOX TapPay 環境變數到 Staging Frontend 建置
  .github/workflows/deploy-staging.yml
Due: none

feat(payment): 支援 NT$1 測試付款繞過金額驗證
  backend/routers/payment.py
Due: check-import-patterns

fix(payment): 修復付款成功但前端顯示錯誤的問題
  backend/routers/payment.py
Due: check-import-patterns

refactor(subscription): 移除測試付款 (NT$1) 功能
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

refactor(subscription): 移除續訂加值和升級方案功能
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

fix(subscription): 修復取消續訂 500 錯誤
  backend/routers/teachers.py
Due: check-import-patterns

feat(subscription): 實作首月比例計費與改善訂閱 UI
  backend/routers/payment.py
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(subscription): 優化訂閱狀態 UI 排版與進度條顯示
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

feat(subscription): 新增配額管理系統 Phase 1 - 核心架構
  backend/TODO_QUOTA_SYSTEM.md
  backend/alembic/versions/20251104_1640_83420cb2e590_add_subscription_periods_and_point_.py
  backend/main.py
  backend/models.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/routers/subscription.py
  backend/services/quota_service.py
  backend/services/subscription_calculator.py
  backend/tests/integration/api/test_quota_api.py
  backend/tests/integration/api/test_subscription.py
  backend/tests/integration/api/test_teacher_subscription_quota.py
  backend/tests/integration/test_quota_integration.py
  backend/tests/integration/test_subscription_scenarios.py
  backend/tests/unit/test_quota_service.py
  backend/tests/unit/test_subscription_period_system.py
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(quota): 整合語音評分配額扣除功能 (Phase 2)
  backend/routers/speech_assessment.py
  backend/tests/integration/api/test_speech_quota_deduction.py
Due: check-import-patterns

test(quota): 新增配額扣除功能 E2E 測試
  backend/tests/integration/test_quota_e2e.py
Due: check-import-patterns

feat(quota): 前端新增配額檢查與顯示功能
  backend/alembic/versions/20251104_1640_83420cb2e590_add_subscription_periods_and_point_.py
  backend/routers/speech_assessment.py
  backend/services/quota_service.py
  backend/tests/integration/api/test_quota_api.py
  backend/tests/integration/api/test_speech_quota_deduction.py
  backend/tests/integration/api/test_teacher_subscription_quota.py
  backend/tests/integration/test_quota_e2e.py
  backend/tests/integration/test_quota_integration.py
  backend/tests/integration/test_subscription_scenarios.py
  frontend/src/components/AssignmentDialog.tsx
Due: typescript, check-import-patterns

fix: 修復 linting 錯誤並生成 Alembic migration
  backend/alembic/versions/20251105_0608_f42b27a78bec_sync_quota_models_with_codebase_changes.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/services/quota_service.py
  backend/tests/integration/api/test_speech_quota_deduction.py
  backend/tests/integration/test_quota_e2e.py
  backend/tests/integration/test_quota_integration.py
  backend/tests/integration/test_subscription_scenarios.py
  backend/tests/unit/test_quota_service.py
  backend/tests/unit/test_subscription_period_system.py
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

perf(quota): 實施效能優化 - indexes & N+1 query 修復
  backend/alembic/versions/20251105_0620_add_performance_indexes.py
  backend/models.py
  backend/tests/performance/test_quota_performance.py
Due: check-import-patterns

feat(quota): 新增配額使用統計分析功能 (後端)
  backend/TODO_QUOTA_SYSTEM.md
  backend/routers/teacher.py
  backend/services/quota_analytics_service.py
  backend/tests/integration/api/test_quota_usage_analytics.py
Due: check-import-patterns

feat(quota): 新增配額使用統計圖表頁面 (前端)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript

test(quota): 新增完整的配額與訂閱整合 E2E 測試
  backend/tests/integration/test_quota_subscription_e2e.py
Due: check-import-patterns

fix: add prefix to teacher router and move import to top
  backend/routers/teacher.py
Due: check-import-patterns

fix: 修復訂閱狀態 API 與 UI 同步問題
  .gitignore
  backend/routers/payment.py
  backend/routers/subscription.py
  backend/routers/teacher.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(quota): 移除配額超限阻擋 - 學生永遠可以學習
  backend/routers/speech_assessment.py
  backend/routers/subscription.py
  backend/services/quota_service.py
Due: check-import-patterns

refactor(migration): 合併 3 個配額系統 migrations 為 1 個
  backend/alembic/MIGRATION_CONSOLIDATION.md
  backend/alembic/versions.backup/20251104_1640_83420cb2e590_add_subscription_periods_and_point_.py
  backend/alembic/versions.backup/20251105_0608_f42b27a78bec_sync_quota_models_with_codebase_changes.py
  backend/alembic/versions.backup/20251105_0620_add_performance_indexes.py
  backend/alembic/versions/20251104_1640_add_quota_system.py
Due: check-import-patterns

fix: 修復 production 部署失敗 - 條件化測試路由導入
  backend/main.py
Due: check-import-patterns

fix: 使用 try-except 處理測試模組導入
  backend/main.py
Due: check-import-patterns

feat(api): 新增配額 API 完整資訊與使用歷史查詢
  backend/routers/payment.py
Due: check-import-patterns

fix(api): 加上配額歷史 API 參數驗證
  backend/routers/payment.py
Due: check-import-patterns

fix(migration): 為配額系統表加上 RLS
  backend/alembic/versions/20251104_1640_add_quota_system.py
Due: check-import-patterns

fix(migration): 移除 TO authenticated 以相容本地與 Supabase
  backend/alembic/versions/20251104_1640_add_quota_system.py
Due: check-import-patterns

fix(ci): 啟用 Production 付款功能和 TapPay Production 環境
  .github/workflows/deploy-production.yml
Due: none

feat: 新增測試訂閱白名單 + 修復 Production TapPay 配置
  .github/workflows/deploy-production.yml
  backend/routers/subscription.py
Due: check-import-patterns

fix: 修復 Production 環境配置 (ENABLE_PAYMENT=true, TAPPAY_ENV=production)
  .github/workflows/deploy-production.yml
Due: none
