Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix: resolve ESLint errors in teaching toolbar components
  frontend/src/components/__tests__/TeacherLayout.test.tsx
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
Due: typescript

chore: remove unrelated development files from PR #130
  PYTHON_SETUP_REQUIRED.md
  check-env.ps1
Due: none

feat(example-sentences): 例句朗讀跳題時自動觸發分析 (Issue #141)
  frontend/src/hooks/useAutoAnalysis.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

Release: Staging → Main (Issue #61, #126) (#145)
  .github/workflows/deploy-per-issue.yml
  backend/routers/auth.py
  backend/services/onboarding.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
  frontend/package-lock.json
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/__tests__/StudentLayout.test.tsx
  frontend/src/components/__tests__/TeacherLayout.test.tsx
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
  frontend/src/components/teachingTools/styles/toolbar.css
Due: typescript, check-import-patterns

ci: 限制 Claude code review 只在 PR 到 staging 時觸發
  .github/workflows/automation-claude-review.yml
Due: none

fix(mobile): move toast to bottom on mobile to avoid blocking question numbers (#143)
  frontend/src/App.tsx
Due: typescript

feat(vocabulary-set): implement VOCABULARY_SET Phase 2 (單字集)
  backend/alembic/versions/20251226_0432_549b3ef65c5e_add_vocabulary_set_phase2_columns.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/services/translation.py
  docs/CONTENT_TYPES.md
  docs/plans/vocabulary_set_implementation_plan.md
  docs/plans/vocabulary_set_phase2_plan.md
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

fix(example-sentences): 修復自動分析未儲存 AI 分數的問題 (Issue #141)
  frontend/src/hooks/useAutoAnalysis.ts
Due: typescript

fix(example-sentences): 修復跳題自動分析在無 progressId 時無法儲存 AI 分數的問題 (Issue #141)
  frontend/src/hooks/useAutoAnalysis.ts
Due: typescript

fix(example-sentences): 提交前分析所有未分析的錄音 + 錄音中鎖定題號 (Issue #141)
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(student): 已訂正作業可點擊檢視且為唯讀模式 (Issue #134)
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

feat(example-sentences): 例句朗讀跳題時自動觸發分析 (Issue #141) (#146)
  frontend/src/hooks/useAutoAnalysis.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

Fix: Disable delete buttons when assignment is in read-only mode (Issue #134) (#144)
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

fix(lint): 移除不必要的 `as any` 類型轉換
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

Release: Staging → Main (2025-12-28) (#149)
  .github/workflows/automation-claude-review.yml
  frontend/src/App.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/hooks/useAutoAnalysis.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

feat: 根據學生數量智能決定班級頁面預設標籤 (Related to #150)
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(vocabulary-set): 單字集功能改進與 UI 修復
  backend/routers/teachers.py
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/shared/programTreeConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

feat(vocabulary-set): 圖片上傳與作業設定改進
  backend/routers/teachers.py
  backend/services/image_upload.py
  docs/plans/vocabulary_set_phase2_plan.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

fix(lint): 修復 Prettier 格式問題
  frontend/src/components/CreateProgramDialog.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(api): 建立內容時儲存 image_url 欄位
  backend/routers/teachers.py
Due: check-import-patterns

fix(security): add SQL script to cleanup RLS security advisor warnings
  backend/migrations/cleanup_rls_security_advisor.sql
Due: none

docs: Consolidate org hierarchy design into ORG_TODO.md
  ORG_TODO.md
  docs/ARCHITECTURE_COMPARISON.md
  docs/EXISTING_ARCHITECTURE_ANALYSIS.md
  docs/ORGANIZATION_HIERARCHY_SPEC.md
  docs/ORGANIZATION_LAYOUT_COMPATIBILITY.md
Due: none

docs: Add layout compatibility design for organization hierarchy
  docs/ORGANIZATION_LAYOUT_COMPATIBILITY.md
Due: none

feat(auth): Add Casbin RBAC authorization framework
  CASBIN_EVALUATION.md
  ORG_IMPLEMENTATION_SPEC.md
  backend/config/casbin_model.conf
  backend/config/casbin_policy.csv
  backend/requirements.txt
  backend/services/CASBIN_USAGE.md
  backend/services/casbin_service.py
  backend/services/permission_decorators.py
  backend/tests/test_casbin_integration.py
Due: check-import-patterns

docs: Add organization hierarchy system specification
  docs/ORGANIZATION_HIERARCHY_SPEC.md
Due: none

docs: Add architecture comparison - unified vs current
  docs/ARCHITECTURE_COMPARISON.md
Due: none

docs: Analyze existing architecture - found reserved fields
  docs/EXISTING_ARCHITECTURE_ANALYSIS.md
Due: none

feat: Implement Classroom-School linking APIs (TDD in progress)
  backend/main.py
  backend/routers/classroom_schools.py
  backend/tests/integration/api/test_classroom_school_api.py
Due: check-import-patterns

docs: Add comprehensive RBAC permissions documentation
  backend/docs/RBAC_PERMISSIONS.md
Due: none

test: Add complete organization scenario tests (10 scenarios, 15 passing)
  backend/docs/ORGANIZATION_TEST_SCENARIOS_MATRIX.md
  backend/tests/e2e/test_complete_organization_scenarios.py
Due: check-import-patterns

feat: Integrate organization hierarchy into seed data
  backend/seed_data.py
Due: check-import-patterns

fix: Resolve all flake8 linting errors
  backend/routers/classroom_schools.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/tests/integration/api/test_school_api.py
  backend/tests/test_casbin_integration.py
Due: check-import-patterns

style: Fix linting and formatting issues
  backend/alembic/versions/20251127_0047_5106b545b6d2_add_organization_hierarchy_tables.py
  backend/models.py
  backend/routers/classroom_schools.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/services/casbin_service.py
  backend/services/permission_decorators.py
  backend/tests/integration/api/test_organization_api.py
  backend/tests/integration/api/test_school_api.py
  backend/tests/integration/api/test_teacher_relations_api.py
  backend/tests/test_casbin_integration.py
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript, check-import-patterns

feat: Add teacher relationship management APIs with Casbin sync
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/tests/integration/api/test_teacher_relations_api.py
Due: check-import-patterns

fix: Preserve independent teacher scenario in seed data (個體戶模式)
  backend/docs/SEED_DATA_SCENARIOS.md
  backend/seed_data.py
Due: check-import-patterns

feat: Add organization/school management frontend with teacher lists
  backend/routers/organizations.py
  backend/routers/schools.py
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript, check-import-patterns

docs: Add comprehensive organization hierarchy documentation
  README.md
  backend/config/casbin_policy.csv
  docs/API_ORGANIZATION_HIERARCHY.md
Due: none

feat: Add organization test accounts to seed data
  backend/seed_data.py
Due: check-import-patterns

fix: Improve test infrastructure and seed data integration
  backend/config/casbin_policy.csv
  backend/docs/TEST_FAILURE_ANALYSIS.md
  backend/tests/conftest.py
  backend/tests/integration/api/test_organization_api.py
Due: check-import-patterns
