Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: Change button text from 重新提交 to 開始訂正
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

feat: Add password hints to student login page
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/StudentLogin.tsx
Due: typescript

feat: Merge NOT_STARTED and IN_PROGRESS into TODO status
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

feat: Skip assignment confirmation screen, navigate directly to activity
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

fix: Display student_number instead of database ID in student list
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/StudentTable.tsx
Due: typescript

chore: Remove test workflows and streamline per-issue deploy
  .github/workflows/per-issue-deploy.yml
  .github/workflows/per-issue-test2.yml
  .github/workflows/test-issue-branch.yml
  .github/workflows/test-per-issue.yml
Due: none

fix: Display student number instead of internal ID
  frontend/src/components/StudentTable.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: Add 3-stage assignment flow status display
  frontend/src/pages/StudentDashboard.tsx
Due: typescript

style: Apply Prettier formatting to StudentDashboard.tsx
  frontend/src/pages/StudentDashboard.tsx
Due: typescript

fix: Import react-day-picker CSS to fix calendar layout
  frontend/src/main.tsx
Due: typescript

fix: Add student number column at table front
  frontend/src/components/StudentTable.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: Use native date input for due date to match start date
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

docs: Add language requirement (EN/zh-TW only) to git-issue-pr-flow agent
  .claude/agents/git-issue-pr-flow.md
Due: none

chore: Trigger Per-Issue Test Environment redeploy for Issue #34
  backend/.gitkeep_deploy
Due: none

chore: Trigger redeploy for Issue #25
  backend/.gitkeep_deploy_25
Due: none

chore: Trigger redeploy for Issue #27
  backend/.gitkeep_deploy_27
Due: none

chore: Trigger redeploy for Issue #28
  backend/.gitkeep_deploy_28
Due: none

chore: Trigger redeploy for Issue #32
  backend/.gitkeep_deploy_32
Due: none

chore: Trigger redeploy for Issue #30
  backend/.gitkeep_deploy_30
Due: none

chore: Trigger redeploy for Issue #33
  backend/.gitkeep_deploy_33
Due: none

[Bug] 批次匯入學生時不應自動建立假的學生 email #30 (#42)
  backend/.gitkeep_deploy_30
  backend/routers/teachers.py
  backend/tests/integration/api/test_student_batch_import.py
Due: check-import-patterns

[Bug] 指派作業時「截止日期」日曆格式跑版 #33 (#44)
  backend/.gitkeep_deploy_33
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/main.tsx
Due: typescript

Fix: Change button text from 重新提交 to 開始訂正 (#37)
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

docs: Add organization hierarchy system specification
  docs/ORGANIZATION_HIERARCHY_SPEC.md
Due: none

docs: Add layout compatibility design for organization hierarchy
  docs/ORGANIZATION_LAYOUT_COMPATIBILITY.md
Due: none

docs: Add architecture comparison - unified vs current
  docs/ARCHITECTURE_COMPARISON.md
Due: none

docs: Analyze existing architecture - found reserved fields
  docs/EXISTING_ARCHITECTURE_ANALYSIS.md
Due: none

docs: Consolidate org hierarchy design into ORG_TODO.md
  ORG_TODO.md
  docs/ARCHITECTURE_COMPARISON.md
  docs/EXISTING_ARCHITECTURE_ANALYSIS.md
  docs/ORGANIZATION_HIERARCHY_SPEC.md
  docs/ORGANIZATION_LAYOUT_COMPATIBILITY.md
Due: none

feat(auth): Add Casbin RBAC authorization framework
  CASBIN_EVALUATION.md
  ORG_IMPLEMENTATION_SPEC.md
  backend/config/casbin_model.conf
  backend/config/casbin_policy.csv
  backend/requirements.txt
  backend/services/CASBIN_USAGE.md
  backend/services/casbin_service.py
  backend/services/permission_decorators.py
  backend/tests/test_casbin_integration.py
Due: check-import-patterns

feat: Add organization hierarchy schema and ORM models
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/20251127_0047_5106b545b6d2_add_organization_hierarchy_tables.py
  backend/models.py
Due: check-import-patterns

feat: Implement Organization CRUD API with Casbin auth
  backend/main.py
  backend/models.py
  backend/routers/organizations.py
  backend/tests/integration/api/test_organization_api.py
Due: check-import-patterns

docs: Add comprehensive RBAC permissions documentation
  backend/docs/RBAC_PERMISSIONS.md
Due: none

feat: Implement School CRUD API with org-level permissions
  backend/main.py
  backend/routers/schools.py
  backend/tests/integration/api/test_school_api.py
Due: check-import-patterns

feat: Add teacher relationship management APIs with Casbin sync
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/tests/integration/api/test_teacher_relations_api.py
Due: check-import-patterns

feat: Add organization/school management frontend with teacher lists
  backend/routers/organizations.py
  backend/routers/schools.py
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
Due: typescript, check-import-patterns

docs: Add comprehensive organization hierarchy documentation
  README.md
  backend/config/casbin_policy.csv
  docs/API_ORGANIZATION_HIERARCHY.md
Due: none

feat: Implement Classroom-School linking APIs (TDD in progress)
  backend/main.py
  backend/routers/classroom_schools.py
  backend/tests/integration/api/test_classroom_school_api.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
