Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

docs: add Phase 2 VOCABULARY_SET implementation plan
  docs/CONTENT_TYPES.md
  docs/PHASE2_VOCABULARY_SET_PLAN.md
Due: none

fix: support teacher preview mode for Azure Speech token (Issue #118)
  frontend/src/services/__tests__/azureSpeechService.test.ts
  frontend/src/services/azureSpeechService.ts
Due: typescript

feat: add unlimited time option for sentence rearrangement exercise (Issue #122)
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

fix: restrict unlimited time option to rearrangement mode only (Issue #122)
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix: rename batch TTS button for better clarity (Issue #120)
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix: update hardcoded button text from 批次生成TTS to 批次生成音檔 (Issue #120)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
Due: typescript

feat: add i18n support for batch action buttons (Issue #120)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat: complete i18n for content editor panels (Issue #120)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat: add TTS settings to batch paste dialog (Issue #121)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
Due: typescript

fix: rename TTS labels to 音檔 for clarity (Issue #121)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat: [Issue #122] Add unlimited time option for sentence rearrangement (#123)
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

feat: add TTS settings to batch paste dialog (Issue #121) (#125)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat: add i18n support for TTS settings in batch paste dialog (Issue #120)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: rename batch TTS button for better clarity (Issue #120) (#124)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: make ContentTypeDialog responsive on mobile (Issue #127)
  .claude/agents/issue-resolver-opus.md
  frontend/src/components/ContentTypeDialog.tsx
Due: typescript

fix: redesign course list with flat layout and color-coded levels (Issue #127)
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/ui/accordion.tsx
Due: typescript

fix: 修正手機版新增內容 Modal 排版 (Issue #127) (#128)
  .claude/agents/issue-resolver-opus.md
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/ui/accordion.tsx
Due: typescript

fix: resolve content type display and query issues (Issue #118)
  backend/routers/assignments.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/hooks/useAzurePronunciation.ts
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/services/azureSpeechService.ts
Due: typescript, check-import-patterns

fix: content type display based on practice_mode (Issue #118)
  backend/routers/assignments.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

feat(teaching-tools): implement digital teaching toolbar
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
  frontend/src/components/teachingTools/styles/toolbar.css
Due: typescript

fix(teaching-tools): integrate toolbar into student and teacher layouts
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
Due: typescript

feat: implement upload retry mechanism and content type display fix (Issue #118)
  backend/routers/assignments.py
  backend/routers/speech_assessment.py
  backend/routers/students.py
  frontend/src/hooks/useAzurePronunciation.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/services/azureSpeechService.ts
Due: typescript, check-import-patterns

fix: preserve progressIds array index mapping to fix multi-item upload (Issue #118)
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix: remove duplicate upload from useAzurePronunciation hook (Issue #118)
  frontend/src/hooks/useAzurePronunciation.ts
Due: typescript

feat: improve Azure Speech UI - remove auto-analyze and simplify display (Issue #118)
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

Release: Merge staging to main (#131)
  .claude/agents/issue-resolver-opus.md
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/components/shared/RecursiveTreeAccordion.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

test: Add TDD tests for Issue #61 new user onboarding (RED phase)
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

refactor: Trigger onboarding on registration, remove migration (Issue #61)
  backend/alembic/versions/20251208_2047_d4c9f4d10104_add_onboarding_fields_to_teacher.py
  backend/models.py
  backend/routers/auth.py
  backend/services/onboarding.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

feat: Implement OnboardingService for new teachers (Issue #61 TDD GREEN)
  backend/alembic/versions/20251208_2047_d4c9f4d10104_add_onboarding_fields_to_teacher.py
  backend/routers/auth.py
  backend/services/onboarding.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

db: Add onboarding tracking fields to Teacher model (Issue #61)
  backend/alembic/versions/20251208_2047_d4c9f4d10104_add_onboarding_fields_to_teacher.py
  backend/models.py
Due: check-import-patterns

style: Fix linting and formatting issues
  backend/routers/auth.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

fix(ci): update backend FRONTEND_URL after frontend deployment (Issue #61)
  .github/workflows/deploy-per-issue.yml
Due: none

fix(issue-126): Remove teaching toolbar from student layout and add i18n support
  frontend/package-lock.json
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/__tests__/StudentLayout.test.tsx
  frontend/src/components/__tests__/TeacherLayout.test.tsx
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(issue-126): pin teaching toolbar to viewport
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix(issue-126): remove timer/dice mutual exclusivity and enable pointer events
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix(issue-126): reset dice rotation before each roll for consistent animation
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix(issue-126): add i18n mock to toolbar tests to fix translation key assertions
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
Due: typescript

fix(issue-126): fix dice rolling animation smoothness - prevent overlapping rolls and sync animation timing
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix(issue-126): reset dice rotation baseline after animation completes for consistent multi-roll experience
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix(issue-126): prevent event bubbling on dice click to avoid double-roll
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript
