Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: add missing translation for language selector placeholder
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: hide Organization tab when teacher has no organizations
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(frontend): restore DigitalTeachingToolbar removed in org hub refactor
  frontend/src/components/TeacherLayout.tsx
Due: typescript

fix(i18n): update teacher interface terminology for clarity (#162)
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

feat(migration): add organization hierarchy and student management schema
  backend/alembic/versions/20260125_add_organization_student_management.py
Due: check-import-patterns

chore(migration): remove old migrations replaced by consolidated migration
  backend/alembic/versions/20260112_1600_implement_soft_delete_strategy.py
  backend/alembic/versions/20260112_1630_add_teacher_limit_to_organizations.py
  backend/alembic/versions/20260114_1527_e01687cd2904_add_organization_id_to_programs.py
  backend/alembic/versions/20260115_0826_090076973179_add_new_content_types_to_enum.py
  backend/alembic/versions/20260115_1557_04221a3e73fc_add_school_id_to_programs.py
  backend/alembic/versions/20260119_2237_84e62a916eea_make_classroom_teacher_id_nullable.py
  backend/alembic/versions/20260120_1743_6334a41a9f41_create_student_school_relationship.py
Due: check-import-patterns

fix: resolve merge conflict in base.py ContentType enum
  backend/models/base.py
Due: check-import-patterns

refactor: rename migration to add_organization_features
  backend/alembic/versions/20260125_add_organization_features.py
Due: check-import-patterns

fix: use proper hex revision ID for migration file
  backend/alembic/versions/20260125_1200_ae8fd7c7cc74_add_organization_features.py
  backend/alembic/versions/20260125_add_organization_student_management.py
  backend/reset_staging_alembic_version.sql
  backup/old_migrations/20260112_1600_implement_soft_delete_strategy.py
  backup/old_migrations/20260112_1630_add_teacher_limit_to_organizations.py
  backup/old_migrations/20260114_1527_e01687cd2904_add_organization_id_to_programs.py
  backup/old_migrations/20260115_0826_090076973179_add_new_content_types_to_enum.py
  backup/old_migrations/20260115_1557_04221a3e73fc_add_school_id_to_programs.py
  backup/old_migrations/20260119_2237_84e62a916eea_make_classroom_teacher_id_nullable.py
  backup/old_migrations/20260120_1743_6334a41a9f41_create_student_school_relationship.py
Due: check-import-patterns

fix: remove merge conflict markers in content_ops.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix: resolve all remaining merge conflicts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

feat(migration): add organization hierarchy and student management schema
  backend/alembic/versions/20260125_1200_ae8fd7c7cc74_add_organization_features.py
Due: check-import-patterns

style: format migration file with black
  backend/alembic/versions/20260125_1200_ae8fd7c7cc74_add_organization_features.py
Due: check-import-patterns

fix: correct SentenceMakingPanel import path in ProgramTreeView
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

fix: add VITE_API_URL and Authorization header to WorkspaceContext
  frontend/src/contexts/WorkspaceContext.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

chore(frontend): update contact email to contact@duotopia.co
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
  frontend/src/pages/PricingPage.tsx
Due: typescript

fix: use useTeacherAuthStore for token instead of localStorage
  frontend/src/contexts/WorkspaceContext.tsx
Due: typescript

feat: add workspace switcher modal and school materials management
  backend/routers/teachers.py
  backend/routers/teachers/teacher_organizations.py
  frontend/src/App.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

fix: resolve WorkspaceProvider context error
  frontend/src/App.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript

fix: classroom filtering bug and add server-side authorization
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/validators.py
  backend/tests/unit/test_dashboard_classroom_filtering.py
  backend/tests/unit/test_dashboard_server_side_filtering.py
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript, check-import-patterns

feat: add /handle-issue skill for git worktree-based issue handling
  .claude/skills/handle-issue/SKILL.md
  .claude/skills/handle-issue/scripts/cleanup-worktree.sh
  .claude/skills/handle-issue/scripts/setup-worktree.sh
  .gitignore
  CLAUDE.md
Due: none

feat: smart default tab based on student count (Fixes #150)
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: address code review feedback for handle-issue skill
  .claude/skills/handle-issue/SKILL.md
  .claude/skills/handle-issue/scripts/cleanup-worktree.sh
  .claude/skills/handle-issue/scripts/setup-worktree.sh
Due: none

fix: remove grading/viewResult buttons for rearrangement/word_selection modes (Related to #165)
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix: wait for assignments to load before switching default tab (Related to #150)
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: content type translation for EXAMPLE_SENTENCES (Related to #165)
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

feat: 一頁式網頁機構模組介紹與報價
  backend/routers/org_inquiries_api_guide.md
  frontend/src/pages/public/org-landing/IMPLEMENTATION_GUIDE.md
  frontend/src/pages/public/org-landing/OrgLandingPage.tsx
  frontend/src/pages/public/org-landing/README.md
  frontend/src/pages/public/org-landing/index.tsx
Due: typescript

docs: 新增完成報告與總結文檔
  frontend/src/pages/public/org-landing/COMPLETION_REPORT.md
Due: none

feat: smart default tab based on student count (Fixes #150) (#195)
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: add server-side filtering to classrooms and students endpoints
  backend/routers/teachers/classroom_ops.py
  backend/routers/teachers/student_ops.py
  backend/tests/unit/test_classrooms_server_side_filtering.py
  backend/tests/unit/test_students_server_side_filtering.py
Due: check-import-patterns

fix(frontend): pass workspace params to API calls and fix TypeScript errors
  .gitleaksignore
  frontend/src/components/StudentImportDialog.tsx
  frontend/src/components/organization/ClassroomMaterialsSidebar.tsx
  frontend/src/components/organization/ClassroomStudentsSidebar.tsx
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/components/organization/ImportStudentsDialog.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/pages/organization/SchoolTeachersPage.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
Due: typescript

fix(db): add word_selection to check_practice_mode constraint (Related to #165)
  backend/alembic/versions/20260127_1954_update_practice_mode_constraint.py
Due: check-import-patterns

feat: generalize /worktree skill to support both issues and custom tasks
  .claude/skills/handle-issue/scripts/cleanup-worktree.sh
  .claude/skills/handle-issue/scripts/setup-worktree.sh
  .claude/skills/worktree/SKILL.md
  .claude/skills/worktree/scripts/cleanup-worktree.sh
  .claude/skills/worktree/scripts/setup-worktree.sh
  CLAUDE.md
  docs/plans/generalize-worktree-skill-plan.md
Due: none

fix: auto-grade rearrangement/word_selection on submit (Related to #165)
  backend/routers/students/assignments.py
  backend/tests/unit/test_assignment_workflows.py
Due: check-import-patterns

fix: add fallback for empty slug in task mode
  .claude/skills/worktree/scripts/setup-worktree.sh
Due: none

feat: generalize /worktree skill for issues and custom tasks (#197)
  .claude/skills/handle-issue/scripts/cleanup-worktree.sh
  .claude/skills/handle-issue/scripts/setup-worktree.sh
  .claude/skills/worktree/SKILL.md
  .claude/skills/worktree/scripts/cleanup-worktree.sh
  .claude/skills/worktree/scripts/setup-worktree.sh
  CLAUDE.md
  docs/plans/generalize-worktree-skill-plan.md
Due: none

fix: add score calculation for auto-graded assignments + data migration
  backend/alembic/versions/20260128_fix_auto_graded_historical_data.py
  backend/routers/students/assignments.py
  backend/tests/unit/test_assignment_workflows.py
Due: check-import-patterns

fix: add missing rearrangement fields to StudentItemProgress model
  backend/models/progress.py
Due: check-import-patterns

fix: call submit API when closing word selection assignment
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
