Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix(migration): remove unnecessary merge and fix chain
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
  backend/alembic/versions/20260203_1428_7d39900cc008_merge_multiple_heads.py
Due: check-import-patterns

fix(ci): improve per-issue deploy migration handling
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger CI for workflow changes
  backend/services/organization_points_service.py
Due: check-import-patterns

fix(migration): remove merge and fix chain on staging
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
  backend/alembic/versions/20260203_1428_7d39900cc008_merge_multiple_heads.py
Due: check-import-patterns

chore: retrigger CI after staging merge
  backend/services/organization_points_service.py
Due: check-import-patterns

fix(ci): ensure columns exist after migration stamp
  .github/workflows/deploy-per-issue.yml
Due: none

fix(ci): simplify column-ensure script
  .github/workflows/deploy-per-issue.yml
Due: none

fix(ci): use single-line python for column check
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger CI for workflow fix
  backend/__init__.py
Due: check-import-patterns

fix(ci): detect FAILED message in alembic output
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger CI for alembic fix
  backend/__init__.py
Due: check-import-patterns

fix(ci): fix SQL escaping in python column check
  .github/workflows/deploy-per-issue.yml
Due: none

chore: trigger CI
  backend/__init__.py
Due: check-import-patterns

fix(ci): always ensure columns exist, not just on stamp
  .github/workflows/deploy-per-issue.yml
  backend/__init__.py
  tests/e2e/test_admin_organizations_crud.py
Due: check-import-patterns

fix(ci): remove hardcoded column check from workflow
  .github/workflows/deploy-per-issue.yml
  backend/__init__.py
Due: check-import-patterns

feat(org-points): integrate OrganizationPointsService with speech_assessment
  backend/routers/speech_assessment.py
  backend/tests/integration/test_speech_assessment_org_points.py
Due: check-import-patterns

test(org-points): add comprehensive edge case tests for deduction routing
  backend/tests/integration/test_deduction_edge_cases.py
Due: check-import-patterns

feat(admin): add subscription date fields to create organization form
  backend/tests/test_admin_organizations.py
  frontend/src/pages/admin/CreateOrganization.tsx
  frontend/src/pages/admin/__tests__/CreateOrganization.test.tsx
Due: typescript, check-import-patterns

fix: align demo API format with teacher preview and add isDemoMode support
  backend/routers/demo.py
  frontend/src/components/DemoCard.tsx
  frontend/src/components/DemoModal.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/lib/demoApi.ts
  frontend/src/pages/DemoAssignmentPage.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

feat: add public demo assignment feature (Related to #202)
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/alembic/versions/20260201_0307_add_demo_config_table.py
  backend/main.py
  backend/models/__init__.py
  backend/models/demo_config.py
  backend/routers/demo.py
  docs/plans/issue-202-public-demo-assignment.md
  frontend/src/App.tsx
  frontend/src/components/DemoCard.tsx
  frontend/src/components/DemoModal.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/demoApi.ts
  frontend/src/pages/DemoAssignmentPage.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

feat: add public demo assignment feature (#202) (#210)
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/alembic/versions/20260201_0307_add_demo_config_table.py
  backend/main.py
  backend/models/__init__.py
  backend/models/demo_config.py
  backend/routers/demo.py
  docs/plans/issue-202-public-demo-assignment.md
  frontend/src/App.tsx
  frontend/src/components/DemoCard.tsx
  frontend/src/components/DemoModal.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/demoApi.ts
  frontend/src/pages/DemoAssignmentPage.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

chore: add demo_config to RLS exclusion list
  .github/workflows/deploy-backend.yml
Due: none

chore: add demo_config to RLS exclusion list (#211)
  .github/workflows/deploy-backend.yml
Due: none

fix: add scrollbar to sentence set modal dialogs
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix: ensure student list updates immediately after adding/creating students
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/organization/AssignClassroomDialog.tsx
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

fix(admin): append time component to subscription dates for API compatibility
  frontend/src/pages/admin/AdminOrganizations.tsx
  frontend/src/pages/admin/CreateOrganization.tsx
Due: typescript

fix(organization): use userRoles for MaterialsPage permission check
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript

fix(speech): use classroom_schools relationship for org points deduction
  backend/routers/speech_assessment.py
Due: check-import-patterns

fix: add max-height constraint to ReadingAssessmentPanel for proper scrolling
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix: sentence set modal scrollbar and student list update (#213)
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/organization/AssignClassroomDialog.tsx
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix: 修復單字作業建立時未發送圖片顯示設定的問題
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix(organization): store userRoles in OrganizationLayout for MaterialsPage
  frontend/src/layouts/OrganizationLayout.tsx
Due: typescript

fix(organization): set userRoles when user.role exists in login response
  frontend/src/layouts/OrganizationLayout.tsx
Due: typescript

feat(materials): add create button in header for empty tree
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript

feat(admin): replace created_at with subscription_start_date and add expired status column
  frontend/src/pages/admin/AdminOrganizations.tsx
Due: typescript

fix(speech): add joinedload for classroom chain to fix org points deduction
  backend/routers/speech_assessment.py
Due: check-import-patterns

feat(materials): add standalone create button in header #212 (#214)
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript

feat(admin): add subscription status column and show start date #209 (#215)
  backend/tests/test_admin_organizations.py
  frontend/src/pages/admin/AdminOrganizations.tsx
  frontend/src/pages/admin/CreateOrganization.tsx
  frontend/src/pages/admin/__tests__/CreateOrganization.test.tsx
Due: typescript, check-import-patterns

fix: add missing play_audio and time_limit to demo word-selection API
  backend/routers/demo.py
Due: check-import-patterns

fix: 修復作業設定（圖片、音檔）未正確儲存和顯示的問題 (#216)
  backend/routers/demo.py
  frontend/src/components/AssignmentDialog.tsx
Due: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
