Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

chore: 將 static/ 加入 .gitignore
  backend/.gitignore
Due: none

feat: 在 seed_data.py 中添加句子模組測試課程
  backend/seed_data.py
Due: check-import-patterns

fix: 修正 CI/CD 格式檢查與 YAML 語法錯誤
  backend/auth.py
  backend/models.py
  backend/routers/students.py
  backend/seed_data.py
  backend/services/tts.py
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

fix: 添加 answer_mode 錯誤處理以診斷 500 錯誤
  backend/routers/students.py
Due: check-import-patterns

style: Prettier 格式化
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/activities/ListeningModeTemplate.tsx
Due: typescript

fix: 移除 students.py 中未使用的 import
  backend/routers/students.py
Due: check-import-patterns

fix: 修正 get_words_for_practice 函數類型不匹配導致學生無法作答
  backend/alembic/versions/20251124_1656_30e72978e174_fix_get_words_for_practice_varchar_to_.py
Due: check-import-patterns

feat: 句子模組 UI 重構與批次翻譯自動辨識詞性
  backend/alembic/versions/20251126_1156_0a267f39cda8_fix_get_words_for_practice_text_type_v2.py
  backend/routers/teachers.py
  backend/services/translation.py
  docs/SENTENCE_MODULE_REFACTOR_PLAN.md
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

style: 修復 Flake8 行長度超過 120 字元錯誤
  backend/seed_data.py
  backend/services/translation.py
Due: check-import-patterns

fix: 修正 migrations 使其支援共用資料庫環境
  backend/alembic/versions/20251110_1033_85160fa3d3cc_add_example_sentence_fields_to_content_items.py
  backend/alembic/versions/20251110_1354_1016469bbf26_add_sentence_making_to_contenttype_enum.py
  backend/alembic/versions/20251112_1045_666c291b851d_add_sentence_making_phase1_tables_and_.py
  backend/alembic/versions/20251124_1741_bfc46beaa6a0_merge_heads.py
Due: check-import-patterns

fix: 修正聽力模式音檔播放問題
  frontend/src/components/activities/ListeningModeTemplate.tsx
Due: typescript

debug: 添加學生認證日誌以診斷 500 錯誤
  backend/auth.py
Due: check-import-patterns

fix: 修復句子模組寫作/聽力模式重複單字消失的 bug
  frontend/src/components/activities/ListeningModeTemplate.tsx
  frontend/src/components/activities/WritingModeTemplate.tsx
Due: typescript

style: Black 格式化 migration 檔案
  backend/alembic/versions/20251125_1036_8a67d41aff56_fix_update_memory_strength_ambiguous_.py
Due: check-import-patterns

fix: 修復 update_memory_strength 函數的欄位名稱模糊問題
  backend/alembic/versions/20251125_1036_8a67d41aff56_fix_update_memory_strength_ambiguous_.py
Due: check-import-patterns

feat: 在公版課程中支援句子模組內容新增
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix: 添加 develop 環境的 CORS 支援
  backend/main.py
Due: check-import-patterns

feat: 增強句子模組 seed 資料加入詞性支援
  backend/routers/teachers.py
  backend/seed_data.py
  frontend/src/components/SentenceMakingPanel.tsx
Due: typescript, check-import-patterns

feat: 增強翻譯語言選項與修復內容編輯介面一致性
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

style: Prettier 格式化
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat: add responsive design (RWD) to OrganizationHub tables
  frontend/src/components/TeacherLayout.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

fix: assign school_admin role to all branch school teachers
  backend/seed_data.py
Due: check-import-patterns

feat: disable placeholder buttons with 'Coming Soon' tooltips
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/tooltip.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

feat: show edit/add buttons only for users with management permissions
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/main.tsx
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

feat: 實作編輯機構功能
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

feat: add comprehensive statistics to school and classroom lists
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript, check-import-patterns

feat: add statistics to organization/school/classroom lists and fix org data loading
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  backend/seed_data.py
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript, check-import-patterns

fix: add missing translation keys for organization table statistics
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

fix: remove unused eslint-disable and format code
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

refactor: consolidate .claude documentation and optimize hooks
  .claude/ISSUE_HANDLING_CHECKLIST.md
  .claude/agents/agent-manager.md
  .claude/agents/code-reviewer.md
  .claude/agents/git-issue-pr-flow.md
  .claude/agents/task-router.md
  .claude/agents/test-runner.md
  .claude/hooks/check-agent-rules.py
  CLAUDE.md
Due: none

feat: add Claude Code hooks configuration for mandatory agent-manager routing
  .claude/settings.json
Due: none

feat: implement error reflection system with enhanced hook enforcement
  .claude/agents/error-reflection-agent.md
  .claude/commands/reflect.md
  .claude/commands/weekly-review.md
  .claude/hooks/check-agent-rules.py
  .claude/hooks/error-reflection.py
  .claude/learning/QUICKSTART.md
  .claude/learning/README.md
  .claude/learning/error-patterns.json
  .claude/learning/improvements.json
  .claude/learning/performance-metrics.json
  .claude/learning/user-preferences.json
  CLAUDE.md
Due: none

feat: complete organization management system with custom permissions
  PERFORMANCE_OPTIMIZATIONS.md
  PROGRESS_REPORT.md
  backend/alembic/versions/20251129_1639_16ea1d78b460_add_organization_performance_indexes.py
  backend/config/casbin_policy.csv
  backend/main.py
  backend/models.py
  backend/routers/auth.py
  backend/routers/organizations.py
  backend/routers/payment.py
  backend/routers/teachers.py
  backend/tests/integration/test_organization_hierarchy_scenarios.py
  backend/utils/performance.py
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/TeacherPermissionManager.tsx
  frontend/src/components/permissions/PermissionCheckbox.tsx
  frontend/src/components/permissions/PermissionGate.tsx
  frontend/src/components/permissions/PermissionSummary.tsx
  frontend/src/components/permissions/PermissionTemplateSelector.tsx
  frontend/src/components/permissions/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/lib/permissions.ts
  frontend/src/pages/teacher/OrganizationManagement.tsx
Due: typescript, check-import-patterns

feat: add intelligent context-aware file size checking
  .claude/agents/agent-manager.md
  .claude/agents/code-reviewer.md
  .claude/hooks/check-file-size.py
  .claude/settings.json
  CLAUDE.md
Due: none

fix: resolve pre-push hook failures
  backend/alembic/versions/20251129_1639_16ea1d78b460_add_organization_performance_indexes.py
  backend/alembic/versions/20251129_2207_4566cb74e6f7_remove_unused_composite_indexes.py
  backend/main.py
  backend/routers/payment.py
  backend/tests/integration/test_organization_hierarchy_scenarios.py
  backend/utils/performance.py
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/TeacherPermissionManager.tsx
  frontend/src/components/permissions/PermissionCheckbox.tsx
  frontend/src/components/permissions/PermissionGate.tsx
  frontend/src/components/permissions/PermissionSummary.tsx
  frontend/src/components/permissions/PermissionTemplateSelector.tsx
  frontend/src/components/permissions/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/lib/permissions.ts
  frontend/src/pages/teacher/OrganizationManagement.tsx
Due: typescript, check-import-patterns

feat: add Casbin role permission matrix visualization
  frontend/src/components/organization/RolePermissionMatrix.tsx
  frontend/src/components/organization/index.ts
  frontend/src/pages/teacher/OrganizationDetail.tsx
Due: typescript

refactor: modularize seed_data.py into seed_data/ directory (3438 → 1198 lines max)
  backend/seed_data.py
  backend/seed_data/REFACTORING_SUMMARY.md
  backend/seed_data/__init__.py
  backend/seed_data/seed_main.py
  backend/seed_data/stage_01_users.py
  backend/seed_data/stage_02_classrooms.py
  backend/seed_data/stage_03_students.py
  backend/seed_data/stage_04_programs.py
  backend/seed_data/stage_05_assignments.py
  backend/seed_data/utils.py
  backend/seed_data_original_backup.py
Due: check-import-patterns

chore: cleanup temporary documentation and analysis files
  CASBIN_EVALUATION.md
  FINAL_CHECK_REPORT.md
  I18N_IMPLEMENTATION_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  PRD_November_2025.md
  PROGRESS_REPORT.md
  SECURITY_AUDIT_REPORT.md
  fix_dashboard_student_count.patch
  frontend/RWD_AUDIT_REPORT.md
  frontend/RWD_FIXES_SUMMARY.md
  frontend/bigquery_schema.json
  test_agent_issue_12.md
Due: none

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
