Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix: Add iptables firewall configuration for VM deployment
  .github/workflows/deploy-vm-prod.yml
Due: none

feat: Restructure deployment - main to VM, others to Cloud Run
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-vm-prod.yml
  DEPLOYMENT_RESTRUCTURE_SUMMARY.md
  docs/DEPLOYMENT_FLOW.md
Due: none

fix: Critical security fixes for production deployment
  .github/workflows/deploy-shared.yml
  .github/workflows/deploy-vm-prod.yml
  deployment/vm/nginx.conf
Due: none

fix: Automate GCS write permissions in VM deployment workflow
  .github/workflows/deploy-vm-prod.yml
Due: none

fix: Emergency fix - disable HTTPS to restore website access
  deployment/vm/nginx.conf
Due: none

fix: Restore HTTPS with self-signed SSL certificate
  .github/workflows/deploy-vm-prod.yml
  deployment/vm/nginx.conf
Due: none

fix: Update health checks to use HTTPS instead of HTTP
  .github/workflows/deploy-vm-prod.yml
Due: none

fix: Make frontend health check case-insensitive for DOCTYPE
  .github/workflows/deploy-vm-prod.yml
Due: none

fix: Remove blob.make_public() calls to fix GCS upload 403 errors
  backend/services/audio_upload.py
  backend/services/tts.py
  backend/tests/unit/test_audio_upload.py
  backend/tests/unit/test_services_complete.py
Due: check-import-patterns

fix: Fix onSubmit function signature mismatch in StudentActivityPage (#75)
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix: Fix infinite validation loop preventing submission (#75)
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

chore: Add .env.local.* to gitignore
  .gitignore
Due: none

fix: Improve error handling in submission flow (#75)
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(issue-75): Clarify submission logic - only upload recordings, skip analysis
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

test: Add TDD test suite for Issue #75 manual analysis workflow
  ISSUE_75_TDD_IMPLEMENTATION_PLAN.md
  frontend/src/pages/student/__tests__/StudentActivityPageContent.issue75.test.tsx
Due: typescript

test: Add edge case tests for delete + re-record scenario (Issue #75)
  ISSUE_75_EDGE_CASE_ANALYSIS.md
  ISSUE_75_TDD_IMPLEMENTATION_PLAN.md
  frontend/src/pages/student/__tests__/StudentActivityPageContent.issue75.test.tsx
Due: typescript

feat: Implement manual analysis workflow for Issue #75
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/student/__tests__/StudentActivityPageContent.issue75.test.tsx
Due: typescript

fix: Add missing i18n for submitting assignment popup (#75)
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

chore: Reduce artifact retention from 3 to 2 images
  .github/workflows/deploy-vm-prod.yml
Due: none

feat: Implement Issue #74 - Student Reading Activity Page UI Redesign
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

chore: Fix Prettier formatting for Issue #74 files
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

feat: Implement OnboardingService for new teachers (Issue #61 TDD GREEN)
  backend/alembic/versions/20251208_2047_d4c9f4d10104_add_onboarding_fields_to_teacher.py
  backend/routers/auth.py
  backend/services/onboarding.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

db: Add onboarding tracking fields to Teacher model (Issue #61)
  backend/alembic/versions/20251208_2047_d4c9f4d10104_add_onboarding_fields_to_teacher.py
  backend/models.py
Due: check-import-patterns

test: Add TDD tests for Issue #61 new user onboarding (RED phase)
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

test: Add missing tests for Issue #74 UI changes (TDD correction)
  frontend/src/components/activities/__tests__/GroupedQuestionsTemplate.issue74.test.tsx
  frontend/src/pages/student/__tests__/StudentActivityPageContent.issue74.test.tsx
Due: typescript

feat: 例句重組結果改用 Modal 顯示與計分調整
  backend/routers/students.py
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

refactor: Trigger onboarding on registration, remove migration (Issue #61)
  backend/alembic/versions/20251208_2047_d4c9f4d10104_add_onboarding_fields_to_teacher.py
  backend/models.py
  backend/routers/auth.py
  backend/services/onboarding.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

style: Fix linting and formatting issues
  backend/routers/auth.py
  backend/tests/integration/api/test_onboarding_integration.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

fix: Correct FRONTEND_URL in production deployment to use domain instead of IP
  .github/workflows/deploy-vm-prod.yml
Due: none

feat: AssignmentDialog 第一步驟響應式佈局優化
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

feat: Add resend verification email feature to teacher login and registration pages
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/TeacherVerifyEmail.tsx
Due: typescript

fix: Resolve timezone comparison bug in resend verification email
  backend/services/email_service.py
Due: check-import-patterns

fix: 移除 workflow 中重複的 branches-ignore 設定
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Due: none

fix: 修正 Prettier 格式並新增 Pre-Commit Checklist
  CLAUDE.md
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix: Resolve duplicate /api/api URL path in production login API
  .github/workflows/deploy-vm-prod.yml
  deployment/vm/deploy.sh
  frontend/Dockerfile
  frontend/Dockerfile.vm
Due: none

fix: Preserve /api prefix in nginx proxy_pass for correct backend routing
  deployment/vm/nginx.conf
Due: none

feat: Add automatic Docker image cleanup to production deployment
  .github/workflows/deploy-vm-prod.yml
Due: none
