Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat: 首頁改版 — 輪播圖、Hero 區塊、隱私政策頁面 #271 (#277)
  frontend/src/App.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/tailwind.config.js
Due: typescript

style: fix prettier formatting in ImageCarousel and Home
  frontend/src/components/ImageCarousel.tsx
  frontend/src/pages/Home.tsx
Due: typescript

fix(#249): improve error handling and add tests for AssignTeacherDialog
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/components/organization/__tests__/AssignTeacherDialog.test.tsx
Due: typescript

fix(#249): address code review - validation, a11y, error state, refactor
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/components/organization/__tests__/AssignTeacherDialog.test.tsx
Due: typescript

fix(#240): move batch-import route before {student_id} to fix FastAPI route matching
  backend/routers/student_schools.py
Due: check-import-patterns

fix(#240): move batch-import route before {student_id} to fix FastAPI route matching (#278)
  backend/routers/student_schools.py
Due: check-import-patterns

feat(#249): 班級管理指派導師流程優化 - Autocomplete 搜尋式 UI (#275)
  frontend/src/components/organization/AssignTeacherDialog.tsx
  frontend/src/components/organization/__tests__/AssignTeacherDialog.test.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
Due: typescript

docs: 新增學生作業提交失敗(OOM)修復計劃
  docs/plans/fix-assignment-submission-oom.md
Due: none

docs: 移除 P2.2 增加 Cloud Run 記憶體項目
  docs/plans/fix-assignment-submission-oom.md
Due: none

fix: 加強作業提交錯誤處理與重試機制 (Phase 1)
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

feat(#227): 調整 token 不足時的 UX 流程
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(#227): 移除建立作業時的 warning toast 並柔化配額顯示
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

chore: trigger per-issue deploy
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix(#253): use STAGING_FRONTEND_URL secret for DEMO_ALLOWED_ORIGINS
  .github/workflows/deploy-backend.yml
Due: none

refactor(#280): use retryWithBackoff and improve toast UX for submission
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix(#280): add shouldRetry filter and submission guard
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix(#280): show success toast only after submission succeeds
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(#280): use ref-based submit guard and cleanup toasts on unmount
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix(#280): 加強作業提交錯誤處理與重試機制 (Phase 1) (#281)
  docs/plans/fix-assignment-submission-oom.md
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix: prettier formatting in StudentActivityPage
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

docs: add GCP configuration section to CLAUDE.md
  CLAUDE.md
Due: none

feat(#283): improve organization materials and staff management UX
  frontend/src/components/organization/InviteTeacherDialog.tsx
  frontend/src/components/organization/StaffTable.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/TeachersPage.tsx
Due: typescript

fix(security): replace hardcoded passwords with env var in e2e tests
  backend/tests/e2e/test_deployment_smoke.py
  backend/tests/e2e/test_scenario_b_personal.py
Due: check-import-patterns

fix(lint): remove duplicate else-if blocks and unused imports
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
Due: typescript

fix(security): address code review issues from PR #285
  backend/routers/organization_programs.py
  backend/routers/programs.py
  backend/routers/resource_materials.py
Due: check-import-patterns

fix(security): address code review round 2 - race condition, pagination, is_active
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
Due: check-import-patterns

ui: improve organization materials and staff management UX (#285)
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
  backend/routers/programs.py
  backend/routers/resource_materials.py
  frontend/src/components/organization/InviteTeacherDialog.tsx
  frontend/src/components/organization/StaffTable.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
  frontend/src/pages/organization/TeachersPage.tsx
Due: typescript, check-import-patterns

style: fix Prettier and Black formatting
  backend/routers/programs.py
  backend/tests/e2e/test_deployment_smoke.py
  frontend/src/components/organization/InviteTeacherDialog.tsx
  frontend/src/components/organization/StaffTable.tsx
Due: typescript, check-import-patterns

fix: add missing Switch UI component (shadcn/ui)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/switch.tsx
Due: typescript

ui: optimize organization dashboard and school management UI (#287)
  frontend/src/components/organization/OrganizationTree.tsx
  frontend/src/pages/organization/OrganizationDashboard.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/pages/organization/SchoolTeachersPage.tsx
Due: typescript

ui: add classroom tabs to student management page (#287)
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

ui: remove 全部 tab, default to 未分配 in student management (#287)
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

fix: show loading state immediately on tab switch in student management (#287)
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

ui: replace classroom tabs with dropdown selector in student management (#287)
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

feat(#282): improve vocabulary translation prompts and multi-definition UX
  backend/services/translation.py
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript, check-import-patterns

fix(#287): align OrganizationProgram TypeScript types with backend ProgramResponse
  frontend/src/types/organizationPrograms.ts
Due: typescript

fix(#287): fix bugs in SchoolStudentsPage from code review
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript

feat(#287): Organization Dashboard UI improvements (#288)
  frontend/src/components/organization/OrganizationTree.tsx
  frontend/src/pages/organization/OrganizationDashboard.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/OrganizationEditSections.tsx
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
  frontend/src/pages/organization/SchoolTeachersPage.tsx
  frontend/src/types/organizationPrograms.ts
Due: typescript

style: fix Prettier formatting for organization pages
  frontend/src/components/organization/OrganizationTree.tsx
  frontend/src/pages/organization/OrganizationDashboard.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolStudentsPage.tsx
Due: typescript
