Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

test(issue-31): Fix integration tests for student_number uniqueness
  backend/tests/conftest.py
  backend/tests/integration/api/test_student_number_uniqueness.py
Due: check-import-patterns

fix: Remove incorrect push trigger from cleanup workflow
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

fix: Add push trigger ignore to cleanup workflow
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

fix(issue-52): Fix useCallback dependencies for handleTeacherSubmit
  frontend/src/pages/StudentLogin.tsx
Due: typescript

style(issue-52): Fix Prettier formatting
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/pages/TeacherDashboardWithSidebar.tsx
Due: typescript

fix(issue-52): Fix URL parameter auto-skip to Step 2 in StudentLogin
  frontend/src/pages/StudentLogin.tsx
Due: typescript

fix(issue-52): Swap routing to show Share button in teacher dashboard
  frontend/src/App.tsx
Due: typescript

chore: update package-lock.json to include qrcode.react and its types
  frontend/package-lock.json
Due: none

fix(issue-52): Revert routing change and add Share button to original dashboard
  frontend/src/App.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
Due: typescript

fix(ci): Remove incorrect push trigger from cleanup workflow
  .github/workflows/cleanup-per-issue-on-close.yml
Due: none

fix(issue-53): Add i18n support for BatchGradingModal buttons and aria labels
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat(code-reviewer): Add comprehensive i18n review capabilities
  .claude/agents/code-reviewer.md
Due: none

fix(cicd): Restrict auto-approval to kaddy-eunice only
  .github/workflows/automation-auto-approve.yml
Due: none

feat(cicd): Add commit message to per-issue deployment comments
  .github/workflows/deploy-per-issue.yml
Due: none

feat: Auto-calculate assignment score from AI assessment (#55)
  .claude/agents/agent-manager.md
  .claude/agents/cicd-monitor.md
  .claude/implementation-plan-ai-batch-grading.md
  .claude/specs/complete-ai-batch-grading-spec.md
  .github/workflows/cleanup-per-issue-on-close.yml
  .pre-commit-config.yaml
  CLAUDE.md
  backend/alembic/versions/20251202_1646_288ad5a75206_add_completeness_score_to_student_item_.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/tests/integration/api/test_batch_ai_grading.py
  backend/tests/integration/api/test_batch_grading_complete.py
  backend/tests/integration/api/test_batch_grading_finalize.py
  backend/tests/integration/api/test_batch_grading_single_student_mode.py
  backend/tests/integration/api/test_completeness_score_implementation.py
  backend/tests/unit/test_assignment_score_calculation.py
  docs/BATCH_GRADING_TEST_CONTRACT.md
  frontend/src/components/BatchGradingModal.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

perf(cicd): Optimize Cloud Run resources to 1 CPU + 256MB
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-per-issue.yml
Due: none

perf(cicd): Optimize resources by environment - Production vs Staging
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-per-issue.yml
Due: none

feat: Enhance student login with URL parameters and teacher share feature (#59)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/TeacherDashboardWithSidebar.tsx
  frontend/src/pages/teacher/TeacherDashboard.tsx
  frontend/tests/e2e/test-student-login-flow.spec.ts
Due: typescript

fix(issue-58): Fix student resubmit status logic and UI display
  backend/routers/students.py
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix(issue-58): Add i18n support for TeacherAssignmentDetailPage
  backend/tests/integration/api/test_assignment_resubmit_status.py
  backend/tests/integration/api/test_assignment_start_date.py
  backend/tests/integration/api/test_student_number_validation.py
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

chore: Fix linting issues in test_assignment_resubmit_status.py
  backend/tests/integration/api/test_assignment_resubmit_status.py
Due: check-import-patterns

feat: Add default onboarding data for new registered users (#61)
  backend/services/email_service.py
  backend/services/onboarding_service.py
  backend/tests/integration/api/test_teacher_registration_onboarding.py
  backend/tests/unit/test_onboarding_service.py
Due: check-import-patterns

fix(tests): Fix teacher registration tests to meet password strength requirements
  backend/tests/integration/api/test_teacher_registration_email.py
Due: check-import-patterns

feat: 例句重組模式功能增強與 Content Type 標準化
  .gitignore
  CLAUDE.md
  backend/alembic/versions/20251203_2310_df36fccbe04c_fix_max_errors_calculation.py
  backend/alembic/versions/20251203_2325_3542a41d45c2_standardize_content_type_naming.py
  backend/models.py
  backend/routers/assignments.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/seed_data.py
  backend/tests/conftest.py
  backend/tests/factories.py
  backend/tests/integration/api/test_auto_create_progress_records.py
  backend/tests/integration/api/test_create_assignment_content_progress.py
  backend/tests/integration/api/test_patch_assignment_content_progress.py
  backend/tests/integration/api/test_student_teacher_feedback.py
  backend/tests/unit/test_assignment_models.py
  backend/tests/unit/test_assignment_schemas.py
  backend/tests/unit/test_query_optimization.py
  backend/tests/unit/test_student_progress_tracking.py
  backend/tests/unit/test_teacher_grading_multi_questions.py
  backend/verify_seed.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/SentenceMakingPanel.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ListeningModeTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/api.comprehensive.test.ts
  frontend/src/lib/__tests__/api.createContent.test.ts
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/vite.config.ts
  scripts/dev.sh
Due: typescript, check-import-patterns

fix: 第一題 timeout 得 0 分問題 + Prettier/Black 格式化
  backend/alembic/versions/20251203_2310_df36fccbe04c_fix_max_errors_calculation.py
  backend/alembic/versions/20251203_2325_3542a41d45c2_standardize_content_type_naming.py
  backend/tests/unit/test_student_progress_tracking.py
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

feat: 例句重組聽力模式新增播放速度調整功能
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix: 例句重組計分 bug 修復與作業詳情頁面優化
  backend/routers/students.py
  frontend/src/pages/student/StudentAssignmentDetail.tsx
Due: typescript, check-import-patterns

perf(backend): Upgrade Production memory to 1GB for concurrent recording analysis
  .github/workflows/deploy-backend.yml
  .github/workflows/maintenance-cloud-scheduler.yml
Due: none

chore: add qrcode.react dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(cicd): Disable Cloud Scheduler retry to prevent duplicate executions
  .github/workflows/maintenance-cloud-scheduler.yml
  cost-investigation.md
Due: none

fix: 例句重組模式作業詳情頁面優化
  backend/routers/assignments.py
  backend/routers/students.py
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

style: Prettier 與 Black 格式化
  backend/alembic/versions/20251204_1610_9ecbb63fa545_merge_staging_and_develop_migrations.py
  backend/routers/students.py
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: YAML syntax error 與 Black formatting
  .github/workflows/cleanup-per-issue-on-close.yml
  backend/alembic/versions/20251204_1610_9ecbb63fa545_merge_staging_and_develop_migrations.py
Due: check-import-patterns

fix: 修正 seed workflow 的 database import 錯誤
  .github/workflows/maintenance-seed-develop.yml
Due: none

fix: 將 seed_example_sentences.py 加入 git 追蹤
  backend/scripts/seed_example_sentences.py
Due: check-import-patterns

fix: 修正 seed_example_sentences.py 的 linting 錯誤
  backend/scripts/seed_example_sentences.py
Due: check-import-patterns

fix: 檢查 AZURE_SPEECH_KEY 再啟用 TTS 服務
  backend/scripts/seed_example_sentences.py
Due: check-import-patterns

fix: verify_seed.py 使用 get_session_local() 取代直接 import SessionLocal
  backend/verify_seed.py
Due: check-import-patterns

feat: 在 seed workflow 加入 Azure TTS 環境變數以生成音檔
  .github/workflows/maintenance-seed-develop.yml
Due: none

fix: 修復音頻播放問題與隱藏 VOCABULARY_SET 內容類型
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/RearrangementActivity.tsx
Due: typescript, check-import-patterns
