Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: 改用實際錄音計時驗證時長，修復 iOS Safari MP4 duration 問題
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix: 修復 iOS Safari 錄音時長驗證 race condition
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix: 防止錄音太快停止導致 5 bytes 空檔案
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

feat: 新增學生音檔上傳功能，支援替代錄音方式
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix: 支援 iOS 音檔格式上傳（M4A、AAC、video/mp4）
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

refactor: 移除 canStopRecording 限制，允許立即停止錄音
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix: 修復錄音資料收集問題（ondataavailable 不觸發）
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

refactor: 重構 AudioRecorder 引入跨平台策略層以解決 iOS Safari 錄音問題
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/utils/__tests__/audioRecordingStrategy.test.ts
  frontend/src/utils/audioRecordingStrategy.ts
Due: typescript

fix: 修復 iOS 錄音問題（Chrome 誤判與 WebM 空檔案）
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/utils/__tests__/audioRecordingStrategy.test.ts
  frontend/src/utils/audioRecordingStrategy.ts
  frontend/src/utils/deviceDetector.ts
Due: typescript

fix: 切換 TTS 服務從 edge-tts 到 Azure Speech SDK
  backend/middleware/rate_limiter.py
  backend/requirements.txt
  backend/routers/auth.py
  backend/services/tts.py
Due: check-import-patterns

fix: 修復批次翻譯返回原文問題
  backend/services/translation.py
Due: check-import-patterns

perf: 改用 JSON 格式加速批次翻譯
  backend/services/translation.py
Due: check-import-patterns

fix: 修復批次貼上對話框問題
  backend/tests/integration/api/test_batch_translate_json.py
  frontend/src/components/ReadingAssessmentPanel.tsx
Due: typescript, check-import-patterns

docs: 新增金流測試指南與取消訂閱政策文件
  PAYMENT_TESTING_GUIDE.md
Due: none

debug: 加入金流認證診斷 logging
  backend/routers/teachers.py
Due: check-import-patterns

fix: 修復金流 401 錯誤 - 使用正確的 token 來源
  frontend/src/components/payment/TapPayPayment.tsx
Due: typescript

feat: 建立完整金流資料收集系統到 BigQuery
  backend/requirements.txt
  backend/routers/payment.py
  backend/utils/bigquery_logger.py
  docs/PAYMENT_ANALYTICS.md
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/services/analyticsService.ts
  infrastructure/bigquery_schema.sql
Due: typescript, check-import-patterns

feat: 完成 BigQuery Logger 資安強化與完整測試
  CLAUDE.md
  backend/tests/e2e/test_payment_playwright_staging.py
  backend/tests/unit/test_bigquery_logger.py
  backend/utils/bigquery_logger.py
  docs/PAYMENT_FLOW_TEST_CASES.md
Due: check-import-patterns

fix: 新增 utils/__init__.py 修復 ModuleNotFoundError
  backend/utils/__init__.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
