Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat: Restrict 'All Organizations' page to platform admins only
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript

feat: Sidebar tree shows only organizations where user is owner
  backend/routers/organizations.py
  frontend/src/layouts/OrganizationLayout.tsx
Due: typescript, check-import-patterns

feat: Implement organization management portal with school director role
  backend/config/casbin_policy.csv
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/seed_data/stage_01_users.py
  frontend/src/components/organization/AssignPrincipalDialog.tsx
  frontend/src/components/organization/InviteTeacherDialog.tsx
  frontend/src/components/organization/InviteTeacherToSchoolDialog.tsx
  frontend/src/components/organization/SchoolCreateDialog.tsx
  frontend/src/components/organization/SchoolEditDialog.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/routes/organizationRoutes.tsx
Due: typescript, check-import-patterns

feat: Implement role-based auto-redirect and comprehensive QA documentation
  ORG_QA.md
  backend/alembic/versions/20260101_0257_ed63e979dc1c_fix_teacher_boolean_fields_null_values.py
  backend/routers/auth.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/seed_data/stage_01_users.py
  frontend/src/components/RoleBasedRedirect.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/AssignPrincipalDialog.tsx
  frontend/src/components/organization/InviteTeacherDialog.tsx
  frontend/src/components/organization/InviteTeacherToSchoolDialog.tsx
  frontend/src/components/organization/OrganizationEditDialog.tsx
  frontend/src/components/organization/OrganizationTree.tsx
  frontend/src/components/organization/SchoolCreateDialog.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/layouts/OrganizationLayout.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/organization/OrganizationDashboard.tsx
  frontend/src/pages/organization/OrganizationEditPage.tsx
  frontend/src/pages/organization/SchoolDetailPage.tsx
  frontend/src/pages/organization/SchoolEditPage.tsx
Due: typescript, check-import-patterns

fix: Use SQLAlchemy .is_(True) instead of == True for boolean filters
  backend/routers/auth.py
Due: check-import-patterns

fix: Resolve org role auto-redirect bugs and add comprehensive testing docs
  FINAL_TEST_SUMMARY.md
  backend/routers/schools.py
  frontend/src/pages/organization/OrganizationDashboard.tsx
Due: typescript, check-import-patterns

docs: Add comprehensive BDD specifications for organization features
  .clarify/overview.md
  .clarify/resolved/data/OrganizationAdmin_管理範圍.md
  .clarify/resolved/data/OrganizationAdmin_與負責人權限差異.md
  .clarify/resolved/data/OrganizationOwner_具體權限定義.md
  .clarify/resolved/data/Organization_org_admin新增org_owner權限.md
  .clarify/resolved/data/Organization_org_admin移除成員權限.md
  .clarify/resolved/data/Organization_org_owner數量限制.md
  .clarify/resolved/data/Organization_建立機構權限要求.md
  .clarify/resolved/data/Organization_角色變更權限控制.md
  .clarify/resolved/data/Permission_權限控制策略模式.md
  .clarify/resolved/data/PlatformOwner_具體權限定義.md
  .clarify/resolved/data/Role_權限繼承原則.md
  .clarify/resolved/data/SchoolAdmin_與校長權限差異.md
  .clarify/resolved/data/SchoolPrincipal_具體權限定義.md
  .clarify/resolved/data/Student_帳號唯一性規則.md
  .clarify/resolved/data/Student_跨機構跨班級歸屬規則.md
  .clarify/resolved/data/User_多角色行為邏輯.md
  .clarify/resolved/data/User_角色的資料結構設計方式.md
  docs/references/bdd-prompts/basic/clarify-and-translation.md
  docs/references/bdd-prompts/basic/discovery.md
  docs/references/bdd-prompts/basic/formulation-rules.md
  docs/references/bdd-prompts/basic/formulation.md
  docs/references/bdd-prompts/basic/implementation.md
  docs/references/bdd-prompts/ut/P01-Feature-to-Step-Definition-樣板.md
  docs/references/bdd-prompts/ut/P02-紅燈.md
  docs/references/bdd-prompts/ut/P03-綠燈.md
  docs/references/bdd-prompts/ut/P04-重構.md
  docs/references/bdd-prompts/ut/handlers/Aggregate-Given-Handler.md
  docs/references/bdd-prompts/ut/handlers/Aggregate-Then-Handler.md
  docs/references/bdd-prompts/ut/handlers/Command-Handler.md
  docs/references/bdd-prompts/ut/handlers/Query-Handler.md
  docs/references/bdd-prompts/ut/handlers/ReadModel-Then-Handler.md
  docs/references/bdd-prompts/ut/handlers/Success-Failure-Handler.md
  docs/templates/FEATURE_SPEC_TEMPLATE.md
  spec/README.md
  spec/business-specs/student-abilities-assessment.md
  spec/business-specs/user-roles-and-permissions.md
  spec/erm-organization.dbml
  spec/features/organization/建立機構.feature
  spec/features/organization/管理機構成員.feature
Due: none

refactor(word-selection): 移除重複的熟悉度進度條
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript

fix(word-selection): 修復熟悉度分數更新與顯示
  backend/routers/students.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript, check-import-patterns

fix(word-selection): 修正單字選擇模式的三個問題
  backend/services/translation.py
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

feat(student): 隱藏單字選擇已完成作業的「查看結果」按鈕
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

fix(word-selection): 修正學生端返回按鈕，隱藏提交按鈕
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(distractors): 改進干擾選項 prompt 避免生成近義詞
  backend/services/translation.py
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

fix(word-selection): 禁用題號按鈕跳題功能
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(word-selection): 簡化預覽模式 header，對齊預覽頁版面
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(word-selection): 支援老師端預覽模式
  backend/routers/teachers.py
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript, check-import-patterns

fix(word-selection): 修正完成本輪多播一次音檔和達標對話框翻譯問題
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript

feat(teacher): 單字集作業列表依 practice_mode 顯示不同標籤
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(student): 隱藏單字選擇已完成作業的進度區塊
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

feat(teacher): 隱藏單字選擇作業的 AI 批改按鈕
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(assignments): 複製作業副本時包含 distractors, image_url, part_of_speech
  backend/routers/assignments.py
Due: check-import-patterns

fix(preview): 移除重複的預覽示範模式 badge，改為粗體文字
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/TeacherAssignmentPreviewPage.tsx
Due: typescript

feat(vocabulary-set): 預先生成干擾選項 & 老師詳情頁優化
  backend/alembic/versions/20260107_1757_9a698a17a016_add_distractors_column_to_content_items.py
  backend/models.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/services/translation.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/activities/WordSelectionActivity.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

fix(word-selection): 達標跳窗只在完成本輪後顯示
  frontend/src/components/activities/WordSelectionActivity.tsx
Due: typescript

docs: 新增 VOCABULARY_SET_FEATURE.md 功能文件
  docs/VOCABULARY_SET_FEATURE.md
Due: none

fix(lint): Black 格式修正 distractors migration
  backend/alembic/versions/20260107_1757_9a698a17a016_add_distractors_column_to_content_items.py
Due: check-import-patterns

fix(word-reading): 修復單字朗讀作答流程與 UI 問題
  docs/VOCABULARY_SET_FEATURE.md
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

fix(types): 修復 DigitalTeachingToolbar TypeScript 錯誤
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
  frontend/src/components/teachingTools/__tests__/DigitalTeachingToolbar.test.tsx
Due: typescript

fix(lint): 移除未使用的 eslint-disable 指令
  frontend/src/components/activities/WordReadingTemplate.tsx
Due: typescript

chore: 將翻譯服務 model 從 gpt-3.5-turbo 升級為 gpt-4o-mini
  backend/services/translation.py
  backend/tests/unit/test_translation_service.py
  docs/plans/ai_features_summary.md
Due: check-import-patterns

feat(ai): 新增 Vertex AI (Gemini) 支援，漸進式取代 OpenAI GPT
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-per-issue.yml
  backend/core/config.py
  backend/requirements.txt
  backend/routers/cron.py
  backend/services/billing_analysis_service.py
  backend/services/translation.py
  backend/services/vertex_ai.py
Due: check-import-patterns

feat(ai): 升級至 gemini-2.5-flash 並新增遷移文件
  backend/services/vertex_ai.py
  docs/VERTEX_AI_MIGRATION.md
Due: check-import-patterns

fix(vertex-ai): 升級 google-cloud-aiplatform 至 1.75.0 修復 GenerationConfig import 錯誤
  backend/requirements.txt
  docs/VERTEX_AI_MIGRATION.md
Due: none

fix(vertex-ai): 修正模型名稱為 gemini-2.0-flash-001
  backend/services/vertex_ai.py
  docs/VERTEX_AI_MIGRATION.md
Due: check-import-patterns

fix(vertex-ai): 升級至 gemini-2.5-flash 並改用 us-central1 區域
  backend/core/config.py
  backend/services/vertex_ai.py
  docs/VERTEX_AI_MIGRATION.md
Due: check-import-patterns

fix(ci): 修正 VERTEX_AI_LOCATION 為 us-central1
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-per-issue.yml
Due: none

debug(vertex-ai): 增加詳細 logging 追蹤 API 呼叫
  backend/services/vertex_ai.py
Due: check-import-patterns

fix(vertex-ai): 改善 JSON 解析和自訂 prompt 效用
  backend/services/translation.py
  backend/services/vertex_ai.py
Due: check-import-patterns

fix(lint): 修正 translation.py 行太長錯誤
  backend/services/translation.py
Due: check-import-patterns
