Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix(#318): address review feedback — restore StickyNote, pagination, and i18n fixes
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#318): 作業管理新增封存與解封存功能 (#342)
  backend/models/assignment.py
  backend/routers/assignments/crud.py
  backend/routers/assignments/submission.py
  backend/routers/students/assignments.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

feat(#348): 統一機構模組與教師模組的作業派發元件
  backend/routers/assignments/crud.py
  backend/routers/assignments/validators.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/organization/ClassroomListTable.tsx
  frontend/src/contexts/WorkspaceContext.tsx
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
Due: typescript, check-import-patterns

fix(#366): 載入既有單字集時初始化翻譯語言，避免儲存時被覆蓋為中文
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix: apply Black formatting to crud.py
  backend/routers/assignments/crud.py
Due: check-import-patterns

feat(#366): 強化 AI 例句生成的文法多樣性與教學情境
  backend/routers/teachers/translation_ops.py
  backend/services/translation.py
Due: check-import-patterns

fix(#228): 修正個人訂閱權限阻擋 & 訂閱週期改為固定一個月
  backend/routers/payment.py
  backend/services/subscription_calculator.py
  backend/tests/unit/test_billing_permission.py
  backend/tests/unit/test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator_standalone.py
Due: check-import-patterns

fix(#327): 修正機構管理後台教材頁面重複建立問題
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript

fix(#327): 全面加入 useRef 防護防止所有對話框重複提交
  frontend/src/components/CopyProgramDialog.tsx
  frontend/src/components/ProgramDialogs.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/organization/CreateClassroomDialog.tsx
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/components/organization/EditClassroomDialog.tsx
  frontend/src/components/organization/EditStudentDialog.tsx
  frontend/src/components/organization/MaterialCreateDialog.tsx
  frontend/src/components/organization/MaterialEditDialog.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

fix(#347): 切換 workspace mode 時自動導向 dashboard，避免殘留前一模式頁面 (#367)
  frontend/src/components/TeacherLayout.tsx
Due: typescript

fix(#327): 防止 Dialog 按鈕重複點擊造成重覆建置 (#368)
  frontend/src/components/CopyProgramDialog.tsx
  frontend/src/components/LessonDialog.tsx
  frontend/src/components/ProgramDialog.tsx
  frontend/src/components/ProgramDialogs.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/organization/CreateClassroomDialog.tsx
  frontend/src/components/organization/CreateStudentDialog.tsx
  frontend/src/components/organization/EditClassroomDialog.tsx
  frontend/src/components/organization/EditStudentDialog.tsx
  frontend/src/components/organization/MaterialCreateDialog.tsx
  frontend/src/components/organization/MaterialEditDialog.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/organization/MaterialsPage.tsx
Due: typescript

fix(#348): org tab content type 顯示改用 getContentTypeLabel 翻譯
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix: 修正 flake8 E501 行太長問題
  backend/services/translation.py
Due: check-import-patterns

feat(#348): 統一機構模組與教師模組的作業派發元件 (#369)
  backend/routers/assignments/crud.py
  backend/routers/assignments/validators.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/organization/ClassroomListTable.tsx
  frontend/src/contexts/WorkspaceContext.tsx
  frontend/src/pages/organization/SchoolClassroomsPage.tsx
Due: typescript, check-import-patterns

fix(#366): 修正單字翻譯語言儲存與讀取的完整資料流
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript, check-import-patterns

style: fix Black formatting for test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator.py
Due: check-import-patterns

refactor(#366): 清理單字集翻譯欄位，統一使用 vocabulary_translation
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix(#228): 修正個人訂閱權限 & 訂閱週期改為固定一個月 (#372)
  backend/routers/payment.py
  backend/services/subscription_calculator.py
  backend/tests/unit/test_billing_permission.py
  backend/tests/unit/test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator_standalone.py
Due: check-import-patterns

fix(#353): 干擾項改用同作業單字翻譯並限制僅單字選擇模式顯示
  backend/routers/assignments/crud.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

fix: resolve Black formatting in crud.py for PR #371
  backend/routers/assignments/crud.py
Due: check-import-patterns

fix(#353): backfill distractors for existing word_selection assignments
  backend/alembic/versions/20260302_1000_backfill_word_selection_distractors.py
Due: check-import-patterns

fix: add inline comments for NULL representations in migration
  backend/alembic/versions/20260302_1000_backfill_word_selection_distractors.py
Due: check-import-patterns

fix(#353): backfill distractors for existing word_selection assignments (#375)
  backend/alembic/versions/20260302_1000_backfill_word_selection_distractors.py
Due: check-import-patterns

debug(#366): 加入 PUT item_data debug log 追蹤 vocabulary_translation
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(#366): 防止 ClassroomDetail handleSaveContent 重複 PUT 覆蓋翻譯
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

style: fix Prettier formatting in ClassroomDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(#366): 統一所有儲存路徑使用完整 item payload，避免翻譯遺失
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

chore(#366): remove debug logs from content_ops.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix(#366): 編輯單字集儲存時翻譯語言被覆蓋為中文 (#370)
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/translation_ops.py
  backend/services/translation.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

chore(#228): add credit_packages table migration
  backend/alembic/versions/20260302_1100_add_credit_packages.py
Due: check-import-patterns

style: fix Black formatting for migration file
  backend/alembic/versions/20260302_1100_add_credit_packages.py
Due: check-import-patterns

chore(#228): add credit_packages table migration (#380)
  backend/alembic/versions/20260302_1100_add_credit_packages.py
Due: check-import-patterns

feat(#228): 點數包加購功能（Credit Packages）
  backend/config/plans.py
  backend/main.py
  backend/models/__init__.py
  backend/models/credit_package.py
  backend/models/organization.py
  backend/models/subscription.py
  backend/models/user.py
  backend/routers/credit_packages.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/services/email_service.py
  backend/services/quota_service.py
  backend/tests/unit/test_credit_packages.py
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/constants/plans.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

style: fix Black and Prettier formatting
  backend/models/credit_package.py
  backend/routers/credit_packages.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/services/quota_service.py
  backend/tests/unit/test_credit_packages.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
