Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat: 新增 Claude Code GitHub Automation 與建議回覆功能
  .github/workflows/claude-code-automation.yml
Due: none

docs: Add completion report and manual test script
  backend/docs/ORGANIZATION_HIERARCHY_COMPLETION_REPORT.md
  backend/tests/integration/api/test_organization_api.py
  backend/tests/manual_test_organization_hierarchy.py
Due: check-import-patterns

test: Add comprehensive scenario & edge case tests
  backend/tests/integration/test_organization_hierarchy_scenarios.py
Due: check-import-patterns

chore: Remove incomplete test file and update Casbin policy
  backend/config/casbin_policy.csv
  backend/tests/integration/api/test_classroom_school_api.py
Due: check-import-patterns

feat: Add organization hierarchy schema and ORM models
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/20251127_0047_5106b545b6d2_add_organization_hierarchy_tables.py
  backend/models.py
Due: check-import-patterns

chore: Remove obsolete test documentation files
  backend/config/casbin_policy.csv
Due: none

feat: Implement School CRUD API with org-level permissions
  backend/main.py
  backend/routers/schools.py
  backend/tests/integration/api/test_school_api.py
Due: check-import-patterns

feat: Implement Organization CRUD API with Casbin auth
  backend/main.py
  backend/models.py
  backend/routers/organizations.py
  backend/tests/integration/api/test_organization_api.py
Due: check-import-patterns

feat: Enhance seed data with comprehensive test scenarios
  backend/docs/SEED_DATA_SCENARIOS.md
  backend/seed_data.py
Due: check-import-patterns

refactor: migrate all components to use Zustand auth stores
  backend/routers/classroom_schools.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/seed_data.py
  backend/tests/e2e/test_complete_organization_scenarios.py
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/admin/TestRecordingPanel.tsx
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/components/sidebar/SidebarGroup.tsx
  frontend/src/components/sidebar/SidebarItem.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/lib/api.ts
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/OrganizationDetail.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/src/pages/teacher/SchoolDetail.tsx
  frontend/src/pages/teacher/SchoolManagement.tsx
  frontend/src/services/analyticsService.ts
  frontend/src/types/sidebar.ts
  frontend/vite.config.ts
Due: typescript, check-import-patterns

fix: resolve pre-push hook errors
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/contexts/OrganizationContext.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript, check-import-patterns

fix: add missing translation keys for organization table statistics
  frontend/src/i18n/locales/zh-TW/translation.json
Due: none

feat: Add organization management hub with performance optimizations
  backend/add_complete_org_structure.py
  backend/add_organizations.py
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  backend/seed_data.py.backup
  frontend/src/App.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/components/sidebar/SidebarGroup.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/contexts/OrganizationContext.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
  frontend/src/stores/teacherAuthStore.ts
  frontend/vite.config.ts
Due: typescript, check-import-patterns

feat: add statistics to organization/school/classroom lists and fix org data loading
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  backend/seed_data.py
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript, check-import-patterns

feat: 實作編輯機構功能
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

fix: resolve all pre-push hook errors
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students.py
  backend/routers/teachers.py
  frontend/src/components/admin/TestRecordingPanel.tsx
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/config/sidebarConfig.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/teacher/OrganizationHub_old.tsx
  frontend/src/pages/teacher/OrganizationManagement.tsx
  frontend/tests/e2e/organization-hub-rwd.spec.ts
Due: typescript, check-import-patterns

fix: assign school_admin role to all branch school teachers
  backend/seed_data.py
Due: check-import-patterns

fix: remove unused eslint-disable and format code
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

chore: fix linting and formatting issues
  .claude/commands/restart-server.md
  backend/add_complete_org_structure.py
  backend/add_organizations.py
  backend/routers/schools.py
  backend/routers/teachers.py
  backend/seed_data.py
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/pages/teacher/OrganizationHub_old.tsx
  frontend/tests/e2e/organization-hub-rwd.spec.ts
Due: typescript, check-import-patterns

feat: add responsive design (RWD) to OrganizationHub tables
  frontend/src/components/TeacherLayout.tsx
  frontend/src/hooks/useSidebarRoles.ts
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

feat: show edit/add buttons only for users with management permissions
  frontend/src/components/sidebar/OrganizationSidebar.tsx
  frontend/src/main.tsx
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

feat: add comprehensive statistics to school and classroom lists
  backend/routers/classroom_schools.py
  backend/routers/schools.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript, check-import-patterns

fix: replace any type in OrganizationHub_old.tsx map callback
  frontend/src/pages/teacher/OrganizationHub_old.tsx
Due: typescript

feat: disable placeholder buttons with 'Coming Soon' tooltips
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/tooltip.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/OrganizationHub.tsx
Due: typescript

feat: add Claude Code hooks configuration for mandatory agent-manager routing
  .claude/settings.json
Due: none

refactor: consolidate .claude documentation and optimize hooks
  .claude/agents/agent-manager.md
  .claude/agents/code-reviewer.md
  .claude/agents/git-issue-pr-flow.md
  .claude/agents/test-runner.md
  .claude/hooks/check-agent-rules.py
  CLAUDE.md
Due: none

feat: complete organization management system with custom permissions
  PERFORMANCE_OPTIMIZATIONS.md
  PROGRESS_REPORT.md
  backend/alembic/versions/20251129_1639_16ea1d78b460_add_organization_performance_indexes.py
  backend/config/casbin_policy.csv
  backend/main.py
  backend/models.py
  backend/routers/auth.py
  backend/routers/organizations.py
  backend/routers/payment.py
  backend/routers/teachers.py
  backend/tests/integration/test_organization_hierarchy_scenarios.py
  backend/utils/performance.py
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/TeacherPermissionManager.tsx
  frontend/src/components/permissions/PermissionCheckbox.tsx
  frontend/src/components/permissions/PermissionGate.tsx
  frontend/src/components/permissions/PermissionSummary.tsx
  frontend/src/components/permissions/PermissionTemplateSelector.tsx
  frontend/src/components/permissions/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/lib/permissions.ts
  frontend/src/pages/teacher/OrganizationManagement.tsx
Due: typescript, check-import-patterns

feat: add intelligent context-aware file size checking
  .claude/agents/agent-manager.md
  .claude/agents/code-reviewer.md
  .claude/hooks/check-file-size.py
  .claude/settings.json
  CLAUDE.md
Due: none

fix: resolve pre-push hook failures
  backend/alembic/versions/20251129_1639_16ea1d78b460_add_organization_performance_indexes.py
  backend/alembic/versions/20251129_2207_4566cb74e6f7_remove_unused_composite_indexes.py
  backend/main.py
  backend/routers/payment.py
  backend/tests/integration/test_organization_hierarchy_scenarios.py
  backend/utils/performance.py
  frontend/src/components/StudentLayout.tsx
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/organization/TeacherPermissionManager.tsx
  frontend/src/components/permissions/PermissionCheckbox.tsx
  frontend/src/components/permissions/PermissionGate.tsx
  frontend/src/components/permissions/PermissionSummary.tsx
  frontend/src/components/permissions/PermissionTemplateSelector.tsx
  frontend/src/components/permissions/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/lib/permissions.ts
  frontend/src/pages/teacher/OrganizationManagement.tsx
Due: typescript, check-import-patterns

feat: add Casbin role permission matrix visualization
  frontend/src/components/organization/RolePermissionMatrix.tsx
  frontend/src/components/organization/index.ts
  frontend/src/pages/teacher/OrganizationDetail.tsx
Due: typescript

chore: cleanup temporary documentation and analysis files
  CASBIN_EVALUATION.md
  PROGRESS_REPORT.md
  frontend/bigquery_schema.json
Due: none

refactor: modularize seed_data.py into seed_data/ directory (3438 → 1198 lines max)
  backend/seed_data.py
  backend/seed_data/REFACTORING_SUMMARY.md
  backend/seed_data/__init__.py
  backend/seed_data/seed_main.py
  backend/seed_data/stage_01_users.py
  backend/seed_data/stage_02_classrooms.py
  backend/seed_data/stage_03_students.py
  backend/seed_data/stage_04_programs.py
  backend/seed_data/stage_05_assignments.py
  backend/seed_data/utils.py
  backend/seed_data_original_backup.py
Due: check-import-patterns

refactor: modularize assignments.py into routers/assignments/
  backend/routers/assignments.py
  backend/routers/assignments/__init__.py
  backend/routers/assignments/crud.py
  backend/routers/assignments/dependencies.py
  backend/routers/assignments/detail.py
  backend/routers/assignments/grading.py
  backend/routers/assignments/submission.py
  backend/routers/assignments/utils.py
  backend/routers/assignments/validators.py
Due: check-import-patterns

refactor: modularize routers (teachers, assignments, students)
  backend/routers/teachers/__init__.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/classroom_ops.py
  backend/routers/teachers/content_ops.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/dependencies.py
  backend/routers/teachers/profile_ops.py
  backend/routers/teachers/program_ops.py
  backend/routers/teachers/student_ops.py
  backend/routers/teachers/subscription_ops.py
  backend/routers/teachers/translation_ops.py
  backend/routers/teachers/tts_ops.py
  backend/routers/teachers/upload_ops.py
  backend/routers/teachers/utils.py
  backend/routers/teachers/validators.py
Due: check-import-patterns

docs: consolidate documentation structure (8 → 5 core files)
  .claude/DOCUMENTATION_CONSOLIDATION_PLAN.md
  CICD.md
  CLAUDE.md
  ORG_IMPLEMENTATION_SPEC.md
  ORG_TODO.md
  PERFORMANCE_OPTIMIZATIONS.md
  backend/routers/students.py
  backend/routers/students/__init__.py
  backend/routers/students/account_management.py
  backend/routers/students/assignments.py
  backend/routers/students/auth.py
  backend/routers/students/dependencies.py
  backend/routers/students/email_verification.py
  backend/routers/students/profile.py
  backend/routers/students/recordings.py
  backend/routers/students/validators.py
  docs/integrations/TAPPAY_INTEGRATION_GUIDE.md
  docs/payment/PAYMENT_TESTING_GUIDE.md
  docs/payment/TAPPAY_EINVOICE_INTEGRATION.md
Due: check-import-patterns

docs: mark StudentContentProgress as DEPRECATED
  backend/models.py
Due: check-import-patterns

refactor: modularize models.py into models/ package
  .github/workflows/deploy-per-issue.yml
  backend/models.py
  backend/models/__init__.py
  backend/models/assignment.py
  backend/models/base.py
  backend/models/classroom.py
  backend/models/organization.py
  backend/models/program.py
  backend/models/progress.py
  backend/models/subscription.py
  backend/models/user.py
Due: check-import-patterns

docs: Update ORG_PRD with testing status and manual test plan
  ORG_PRD.md
Due: none

fix(casbin): Fix critical permission system issues
  backend/config/casbin_policy.csv
  backend/main.py
  backend/routers/organizations.py
  backend/routers/schools.py
  backend/routers/students/auth.py
  backend/services/casbin_service.py
  backend/tests/integration/api/test_student_auth_with_org.py
  backend/tests/test_casbin_integration.py
  frontend/src/components/StudentLayout.tsx
  frontend/src/stores/studentAuthStore.ts
Due: typescript, check-import-patterns

docs: Rename ORG_IMPLEMENTATION_SPEC to ORG_PRD and update with implementation status
  ORG_PRD.md
Due: none
