Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

chore: 移除包含 hardcoded secrets 的檔案
  .github/workflows/QUICK_SETUP.sh
Due: none

docs: 加強 CLAUDE.md 資安規範 - 絕對禁止硬編碼 Secrets
  CLAUDE.md
Due: none

refactor: 精簡 CLAUDE.md 資安規範內容
  CLAUDE.md
Due: none

docs: 更新 CLAUDE.md 的 secrets 管理規則
  CLAUDE.md
Due: none

fix: 強化 pre-commit 資安檢查防止 secrets 洩漏
  .github/hooks/security/check-credentials.sh
  .github/hooks/security/security-audit.sh
Due: none

feat: 新增 BigQuery 錄音錯誤每小時自動報告功能
  .github/workflows/setup-cloud-scheduler.yml
  backend/routers/cron.py
Due: check-import-patterns

fix: 在 CI/CD 中加入 CRON_SECRET 環境變數
  .github/workflows/deploy-backend.yml
Due: none

fix: 新增 EmailService.send_email() 通用郵件發送方法
  backend/services/email_service.py
Due: check-import-patterns

feat: 增強 BigQuery 錄音錯誤報告功能
  backend/routers/cron.py
Due: check-import-patterns

fix: Recording Error Report 只在 Production 環境執行
  .github/workflows/setup-cloud-scheduler.yml
Due: none

fix: Staging 環境移除 monthly-renewal 和 renewal-reminder jobs
  .github/workflows/setup-cloud-scheduler.yml
Due: none

feat: 移除訂閱優惠期，統一按比例扣款
  backend/routers/payment.py
  backend/services/subscription_calculator.py
  backend/tests/unit/test_subscription_calculator.py
Due: check-import-patterns

refactor: 改善 subscription_calculator 代碼品質
  backend/services/subscription_calculator.py
Due: check-import-patterns

chore: 清理過時的測試與一次性腳本
  backend/clear_demo_subscription.py
  backend/optimization_cost_analysis.py
  backend/setup_test_accounts.py
  backend/test_auto_renewal_flow.py
  backend/test_einvoice_api.py
  backend/test_refund_flow.py
  backend/test_staging_payment_flow.py
Due: check-import-patterns

fix: 修復 AI 評估測試的資料庫約束衝突問題
  backend/tests/integration/api/test_ai_assessment_enhanced.py
Due: check-import-patterns

fix: 修復錄音錯誤報告使用錯誤的 BigQuery table
  backend/routers/cron.py
Due: check-import-patterns

feat: 優化錄音錯誤報告發信邏輯
  CICD.md
  backend/routers/cron.py
  backend/tests/integration/api/test_cron_recording_error_report.py
  backend/tests/unit/test_cron_email_logic.py
Due: check-import-patterns

fix: 修復認證流程的速率限制與 CORS 設定問題
  backend/main.py
  backend/middleware/rate_limiter.py
  backend/routers/auth.py
  backend/routers/cron.py
  backend/routers/teachers.py
  backend/tests/integration/api/test_recording_error_report_with_students.py
Due: check-import-patterns

fix: 修復錄音錯誤報告 cron job 的 BigQuery JOIN 錯誤
  backend/routers/cron.py
  backend/tests/integration/api/test_recording_error_report_with_students.py
Due: check-import-patterns

feat: 新增教師帳號管理後台與 admin 角色權限系統
  backend/alembic/versions/20251027_0638_bd819e7faa26_add_role_to_teacher.py
  backend/main.py
  backend/models.py
  backend/routers/admin_teacher_management.py
  backend/routers/auth.py
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/pages/AdminTeacherManagement.tsx
  frontend/src/stores/teacherAuthStore.ts
Due: typescript, check-import-patterns

perf: 優化資料庫連線池與健康檢查，修復 SSL SYSCALL EOF 錯誤
  backend/database.py
  backend/main.py
  backend/routers/public.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
