Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

chore: retrigger CI/CD (with file change)
  backend/.gitkeep
Due: none

fix(migration): update down_revision to match staging head
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
Due: check-import-patterns

fix(frontend): use useTeacherAuthStore for token in Points components
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
Due: typescript

feat(admin): add GET /api/admin/organizations endpoint with pagination and search
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

perf(admin): fix N+1 queries in list organizations endpoint
  backend/routers/admin.py
Due: check-import-patterns

feat(admin): add PUT /api/admin/organizations/{org_id} endpoint for updates and points adjustment
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations.py
Due: check-import-patterns

feat(frontend): add admin organization list and update API support
  frontend/src/lib/api.ts
  frontend/src/types/admin.ts
Due: typescript

fix(admin): apply code review fixes to AdminOrganizations
  TODO.md
  docs/plans/2026-02-03-admin-organization-crud.md
  docs/plans/task-5-edit-org-test-checklist.md
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/admin/AdminOrganizations.tsx
Due: typescript

test(admin): add comprehensive testing checklist for organization CRUD
  docs/plans/admin-organizations-crud-testing-checklist.md
Due: none

docs(TODO): update Issue #198 status - Phase 5 complete
  TODO.md
Due: none

feat(spec): 建立機構feature補充專案開始與結束時間欄位
  spec/features/organization/建立機構.feature
Due: none

fix(admin): add missing fields to OrganizationListItem for edit dialog
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
  frontend/src/pages/admin/AdminOrganizations.tsx
  frontend/src/types/admin.ts
Due: typescript, check-import-patterns

feat(admin): add subscription dates to organization model
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
  backend/alembic/versions/20260203_1428_7d39900cc008_merge_multiple_heads.py
  backend/models/organization.py
  backend/routers/admin.py
  backend/routers/schemas/admin_organization.py
Due: check-import-patterns

chore(migration): add subscription dates to organization schema
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
  backend/alembic/versions/20260203_1428_7d39900cc008_merge_multiple_heads.py
Due: check-import-patterns

style: format migration files with Black
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
  backend/alembic/versions/20260203_1428_7d39900cc008_merge_multiple_heads.py
Due: check-import-patterns

feat(frontend): add subscription dates to organization admin UI
  frontend/src/pages/admin/AdminOrganizations.tsx
  frontend/src/types/admin.ts
Due: typescript

fix(migration): enable RLS on organization_points_log table
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
Due: check-import-patterns

fix(migration): add RLS to existing organization_points_log table
  backend/alembic/versions/20260203_1600_add_rls_to_organization_points_log.py
Due: check-import-patterns

fix(migration): correct down_revision in 20260203_0143
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
Due: check-import-patterns

fix(migration): remove unnecessary merge migration
  backend/alembic/versions/20260203_1428_7d39900cc008_merge_multiple_heads.py
Due: check-import-patterns

fix(migration): update subscription dates down_revision
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
Due: check-import-patterns

fix(ci): add organization_points_log to RLS exclude list
  .github/workflows/deploy-backend.yml
Due: none

docs: add complete spec and TODO for Issue #198
  docs/issues/198-complete-spec.md
  docs/issues/198-todo.md
Due: none

fix: 修正單字集內容類型開啟錯誤的 Modal
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useContentEditor.ts
Due: typescript

fix: 修正單字集內容類型開啟錯誤的 Modal (#206)
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/hooks/useContentEditor.ts
Due: typescript

style: fix Prettier formatting
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

style: fix Prettier formatting for VocabularySetPanel Dialog
  frontend/src/components/shared/ProgramTreeView.tsx
Due: typescript

docs: add E2E test screenshots for Issue #198
  docs/screenshots/issue-198/01_list_organizations.png
  docs/screenshots/issue-198/02_search_filtered.png
  docs/screenshots/issue-198/03_pagination.png
  docs/screenshots/issue-198/04_edit_dialog_open.png
  docs/screenshots/issue-198/05_before_save.png
  docs/screenshots/issue-198/06_after_save.png
  docs/screenshots/issue-198/07_verify_persisted.png
  docs/screenshots/issue-198/08_points_section.png
  docs/screenshots/issue-198/09_empty_state.png
Due: none

docs: update Issue #198 TODO with E2E test results
  docs/issues/198-todo.md
Due: none

style: fix Prettier formatting for Issue #198 components
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
  frontend/src/pages/admin/AdminOrganizations.tsx
Due: typescript

style: fix Black formatting for Issue #198 backend files
  backend/routers/admin.py
  backend/routers/organization_points.py
  backend/routers/schemas/admin_organization.py
  backend/tests/test_admin_organizations.py
  backend/tests/test_organization_points_api.py
Due: check-import-patterns

docs: add spec and TODO for Issue #208 org points deduction
  docs/issues/208-complete-spec.md
  docs/issues/208-todo.md
Due: none

docs: finalize requirements for Issue #208
  docs/issues/208-complete-spec.md
  docs/issues/208-todo.md
Due: none

feat(org-points): implement OrganizationPointsService with TDD
  backend/services/organization_points_service.py
  backend/tests/unit/test_organization_points_service.py
  docs/issues/208-todo.md
Due: check-import-patterns

fix(migration): correct down_revision in subscription_dates migration
  backend/alembic/versions/20260203_1428_238cc2af0367_add_subscription_dates_to_organization.py
Due: check-import-patterns
