Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

feat(#1024): 情境對話逐題 AI 生圖（Imagen）+ 月次數上限 (#1027)
  .github/workflows/deploy-backend.yml
  backend/alembic/versions/20260907_1000_add_scenario_image_usage.py
  backend/models/__init__.py
  backend/models/scenario_image_usage.py
  backend/routers/scenario_dialogue_ai.py
  backend/services/image_upload.py
  backend/services/scenario_dialogue_image.py
  backend/services/scenario_image_quota.py
  backend/tests/test_scenario_image_endpoint.py
  backend/tests/unit/test_scenario_dialogue_image.py
  frontend/src/components/ScenarioDialoguePanel.tsx
  frontend/src/components/__tests__/ScenarioDialoguePanel.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/api.ts
Due: typescript, check-import-patterns

chore(#1024): 空白描述真的擋在配額之前 + 移除死分支（PR #1027 review round 4）
  backend/routers/scenario_dialogue_ai.py
  backend/tests/test_scenario_image_endpoint.py
Due: check-import-patterns

chore(#1024): 空白描述真的擋在配額之前 + 移除死分支（PR #1027 review round 4） (#1028)
  backend/routers/scenario_dialogue_ai.py
  backend/tests/test_scenario_image_endpoint.py
Due: check-import-patterns

fix: 手機版滑出面板被擠成一條（sidebarWidth 沒有跟著斷點歸零）
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/contexts/SidebarContext.tsx
  frontend/src/contexts/__tests__/SidebarContext.test.tsx
Due: typescript

test: 面板改用 data-testid 選取，不再比對 Tailwind class 字串（PR #1029 review）
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
Due: typescript

fix: 手機版滑出面板被擠成一條（sidebarWidth 沒跟著斷點歸零） (#1029)
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/contexts/SidebarContext.tsx
  frontend/src/contexts/__tests__/SidebarContext.test.tsx
Due: typescript

fix(#1030): 情境對話在派發流程明確擋下（原本會被當成單字集）
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
Due: typescript

fix(#1030): 灰掉的卡片要點得下去才說得出原因（PR #1032 review round 1）
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
Due: typescript

fix(#1030): 「全選」也要說對原因（PR #1032 review round 2）
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
Due: typescript

fix(#1030): 可點的卡片不能用「不可點」游標（PR #1032 review round 3）
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix(#1030): 情境對話在派發流程明確擋下（原本會被當成單字集） (#1032)
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
Due: typescript

feat(#1031): 情境對話可派發 + 後端學生／老師端序列化
  backend/routers/assignments/grading.py
  backend/routers/students/assignments.py
  backend/tests/unit/test_scenario_student_payload.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/__tests__/practiceMode.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/practiceMode.ts
  frontend/src/types/index.ts
  frontend/src/utils/scoreCategory.ts
Due: typescript, check-import-patterns

feat(#1031): 情境對話批改 Panel（純人工批改）
  frontend/src/components/grading/ScenarioDialogueGradingPanel.tsx
  frontend/src/components/grading/index.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript

feat(#1031): 學生端情境對話作答（情境置頂常駐 + 逐題錄音）
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

refactor(#1031): 老師端序列化收回模組，未使用的 prop 標明用途（PR #1034 review）
  backend/routers/assignments/grading.py
  backend/tests/unit/test_scenario_student_payload.py
  backend/utils/scenario_dialogue.py
  frontend/src/components/grading/ScenarioDialogueGradingPanel.tsx
Due: typescript, check-import-patterns

docs(#1031): 修掉被本 PR 弄過期的註解（PR #1034 review round 2）
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix(#1031): 兩處二分法漏掉第三種資料集（PR #1034 review round 3）
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/lib/__tests__/practiceMode.test.ts
  frontend/src/lib/practiceMode.ts
Due: typescript

feat(#1031): 情境對話學生端作答 + 批改頁 Panel + 派發流程 (#1034)
  backend/routers/assignments/grading.py
  backend/routers/students/assignments.py
  backend/tests/unit/test_scenario_student_payload.py
  backend/utils/scenario_dialogue.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/grading/ScenarioDialogueGradingPanel.tsx
  frontend/src/components/grading/index.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/__tests__/practiceMode.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/practiceMode.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/types/index.ts
  frontend/src/utils/scoreCategory.ts
Due: typescript, check-import-patterns

feat(#1035): 情境對話 AI 評分建議（Gemini 讀音檔 → 逐字稿 + 語言特徵四面向）
  backend/alembic/versions/20260908_1000_add_scenario_grading_data.py
  backend/models/progress.py
  backend/routers/assignments/grading.py
  backend/services/scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_endpoint.py
  backend/tests/unit/test_scenario_student_payload.py
  backend/utils/scenario_dialogue.py
  docs/design/grading-page-architecture.md
  frontend/src/components/grading/ScenarioDialogueGradingPanel.tsx
  frontend/src/components/grading/__tests__/ScenarioDialogueGradingPanel.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/practiceMode.ts
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

fix(#1035): 音檔格式從錄音本身推導，不再一律標成 audio/webm（PR #1036 review R1）
  backend/services/audio_upload.py
  backend/services/scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_ai.py
Due: check-import-patterns

fix(#1035): 本機下載不再卡住 event loop；資料問題與模型失敗分開回應（PR #1036 review R2）
  backend/routers/assignments/grading.py
  backend/services/scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_endpoint.py
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

chore(#1035): 移除不必要的 noqa: E402（PR #1036 review R3）
  backend/tests/unit/test_scenario_grading_ai.py
Due: check-import-patterns

feat(#1035): 情境對話 AI 評分建議（Gemini 讀音檔 → 逐字稿 + 語言特徵四面向） (#1036)
  backend/alembic/versions/20260908_1000_add_scenario_grading_data.py
  backend/models/progress.py
  backend/routers/assignments/grading.py
  backend/services/audio_upload.py
  backend/services/scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_ai.py
  backend/tests/unit/test_scenario_grading_endpoint.py
  backend/tests/unit/test_scenario_student_payload.py
  backend/utils/scenario_dialogue.py
  docs/design/grading-page-architecture.md
  frontend/src/components/grading/ScenarioDialogueGradingPanel.tsx
  frontend/src/components/grading/__tests__/ScenarioDialogueGradingPanel.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/practiceMode.ts
  frontend/src/pages/teacher/GradingPage.tsx
Due: typescript, check-import-patterns

fix(#1033): 灰掉的內容卡片點下去要說明原因（原生 disabled 吃掉了 click）
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/assignment/ContentSelectCard.tsx
  frontend/src/components/assignment/__tests__/ContentSelectCard.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/__tests__/practiceMode.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/practiceMode.ts
Due: typescript

refactor(#1033): explainNotSelectable 改用 datasetLabelKeysForMode（PR #1037 review R1）
  frontend/src/lib/assignableContentType.ts
Due: typescript

fix(#1033): 名單為空時的通用退路 + 用 Intl.ListFormat 串接（PR #1037 review R2）
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/tsconfig.json
Due: typescript

fix(#1033): 灰掉的內容卡片點下去要說明原因（原生 disabled 吃掉了 click） (#1037)
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/assignment/ContentSelectCard.tsx
  frontend/src/components/assignment/__tests__/ContentSelectCard.test.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/__tests__/practiceMode.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/practiceMode.ts
  frontend/tsconfig.json
Due: typescript

feat(#1039): 情境對話前端入口加開關，預設關閉
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/__tests__/featureFlags.scenarioDialogue.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/featureFlags.ts
Due: typescript

feat(#1039): 情境對話前端入口加開關，預設關閉 (#1040)
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/__tests__/featureFlags.scenarioDialogue.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/featureFlags.ts
Due: typescript

fix(#1039): 開關改用專案既有的 per-environment 機制（prod 關、staging 開）
  .github/workflows/deploy-frontend.yml
  frontend/.env.example
  frontend/Dockerfile
  frontend/Dockerfile.staging
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/config/__tests__/featureFlags.scenarioDialogue.test.ts
  frontend/src/config/featureFlags.ts
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/featureFlags.ts
Due: typescript

chore(#1039): 拿掉測試裡多餘的 as string（PR #1042 review）
  frontend/src/config/__tests__/featureFlags.scenarioDialogue.test.ts
Due: typescript

fix(#1039): 開關改用專案既有的 per-environment 機制（prod 關、staging 開） (#1042)
  .github/workflows/deploy-frontend.yml
  frontend/.env.example
  frontend/Dockerfile
  frontend/Dockerfile.staging
  frontend/src/components/ContentTypeDialog.tsx
  frontend/src/components/__tests__/ContentTypeDialog.test.tsx
  frontend/src/config/__tests__/featureFlags.scenarioDialogue.test.ts
  frontend/src/config/featureFlags.ts
  frontend/src/lib/__tests__/assignableContentType.test.ts
  frontend/src/lib/assignableContentType.ts
  frontend/src/lib/featureFlags.ts
Due: typescript

hotfix(#1047): Azure Speech SDK 1.45.0 → 1.51.2，修復 prod TTS 與發音評估全掛
  backend/requirements.txt
  backend/routers/assignments/utils.py
  backend/routers/speech_assessment.py
  backend/services/tts.py
  backend/tests/unit/test_tts_cancellation_details.py
Due: check-import-patterns
