Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix: Update test build VITE_API_URL to match production configuration
  .github/workflows/deploy-vm-prod.yml
Due: none

fix(programs): Use deep copy instead of move for course content duplication
  backend/routers/programs.py
  backend/tests/integration/api/test_issue_81.py
Due: check-import-patterns

fix(database): Fix audio upload blocking DB connections and increase pool size
  backend/database.py
  backend/routers/students.py
Due: check-import-patterns

fix(database): Complete connection pool exhaustion fix with comprehensive tests
  backend/database.py
  backend/routers/students.py
  backend/tests/integration/api/test_audio_upload_connection_pool.py
  backend/tests/integration/test_database_comprehensive.py
Due: check-import-patterns

style: Fix linting errors (Black formatting + Flake8)
  backend/routers/students.py
  backend/tests/integration/api/test_audio_upload_connection_pool.py
  backend/tests/integration/test_database_comprehensive.py
Due: check-import-patterns

style: Format load_testing/config.py with Black
  backend/tests/load_testing/config.py
Due: check-import-patterns

style: Format locustfile.py and remove unused import
  backend/tests/load_testing/locustfile.py
Due: check-import-patterns

style: Format monitoring.py and remove unused imports
  backend/tests/load_testing/monitoring.py
Due: check-import-patterns

style: Format generate_audio_samples.py and fix Flake8 errors
  backend/tests/load_testing/generate_audio_samples.py
Due: check-import-patterns

chore: Bump version to 1.0.1 for connection pool fix deployment
  backend/main.py
Due: check-import-patterns

fix(cicd): Remove invalid branches-ignore from workflow triggers
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Due: none

fix: Resolve linting errors in cherry-picked connection pool fixes
  backend/routers/students.py
  backend/tests/integration/api/test_audio_upload_connection_pool.py
  backend/tests/integration/test_database_comprehensive.py
  backend/tests/load_testing/.env.example
  backend/tests/load_testing/.gitignore
  backend/tests/load_testing/QUICK_REFERENCE.md
  backend/tests/load_testing/README.md
  backend/tests/load_testing/SETUP_GUIDE.md
  backend/tests/load_testing/audio_samples/.gitkeep
  backend/tests/load_testing/requirements.txt
  backend/tests/load_testing/run_tests.sh
  docs/LOAD_TESTING_ANALYSIS.md
  docs/LOAD_TESTING_IMPLEMENTATION_SUMMARY.md
Due: check-import-patterns

fix(database): Complete connection pool exhaustion fix with comprehensive tests
  backend/database.py
  backend/routers/students.py
  backend/tests/integration/api/test_audio_upload_connection_pool.py
  backend/tests/integration/test_database_comprehensive.py
  backend/tests/load_testing/config.py
  backend/tests/load_testing/locustfile.py
Due: check-import-patterns

fix: Resolve Flake8 linting errors blocking production deployment
  backend/routers/students.py
  backend/tests/integration/api/test_audio_upload_connection_pool.py
  backend/tests/integration/test_database_comprehensive.py
  backend/tests/load_testing/.env.example
  backend/tests/load_testing/config.py
  backend/tests/load_testing/generate_audio_samples.py
  backend/tests/load_testing/locustfile.py
  backend/tests/load_testing/monitoring.py
  backend/tests/load_testing/requirements.txt
Due: check-import-patterns

style: Auto-format locustfile.py with black
  backend/tests/load_testing/locustfile.py
Due: check-import-patterns

docs: 整理 Content Type 文件，統一命名規範
  docs/CONTENT_TYPES.md
  docs/CONTENT_TYPES_ANALYSIS.md
  docs/CONTENT_TYPE_REFACTOR_PLAN.md
  docs/UI_DESIGN_EXAMPLE_SENTENCES.md
  docs/UI_DESIGN_SENTENCE_MAKING.md
  docs/VOCABULARY_SET_UI_PLAN.md
  docs/plans/vocabulary_set_implementation_plan.md
Due: none

refactor: Remove unnecessary PDCA file generation from git-issue-pr-flow agent
  .claude/agents/git-issue-pr-flow.md
Due: none

refactor(tests): Rename test_issue_81.py to test_course_content_deep_copy.py
  backend/tests/integration/api/test_course_content_deep_copy.py
Due: check-import-patterns

chore: Add load testing artifacts to .gitignore
  .gitignore
Due: none

refactor(tests): Rename test_issue_81.py to test_course_content_deep_copy.py
  backend/tests/integration/api/test_issue_81.py
Due: check-import-patterns

refactor(programs): Fix N+1 queries and code duplication in course copy
  backend/routers/programs.py
Due: check-import-patterns

Fix Issue #81: Deep copy for course content duplication
  .claude/agents/git-issue-pr-flow.md
  .gitignore
  backend/routers/programs.py
  backend/tests/integration/api/test_course_content_deep_copy.py
Due: check-import-patterns

Release v1.0.2: Issue #81 Fix + Performance Improvements
  .claude/agents/git-issue-pr-flow.md
  .gitignore
  backend/main.py
  backend/routers/programs.py
  backend/tests/integration/api/test_course_content_deep_copy.py
  backend/tests/load_testing/config.py
  backend/tests/load_testing/generate_audio_samples.py
  backend/tests/load_testing/locustfile.py
  backend/tests/load_testing/monitoring.py
Due: check-import-patterns

feat: Migrate production deployment from VM to Cloud Run
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-vm-prod.yml
Due: none

docs: Update deployment documentation for VM to Cloud Run migration
  CICD.md
  docs/DEPLOYMENT_STATUS.md
  docs/DNS_MIGRATION_GUIDE.md
Due: none

fix: 修正刪除錄音後前端分析結果未同步清除的問題
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix: 修正檔案上傳功能未真正上傳到 GCS 的問題
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

style: fix Prettier formatting
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

Release: Issue #81, #82 修復 + 連線池優化 (#86)
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

refactor(tests): 將測試文件的 ContentType 從 READING_ASSESSMENT 更新為 EXAMPLE_SENTENCES
  backend/tests/integration/api/test_assignment_bulk_operations.py
  backend/tests/integration/api/test_assignment_content_copy_mechanism.py
  backend/tests/integration/api/test_assignment_resubmit_status.py
  backend/tests/integration/api/test_completeness_score_implementation.py
  backend/tests/integration/api/test_course_content_deep_copy.py
  backend/tests/integration/api/test_student_assignment_end_to_end.py
Due: check-import-patterns

fix(migration): 修正 PostgreSQL enum 值在同一事務中無法使用的問題
  backend/alembic/versions/20251203_2325_3542a41d45c2_standardize_content_type_naming.py
Due: check-import-patterns

fix(models): 同步 models.py 與數據庫 schema
  backend/models.py
Due: check-import-patterns

fix: Update deploy-shared.yml to use Cloud Run for production instead of VM
  .github/workflows/deploy-shared.yml
Due: none

fix(models): add missing Index definitions to match staging DB schema
  backend/models.py
Due: check-import-patterns
