Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: extract script tag to variable to satisfy both ESLint and Prettier
  frontend/src/lib/stickyNotePrint.ts
Due: typescript

style: fix Prettier formatting for AssignmentStickyNote and ClassroomDetail
  frontend/src/components/AssignmentStickyNote.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: address Claude Code Review feedback for PR #350
  frontend/src/components/AssignmentStickyNote.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/stickyNotePrint.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

feat(#316): 新增作業管理便利貼與 filter bar (#350)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AssignmentStickyNote.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/stickyNotePrint.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: resolve Prettier formatting in AssignmentDialog.tsx for PR #359
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix(#346): 修正機構模組派發單字選擇與工作區 modal 捲動問題 (#359)
  backend/routers/organization_programs.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/workspace/WorkspaceSwitcher.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

feat(#352): AI 助手 — 找功能 + 新增教師流程、工作區感知、guide 檔案化
  .claude/commands/restart-server.md
  backend/main.py
  backend/routers/ai_assistant.py
  docs/ai-assistant-guides/add-classroom-students.md
  docs/ai-assistant-guides/add-teacher.md
  docs/ai-assistant-guides/common-rules.md
  docs/ai-assistant-guides/find-feature.md
  frontend/package-lock.json
  frontend/src/components/TeacherLayout.tsx
  frontend/src/components/ai-assistant/AiAssistantFab.tsx
  frontend/src/components/ai-assistant/AiAssistantMenu.tsx
  frontend/src/components/ai-assistant/AiAssistantPanel.tsx
  frontend/src/components/ai-assistant/chat/ChatContainer.tsx
  frontend/src/components/ai-assistant/chat/ChatInput.tsx
  frontend/src/components/ai-assistant/chat/ChatMessages.tsx
  frontend/src/components/ai-assistant/chat/types.ts
  frontend/src/components/ai-assistant/flows/AddTeacherChat.tsx
  frontend/src/components/ai-assistant/flows/FindFeatureChat.tsx
  frontend/src/components/ai-assistant/flows/add-teacher-flow.ts
  frontend/src/components/ai-assistant/index.ts
  frontend/src/components/ai-assistant/useAiAssistant.ts
  frontend/src/contexts/WorkspaceContext.tsx
  frontend/src/layouts/OrganizationLayout.tsx
Due: typescript, check-import-patterns

feat: add automated release PR workflow with LINE notifications
  .claude/agents/git-issue-pr-flow.md
  .github/workflows/CLAUDE_AUTOMATION_GUIDE.md
  .github/workflows/automation-auto-approve.yml
  .github/workflows/automation-release-pr.yml
Due: none

hotfix: add assignment archive migration for per-issue deploy compatibility
  backend/alembic/versions/20260227_1000_add_assignment_archive.py
Due: check-import-patterns

fix: address Claude Code Review feedback on migration
  backend/alembic/versions/20260227_1000_add_assignment_archive.py
Due: check-import-patterns

hotfix: add assignment archive migration for per-issue deploy (#361)
  backend/alembic/versions/20260227_1000_add_assignment_archive.py
Due: check-import-patterns

fix(#228): 修正殘留30天文字、移除免費優惠提示與 trial 配額轉移
  backend/routers/admin_subscriptions.py
  backend/routers/payment.py
  backend/tests/integration/api/test_payment_api_disabled.py
  backend/tests/integration/api/test_payment_api_enabled.py
  backend/tests/integration/api/test_payment_env_control.py
  backend/tests/integration/api/test_trial_to_paid_quota_transfer.py
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/TeacherDashboardWithSidebar.tsx
  frontend/src/pages/TeacherEmailVerification.tsx
  frontend/src/pages/TeacherVerifyEmail.tsx
  frontend/src/pages/TestSubscription.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

feat(#228): 調整個人教師訂閱方案點數、價格並重構硬編碼值
  backend/config/__init__.py
  backend/config/plans.py
  backend/models/subscription.py
  backend/routers/admin_subscriptions.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/routers/subscription.py
  backend/seed_data/stage_01_users.py
  backend/services/email_service.py
  backend/services/subscription_calculator.py
  backend/tests/e2e/test_scenario_b_personal.py
  backend/tests/e2e/test_subscription_integration_full.py
  backend/tests/integration/api/test_admin_operation_history_simple.py
  backend/tests/integration/api/test_admin_refund.py
  backend/tests/integration/api/test_admin_subscription_operations.py
  backend/tests/integration/api/test_admin_subscription_three_layer.py
  backend/tests/integration/api/test_assignment_bulk_operations.py
  backend/tests/integration/api/test_assignment_content_copy_mechanism.py
  backend/tests/integration/api/test_assignment_permission_filtering.py
  backend/tests/integration/api/test_assignment_resubmit_status.py
  backend/tests/integration/api/test_cron_renewal_migration.py
  backend/tests/integration/api/test_monthly_renewal_cron.py
  backend/tests/integration/api/test_quota_buffer.py
  backend/tests/integration/api/test_quota_usage_analytics.py
  backend/tests/integration/api/test_student_assignment_end_to_end.py
  backend/tests/integration/api/test_trial_plan_display.py
  backend/tests/integration/api/test_trial_to_paid_quota_transfer.py
  backend/tests/integration/test_quota_subscription_e2e.py
  backend/tests/integration/test_subscription_scenarios.py
  backend/tests/unit/test_subscription_calculator.py
  backend/tests/unit/test_subscription_calculator_standalone.py
  frontend/src/constants/plans.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/admin/AdminSubscriptionDashboard.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

style: fix Black formatting for CI Test Backend
  backend/models/subscription.py
Due: check-import-patterns

style: fix Prettier formatting for TeacherEmailVerification
  frontend/src/pages/TeacherEmailVerification.tsx
Due: typescript

fix(#353): use correct panel for vocab set assignment copies + add distractor editing
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

style: fix Prettier formatting in TeacherAssignmentDetailPage
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(#353): copy example_sentence fields when creating assignment copies
  backend/routers/assignments/crud.py
Due: check-import-patterns

fix(#353): restore AI distractor generation + new option selection logic
  backend/routers/students/assignments.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/content_ops.py
Due: check-import-patterns

fix: address Claude Code Review feedback for PR #362
  backend/routers/students/assignments.py
  backend/routers/teachers/assignment_ops.py
Due: check-import-patterns

feat(#333): toolbar 新增「分享給學生」按鈕
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

feat(#352): 我的班級頁面增強 — 排序、查詢、派發作業、排版調整
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/__tests__/TeacherClassrooms.test.tsx
Due: typescript

fix: address security and quality review feedback in student assignments
  backend/routers/students/assignments.py
Due: check-import-patterns

fix: resolve Prettier formatting for PR #363
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix: resolve Prettier formatting for PR #364
  frontend/src/pages/teacher/__tests__/TeacherClassrooms.test.tsx
Due: typescript

fix: address round 3 review feedback in student assignments
  backend/routers/students/assignments.py
Due: check-import-patterns

fix: address Claude Code Review feedback for PR #364
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
Due: typescript

feat(#333): toolbar 新增「分享給學生」按鈕 (#363)
  frontend/src/components/teachingTools/DigitalTeachingToolbar.tsx
Due: typescript

fix: resolve Prettier formatting in ClassroomDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix(#353): 修正單字集作業副本模組 + 新增干擾項編輯 (#362)
  backend/routers/assignments/crud.py
  backend/routers/students/assignments.py
  backend/routers/teachers/assignment_ops.py
  backend/routers/teachers/content_ops.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

feat(#352): 我的班級頁面增強 — 排序、查詢、派發作業、排版調整 (#364)
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherClassrooms.tsx
  frontend/src/pages/teacher/__tests__/TeacherClassrooms.test.tsx
Due: typescript

feat(#318): 作業管理新增封存與解封存功能
  backend/alembic/versions/20260225_1000_add_assignment_archive.py
  backend/models/assignment.py
  backend/routers/assignments/crud.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/types/index.ts
Due: typescript, check-import-patterns

style: fix Prettier formatting for ClassroomDetail.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: typescript

fix: resolve Alembic multiple heads by updating migration chain
  backend/alembic/versions/20260225_1000_add_assignment_archive.py
Due: check-import-patterns

fix(#318): exclude archived assignments from student views
  backend/routers/assignments/submission.py
  backend/routers/students/assignments.py
Due: check-import-patterns

fix(#327): 防止 Dialog 按鈕重複點擊造成重覆建置
  frontend/src/components/LessonDialog.tsx
  frontend/src/components/ProgramDialog.tsx
Due: typescript

fix(#347): 切換 workspace mode 時自動導向 dashboard，避免殘留前一模式頁面
  frontend/src/components/TeacherLayout.tsx
Due: typescript

feat(#356): AI 助手 — 對話式新增班級與學生
  backend/routers/ai_assistant.py
  backend/routers/teachers/student_ops.py
  frontend/src/components/ai-assistant/AiAssistantMenu.tsx
  frontend/src/components/ai-assistant/AiAssistantPanel.tsx
  frontend/src/components/ai-assistant/chat/ChatInput.tsx
  frontend/src/components/ai-assistant/flows/AddClassroomChat.tsx
  frontend/src/components/ai-assistant/flows/AddStudentsChat.tsx
  frontend/src/components/ai-assistant/flows/FindFeatureChat.tsx
  frontend/src/components/ai-assistant/flows/QuickStartChat.tsx
  frontend/src/components/ai-assistant/flows/add-classroom-flow.ts
  frontend/src/components/ai-assistant/flows/add-students-flow.ts
  frontend/src/components/ai-assistant/flows/add-teacher-flow.ts
  frontend/src/components/ai-assistant/useAiAssistant.ts
Due: typescript, check-import-patterns

style: prettier formatting
  frontend/src/components/TeacherLayout.tsx
  frontend/src/contexts/OrganizationContext.tsx
  frontend/src/pages/teacher/__tests__/TeacherClassrooms.test.tsx
Due: typescript

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
