Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

security: 修復 JWT 密鑰檢查與統一密碼政策
  backend/auth.py
  backend/core/security.py
Due: black, flake8

feat: 完整學生端 RWD 優化與側邊欄 disabled 狀態
  frontend/src/components/StudentLayout.tsx
  frontend/src/pages/StudentDashboard.tsx
  frontend/src/pages/student/StudentProfile.tsx
Due: eslint, typescript, prevent-hardcoded-urls

chore: 新增 GitGuardian 配置排除測試文件
  .gitguardian.yaml
Due: none

refactor: SQLAlchemy 2.0 遷移與測試基礎設施改進
  backend/database.py
  backend/pytest.ini
  backend/services/tappay_service.py
  backend/tests/conftest.py
Due: black, flake8

fix: 修復 Auth 測試資料庫共享問題
  backend/tests/conftest.py
Due: black, flake8

fix: 改進 Auth 安全性與測試相容性
  backend/auth.py
  backend/tests/integration/auth/test_teacher_email_verification.py
Due: black, flake8

test: 移除過度設計的 Email/密碼重設測試
  backend/tests/integration/auth/test_teacher_email_verification.py
  backend/tests/integration/auth/test_teacher_password_reset.py
Due: black, flake8

refactor: 將格式化工具移至 pre-push 階段
  .pre-commit-config.yaml
Due: none

fix: 修復 pre-push hook 配置
  .pre-commit-config.yaml
Due: none

refactor: 移除 pre-push 格式化，改為手動執行
  .pre-commit-config.yaml
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 新增 Prettier 格式化檢查到 CI/CD
  .github/workflows/deploy-frontend.yml
  CICD.md
Due: none

feat: 新增金流環境控制功能 (ENABLE_PAYMENT)
  .github/workflows/deploy-backend.yml
  backend/.env.production.example
  backend/TEST_REPORT_PAYMENT_ENV_CONTROL.md
  backend/routers/payment.py
  frontend/src/components/payment/TapPayPayment.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 同步 CI/CD 檢查到 pre-push hooks
  .pre-commit-config.yaml
  backend/routers/payment.py
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

test: 新增 payment API 環境控制測試
  backend/tests/integration/api/test_payment_api_disabled.py
  backend/tests/integration/api/test_payment_api_enabled.py
  backend/tests/integration/api/test_payment_env_control.py
Due: black, flake8

fix: 修復 Flake8 和 ESLint/TypeScript 錯誤
  backend/tests/integration/api/test_payment_api_disabled.py
  backend/tests/integration/api/test_payment_api_enabled.py
  backend/tests/integration/api/test_payment_env_control.py
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 新增 BACKEND_URL 環境變數到 Cloud Run 部署
  .github/workflows/deploy-frontend.yml
Due: none

fix: 強制 production 重新編譯以修復 RWD cache 問題
  .github/workflows/deploy-frontend.yml
Due: none

fix: 修復 Docker multi-stage build cache 問題
  .github/workflows/deploy-frontend.yml
  frontend/Dockerfile
Due: none

fix: 在 nginx stage 也加入 BUILD_TIMESTAMP cache buster
  frontend/Dockerfile
Due: none
