Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix: 新增 VITE_TAPPAY_PRODUCTION_* build args 修復前端 TapPay 初始化
  .github/workflows/deploy-production.yml
Due: none

debug: 新增取消訂閱詳細 logging 以診斷 400 錯誤
  backend/routers/teachers.py
Due: check-import-patterns

debug: 加上 print debugging 追蹤 cancel subscription 流程
  backend/routers/teachers.py
Due: check-import-patterns

fix: 修復取消訂閱功能 - 正確處理 subscription_auto_renew=None 的情況
  backend/routers/teachers.py
Due: check-import-patterns

cleanup: 移除 debug print statements，保留 logger
  backend/routers/teachers.py
Due: check-import-patterns

fix: 加上 AZURE_SPEECH 環境變數到 Production deployment
  .github/workflows/deploy-production.yml
Due: none

fix: 移除 speech_assessment 中無效的 item_index fallback 邏輯
  backend/routers/speech_assessment.py
Due: check-import-patterns

fix: 為 deploy-production.yml 和 deploy-staging.yml 加上 CRON_SECRET
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix: 修復新架構缺少的環境變數，確保 100% cover 舊架構功能
  .github/hooks/security/check-credentials.sh
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
Due: none

fix: 加上缺少的 RLS 配置到 point_usage_logs 和 subscription_periods
  .github/workflows/fix-rls.yml
  backend/migrations/fix_rls_missing_tables.sql
Due: none

fix: 加上 DROP POLICY IF EXISTS 避免重複執行錯誤
  backend/migrations/fix_rls_missing_tables.sql
Due: none

fix: 改為條件式 RLS 修復，避免表不存在錯誤
  backend/migrations/fix_rls_missing_tables.sql
Due: none

fix: 使用 DATABASE_POOLER_URL 修復 fix-rls workflow 網路連線問題
  .github/workflows/fix-rls.yml
Due: none

fix: 加上 teachers 表 RLS disable，解決後端無法直接存取問題
  backend/migrations/fix_rls_missing_tables.sql
Due: none

fix: DISABLE RLS for all business tables - JWT auth architecture
  .github/workflows/deploy-backend.yml
  backend/migrations/fix_rls_missing_tables.sql
Due: none

fix: 修復平行測試 table already exists 錯誤
  backend/tests/conftest.py
Due: check-import-patterns

cleanup: 移除所有舊的 GitHub Actions workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-shared.yml
  .github/workflows/deploy-staging-supabase.yml.backup
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-supabase.yml.bak.20250929
  .github/workflows/deploy-supabase.yml.old
Due: none

fix: 恢復 deploy-shared.yml - 這是新架構的一部分
  .github/workflows/deploy-shared.yml
Due: none

test: 測試新 workflow 架構的觸發機制
  .env.example
  backend/auth.py
  frontend/src/App.tsx
Due: typescript, check-import-patterns

feat: 新增 fix-rls.yml workflow 用於手動修復 RLS 配置
  .github/workflows/fix-rls.yml
Due: none

feat: 新增 fix_rls_missing_tables.sql migration
  backend/migrations/fix_rls_missing_tables.sql
Due: none

fix: deploy-backend.yml RLS 檢查排除業務表
  .github/workflows/deploy-backend.yml
Due: none

fix: 修正 DATABASE_URL 環境變數 - 使用正確的 PostgreSQL 連線字串
  .github/workflows/deploy-backend.yml
Due: none

fix: 修正 GroupedQuestionsTemplate 中的評分結果更新邏輯
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
Due: typescript

feat: add quota buffer system with 20% hard limit
  backend/alembic/versions/20251111_1306_5cff70f7dc07_remove_legacy_subscription_fields_from_.py
  backend/models.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/routers/speech_assessment.py
  backend/routers/subscription.py
  backend/seed_data.py
  backend/services/email_service.py
  backend/services/quota_service.py
  backend/tests/e2e/run_integration_tests.py
  backend/tests/e2e/test_subscription_integration_full.py
  backend/tests/integration/api/test_cron_renewal_migration.py
  backend/tests/integration/api/test_quota_buffer.py
Due: check-import-patterns

fix: black formatting and flake8 errors
  backend/alembic/versions/20251111_1306_5cff70f7dc07_remove_legacy_subscription_fields_from_.py
  backend/models.py
  backend/routers/cron.py
  backend/routers/payment.py
  backend/routers/subscription.py
  backend/services/quota_service.py
  backend/tests/e2e/run_integration_tests.py
  backend/tests/e2e/test_subscription_integration_full.py
  backend/tests/integration/api/test_cron_renewal_migration.py
Due: check-import-patterns

fix: remove unused variables in E2E tests
  backend/tests/e2e/test_subscription_integration_full.py
Due: check-import-patterns

fix: remove unnecessary f-string prefixes
  backend/tests/e2e/run_integration_tests.py
Due: check-import-patterns

fix: add missing subscription_end_date property to Teacher model
  backend/models.py
Due: check-import-patterns

feat: add GET /api/teachers/subscription endpoint
  backend/routers/teachers.py
Due: check-import-patterns

fix: remove nested button warning in AssignmentDialog
  frontend/src/components/AssignmentDialog.tsx
Due: typescript

fix: resolve 500 error on /api/subscription/status endpoint
  backend/routers/payment.py
  frontend/src/pages/teacher/TeacherSubscription.tsx
Due: typescript, check-import-patterns

fix: use production TapPay for staging environment
  .github/workflows/deploy-frontend.yml
Due: none

fix: add ORDER BY to current_period query for consistency
  backend/models.py
Due: check-import-patterns

feat: add purpleice9765@msn.com to test subscription whitelist
  backend/routers/subscription.py
Due: check-import-patterns

fix: correct TapPay build args in Dockerfiles
  frontend/Dockerfile
  frontend/Dockerfile.staging
Due: none

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
