Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, check-migration-format, prevent-hardcoded-urls

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --ext ts,tsx src --max-warnings 0'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-migration-format:
  name: Check Alembic migration file format
  entry: python backend/hooks/check_migration_format.py
  language: python
  pass_filenames: true

prevent-hardcoded-urls:
  name: Prevent hardcoded localhost URLs
  entry: bash -c 'if grep -r "localhost:[0-9]" frontend/src/ 2>/dev/null; then echo "Error - Hardcoded localhost URL found - Use environment variables"; exit 1; fi'
  language: system
  pass_filenames: false

chore: 清理測試檔案結構
  backend/routers/students.py
  backend/test_ai_score_cleanup.py
  backend/test_gcs_upload.py
  backend/test_student_complete_flow.py
  backend/test_student_re_record.py
  backend/test_student_upload.py
  backend/test_upload_teacher.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 為教師作業指派對話框添加載入動畫
  frontend/src/components/AssignmentDialog.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 添加缺失的 pydub 依賴以修復 CI/CD 部署
  backend/requirements.txt
Due: none

feat: 實現作業派發對話框完整 lazy loading 優化
  backend/.env.example
  backend/Dockerfile
  backend/alembic/versions/20250902_2037_6c42743b461f_initial_complete_schema.py
  backend/alembic/versions/20250905_2008_fec3ec42ce70_add_template_and_source_tracking_to_.py
  backend/alembic/versions/20250906_2237_47e26e8bf64b_add_email_verification_and_remove_.py
  backend/alembic/versions/20250907_2251_f66a09eba7e7_add_email_verification_fields.py
  backend/main.py
  backend/routers/students.py
  backend/seed_data.py
  backend/services/audio_upload.py
  backend/tests/integration/test_cicd_deployment_safety.py
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, check-migration-format, prevent-hardcoded-urls

fix: 修復 staging 前端 API URL 配置問題
  frontend/Dockerfile
  frontend/Dockerfile.staging
  frontend/src/components/AssignmentDialog.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復 staging 環境 CORS 配置問題
  backend/main.py
Due: none

fix: 暫時設定 staging CORS 允許所有來源
  backend/main.py
Due: none

feat: 添加 admin 路由支援 staging 環境資料庫 seed
  backend/main.py
  backend/routers/admin.py
  backend/run_seed.py
Due: none

fix: 為所有模板課程添加完整內容
  backend/seed_data.py
Due: none

fix: 修正 admin.py 的 import 路徑錯誤
  backend/routers/admin.py
Due: none

fix: 修復 staging 前端無法連接後端的問題
  .github/workflows/deploy-staging-supabase.yml
  frontend/Dockerfile.staging
Due: none

fix: 修正教師儀表板 API 500 錯誤
  backend/routers/teachers.py
Due: none

fix: 修正教師儀表板 API 處理 null email 的問題
  backend/routers/teachers.py
Due: none

fix: 修正作業取消指派 API 參數名稱錯誤與 TypeScript 型別問題
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復老師無法播放學生錄音的問題
  backend/routers/assignments.py
  frontend/src/pages/teacher/StudentGradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

refactor: 移除舊架構相容程式碼，只保留新架構
  backend/routers/assignments.py
  frontend/src/pages/teacher/StudentGradingPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 重構學生 ID 欄位 - 將 student_id 重命名為 student_number
  backend/alembic/versions/20250902_2037_6c42743b461f_initial_complete_schema.py
  backend/alembic/versions/20250910_2328_11560478a023_rename_student_id_to_student_number.py
  backend/models.py
  backend/routers/auth.py
  backend/routers/students.py
  backend/routers/teacher.py
  backend/routers/teachers.py
  backend/schemas.py
  backend/seed_data.py
  frontend/src/components/GradingModal.tsx
  frontend/src/components/StudentCompletionDashboard.tsx
  frontend/src/components/StudentDialogs.tsx
  frontend/src/components/StudentTable.tsx
  frontend/src/components/__tests__/StudentTable.test.tsx
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/student/StudentAssignmentDetail.tsx
  frontend/src/pages/teacher/GradingPage.tsx
  frontend/src/pages/teacher/StudentGradingPage.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
  frontend/src/pages/teacher/TeacherStudents.tsx
  frontend/src/services/authService.ts
  frontend/src/stores/studentAuthStore.ts
  frontend/src/types/index.ts
Due: eslint, typescript, check-migration-format, prevent-hardcoded-urls

fix: 修復學生相關問題
  backend/routers/teachers.py
  frontend/src/components/StudentDialogs.tsx
  frontend/src/pages/StudentLogin.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復學生 email 驗證 token 比對問題
  backend/services/email_service.py
Due: none

docs: 整合並統一 CI/CD 文件
  CICD.md
  docs/CICD.md
Due: none

刪除測試報告文件 docs/TEST_REPORT.md，該文件包含過時的測試結果和建議，未來將以其他方式進行測試報告的管理。
  docs/TEST_REPORT.md
Due: none

feat: 添加發送驗證信按鈕的 loading 動畫
  frontend/src/pages/StudentDashboard.tsx
Due: eslint, typescript, prevent-hardcoded-urls

更新 CICD.md 文件，調整 CI/CD 流程與部署準則，強調使用 Supabase 免費方案，刪除 Cloud SQL 相關手動創建規範，新增環境變數檢查項目，並更新部署流程與成本控制建議。更新 CLAUDE.md 文件，刪除過時的 GCloud 配置設定部分，並強調部署後測試規則。更新 PRD.md 文件，調整專案里程碑與功能完成度，並新增作業系統的實施計畫與技術細節。
  CICD.md
  CLAUDE.md
  PRD.md
Due: none

刪除多個不再使用的檔案，包括 flake8 修正腳本、Playwright 配置檔、Slack 通知腳本及相關的測試檔案，清理專案結構以提升維護性。
  fix_flake8.py
  frontend/TEST_RESULTS.md
  frontend/clear_storage.html
  frontend/test_panel_features.md
  frontend/test_reading_editor.md
  frontend/test_recording_collection_fixes.md
  playwright.config.js
  playwright.config.ts
  send_slack_notification.sh
  slack_security_update.md
  test-results/.last-run.json
  test_email_binding_complete.py
  test_email_verification_fixed.py
  test_save_recording.html
Due: none

刪除多個不再使用的檔案，包括 ESLint 配置、Playwright 測試報告和學生活動頁面 HTML 檔案，以清理專案結構並提升維護性。
  frontend/.eslintrc.cjs
  frontend/playwright-report/index.html
  frontend/src/test-student-activity.html
Due: none

刪除不再使用的 pre-commit 鉤子檔案 check-router-prefixes.py，以簡化專案結構並提升維護性。
  backend/.github/hooks/check-router-prefixes.py
Due: none

刪除多個不再使用的腳本檔案，包括 Supabase 表格創建、flake8 修正、資料庫初始化、Cloud SQL Proxy 設定、部署配置切換、API 測試等，以清理專案結構並提升維護性。
  scripts/create-tables-supabase.py
  scripts/fix_flake8.py
  scripts/fix_flake8_batch.py
  scripts/init-supabase-db.py
  scripts/reset-alembic.py
  scripts/setup-cloudsql-proxy.sh
  scripts/switch-deployment.sh
  scripts/test_rate_limiting.py
  scripts/test_supabase.py
Due: none

刪除多個不再使用的測試腳本，包括 AI 評分檢查、批改功能測試、課程 CRUD 測試、課程 API 測試及真實學生資料 API 測試，以清理專案結構並提升維護性。
  backend/scripts/check_ai_scores.py
  backend/scripts/linting/fix_flake8_batch.py
  backend/scripts/test_grading_complete.py
  backend/scripts/test_lessons_api.py
  backend/scripts/test_program_crud_api.py
  backend/scripts/test_programs_api.py
  backend/scripts/test_real_students_data_api.py
  backend/scripts/test_three_creation_methods.py
  backend/scripts/update_supabase_migration.py
Due: none

fix: 修復核心認證功能和程式碼品質問題
  backend/alembic/versions/20250906_2237_47e26e8bf64b_add_email_verification_and_remove_.py
  backend/alembic/versions/20250907_2251_f66a09eba7e7_add_email_verification_fields.py
  backend/alembic/versions/20250910_2328_11560478a023_rename_student_id_to_student_number.py
  backend/auth.py
  backend/core/security.py
  backend/database.py
  backend/hooks/check_migration_format.py
  backend/middleware/rate_limiter.py
  backend/routers/files.py
  backend/routers/programs.py
  backend/routers/public.py
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/routers/unassign.py
  backend/seed_data.py
  backend/services/translation.py
  backend/services/tts.py
  backend/tests/e2e/test_core_business_flows.py
  backend/tests/integration/auth/test_auth_missing_coverage.py
  backend/tests/integration/test_cicd_deployment_safety.py
  backend/tests/integration/test_cicd_failure_prevention.py
  backend/tests/unit/test_assignment_workflows.py
  backend/tests/unit/test_critical_auth_flows.py
  backend/tests/unit/test_program_lesson_management.py
  frontend/tests/assignment-activities.spec.ts
Due: check-migration-format

feat: 實作資料庫管理網頁 - 左右分欄布局
  frontend/src/App.tsx
  frontend/src/pages/admin/DatabaseAdminPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復資料庫重建功能錯誤
  frontend/src/pages/admin/DatabaseAdminPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復後端 admin 路由環境檢查邏輯
  backend/routers/admin.py
Due: none

refactor: 大幅簡化 e2e 測試，專注核心功能
  backend/tests/e2e/test_all_features.py
  backend/tests/e2e/test_assignments_flow.py
  backend/tests/e2e/test_audio_workflow.py
  backend/tests/e2e/test_complete_assignment_flow.py
  backend/tests/e2e/test_core_api.py
  backend/tests/e2e/test_core_business_flows.py
  backend/tests/e2e/test_grading_e2e.py
  backend/tests/e2e/test_program_simple.py
  backend/tests/e2e/test_student_management_workflow.py
Due: none

fix: 完全清除所有 Flake8 錯誤
  backend/tests/integration/test_cicd_failure_prevention.py
  backend/tests/integration/test_critical_api_endpoints.py
  backend/tests/integration/test_database_migration_safety.py
  backend/tests/integration/test_database_security.py
  backend/tests/unit/test_assignment_workflows.py
  backend/tests/unit/test_critical_auth_flows.py
  backend/tests/unit/test_file_upload_management.py
  backend/tests/unit/test_student_progress_tracking.py
Due: none

feat: 強化 pre-commit hooks 確保程式碼品質
  .pre-commit-config.yaml
  Makefile
  docs/PRE_COMMIT_HOOKS.md
  scripts/setup-hooks.sh
Due: none

feat: 統一所有檢查機制到 pre-commit 並加強 CI/CD
  .github/workflows/deploy-staging-supabase.yml
  .pre-commit-config.yaml
  docs/PRE_CHECK_ANALYSIS.md
Due: none

docs: 更新 PRD 完成度從 75-80% 到 95%
  PRD.md
Due: none

docs: 更新 PRD - 翻譯功能已完成串接
  PRD.md
Due: none

docs: 更新 PRD - TTS 功能已完整實作
  PRD.md
Due: none

docs: 更新 PRD - Phase 1 達成 100% 完成！🎉
  PRD.md
Due: none

Path conditions:
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
