Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-import-patterns:
  name: Check for problematic Python import patterns
  entry: python backend/hooks/check_import_patterns.py
  language: system
  pass_filenames: true

fix(#282): batch translation picks first definition for multi-meaning words
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix(#282): default AI sentence translation language to browser locale
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix(#282): AI sentence modal defaults translate lang to last selected language
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

feat(#282): improve AI sentence generation with grammar variety and POS rules
  backend/.gitignore
  backend/config/grammar_by_level.json
  backend/services/translation.py
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

fix(#282): address code review findings — security and type safety
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/routers/demo.py
  backend/routers/organization_programs.py
Due: check-import-patterns

fix(#282): address second code review — division by zero and cleanup
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/routers/resource_materials.py
  frontend/src/components/OrganizationPointsBalance.tsx
Due: typescript, check-import-patterns

fix(#282): address third code review — migration chain, test, error handling
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/models/__init__.py
  backend/routers/organization_points.py
  backend/tests/test_organization_points_api.py
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
Due: typescript, check-import-patterns

fix(#282): address fourth code review — idempotency, constants, Pydantic v2
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/models/program.py
  backend/routers/organization_programs.py
  backend/routers/resource_materials.py
  backend/services/resource_materials_service.py
Due: check-import-patterns

fix(#282): address fifth code review — demo API contract and error handling
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/hooks/useProgramCopy.ts
  frontend/src/lib/demoApi.ts
Due: typescript

fix(#282): address sixth code review — FK constraints, logging, cleanup
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/routers/programs.py
  backend/services/resource_materials_service.py
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

fix(#282): address seventh code review — security, validation, concurrency
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/models/program.py
  backend/routers/organization_points.py
  backend/routers/resource_materials.py
  backend/services/organization_points_service.py
  frontend/src/components/OrganizationPointsHistory.tsx
Due: typescript, check-import-patterns

feat(#282): 改進單字英英翻譯 prompt 與多義詞 UX (#294)
  backend/.gitignore
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/alembic/versions/20260203_0143_add_organization_points_system.py
  backend/alembic/versions/20260206_1000_add_visibility_and_copy_log.py
  backend/config/grammar_by_level.json
  backend/models/__init__.py
  backend/models/program.py
  backend/routers/demo.py
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
  backend/routers/programs.py
  backend/routers/resource_materials.py
  backend/services/organization_points_service.py
  backend/services/resource_materials_service.py
  backend/services/translation.py
  backend/tests/test_organization_points_api.py
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/hooks/useProgramCopy.ts
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/lib/demoApi.ts
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript, check-import-patterns

style: fix Black and Prettier formatting on staging
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
  backend/models/program.py
  backend/routers/organization_points.py
  backend/routers/programs.py
  backend/services/resource_materials_service.py
  backend/services/translation.py
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/ProgramVisibilitySelector.tsx
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript, check-import-patterns

style: fix flake8 errors in translation.py on staging
  backend/services/translation.py
Due: check-import-patterns

fix(#298): mobile edit panel width and batch paste button UX
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(#227): 機構教師配額顯示改為使用機構額度
  backend/routers/teachers/subscription_ops.py
Due: check-import-patterns

fix(#227): handleQuestionJump 題號跳題時遵守 canUseAiAnalysis 檢查
  backend/models/user.py
  backend/routers/students/assignments.py
  backend/services/quota_service.py
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

debug(#227): 加入 canUseAiAnalysis 診斷日誌和 _debug_quota 欄位
  backend/models/user.py
  backend/routers/students/assignments.py
  backend/services/quota_service.py
Due: check-import-patterns

chore(#227): 移除 debug/quota 端點和多餘 console.log
  backend/routers/admin.py
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

fix(#227): 配額檢查改為工作區概念 — 以作業所屬班級判斷
  backend/routers/students/assignments.py
  backend/routers/teachers/subscription_ops.py
  backend/services/quota_service.py
  frontend/src/components/AssignmentDialog.tsx
Due: typescript, check-import-patterns

fix(#227): 錄音停止和下一題時自動上傳+背景分析
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(#227): 例句朗讀錄音 toast 與單字朗讀對齊
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(#227): recorder.onstop 錄音停止後立即上傳到 GCS
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(#227): 移除建立作業時的 warning toast 並柔化配額顯示
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript

feat(#227): 調整 token 不足時的 UX 流程
  frontend/src/components/AssignmentDialog.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript

fix(#227): 例句朗讀錄音完成後自動上傳到 GCS
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(#227): 修正 TeacherProfile useWorkspace Provider 錯誤
  frontend/src/pages/teacher/TeacherProfile.tsx
Due: typescript

fix: temporarily disable 30-day trial homework assignment restriction
  backend/routers/assignments/crud.py
  backend/routers/teachers.py
  backend/routers/teachers/dashboard.py
  frontend/package-lock.json
Due: check-import-patterns

fix(#227): 提交作業時補齊上傳與分析缺口
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

feat(#227): 教師 Profile 頁面新增工作區配額顯示
  frontend/src/pages/teacher/TeacherProfile.tsx
Due: typescript

feat(#227): add AI analysis quota check for teachers and organizations
  backend/routers/students/assignments.py
  backend/routers/teachers.py
  backend/routers/teachers/dashboard.py
  backend/routers/teachers/validators.py
  backend/services/quota_service.py
  frontend/package-lock.json
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/activities/WordReadingActivity.tsx
  frontend/src/components/activities/WordReadingTemplate.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/TeacherAssignmentDetailPage.tsx
Due: typescript, check-import-patterns

feat(#227): add admin debug endpoint for teacher quota diagnosis
  backend/routers/admin.py
Due: check-import-patterns

fix(#298): mobile edit panel width and batch paste button UX (#299)
  frontend/src/components/VocabularySetPanel.tsx
  frontend/src/components/shared/ProgramTreeView.tsx
  frontend/src/pages/teacher/ClassroomDetail.tsx
  frontend/src/pages/teacher/OrgMaterialsPage.tsx
  frontend/src/pages/teacher/SchoolMaterialsPage.tsx
  frontend/src/pages/teacher/TeacherTemplatePrograms.tsx
Due: typescript

fix(#227): address code review feedback from PR #292
  backend/routers/organization_points.py
  backend/routers/organization_programs.py
  frontend/src/components/OrganizationPointsBalance.tsx
  frontend/src/components/OrganizationPointsHistory.tsx
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
Due: typescript, check-import-patterns

fix(#227): address second code review feedback from PR #292
  backend/routers/organization_programs.py
  backend/services/program_service.py
Due: check-import-patterns

style(#298): fix Prettier formatting in VocabularySetPanel.tsx
  frontend/src/components/VocabularySetPanel.tsx
Due: typescript

fix(#227): use bindparams() for migration SQL parameterization
  backend/alembic/versions/20260201_0306_add_demo_teacher_account.py
Due: check-import-patterns

refactor(#227): remove redundant sorted() on relationship-ordered collections
  backend/routers/organization_programs.py
Due: check-import-patterns

fix(#227): address fourth code review feedback from PR #292
  backend/routers/organization_programs.py
  frontend/src/components/CopyProgramDialog.tsx
Due: typescript, check-import-patterns

fix(#227): add org membership check to subscription points query
  backend/routers/teachers/subscription_ops.py
Due: check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$
