Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

perf: 優化資料庫連線池與健康檢查，修復 SSL SYSCALL EOF 錯誤
  backend/database.py
  backend/main.py
  backend/routers/public.py
Due: check-import-patterns

feat: 隱藏 production 環境的測試帳號快速登入區塊
  frontend/src/pages/StudentLogin.tsx
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

fix: 修復 production 環境變數設定，正確隱藏測試帳號區塊
  .github/workflows/deploy-frontend.yml
  frontend/Dockerfile
Due: none

docs: 更新 .env.example 加入 VITE_ENVIRONMENT 說明
  frontend/.env.example
Due: none

fix(audio): 防止 iOS Safari 使用不支援的 WebM 格式錄音
  frontend/src/components/shared/AudioRecorder.tsx
Due: typescript

fix(audio): 偵測並拒絕 iOS Safari 忽略 mimeType 參數的問題
  frontend/src/components/shared/AudioRecorder.tsx
Due: typescript

fix(audio): 修復 MediaRecorder 重用導致連續錄音失敗的問題
  frontend/src/components/shared/AudioRecorder.tsx
Due: typescript

fix(audio): 修正 iOS Safari 錄音策略，使用 WebM 格式並放寬驗證
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/utils/audioRecordingStrategy.ts
Due: typescript

fix: 修復 macOS Safari 錄音產生 0 byte 問題，改用 WebM 格式
  frontend/src/utils/audioRecordingStrategy.ts
Due: typescript

fix: 修復 iOS Chrome 錄音 metadata 驗證失敗問題
  frontend/src/utils/audioRecordingStrategy.ts
Due: typescript

fix(recording): 修復 MediaRecorder 重用問題並統一錄音策略
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/utils/__tests__/audioRecordingStrategy.test.ts
Due: typescript

refactor: 移除棄用的 AssignmentDetail.tsx 路由，統一使用新版頁面
  frontend/src/App.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: typescript

fix(recording): 修復錄音停止後狀態未清理導致 UI 異常問題
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(recording): 修正 macOS Safari 錄音格式支援
  frontend/src/utils/audioRecordingStrategy.ts
Due: typescript

fix(assessment): 修正 macOS Safari AI 評估檔案格式問題
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
Due: typescript

fix(backend): 支援 MP4 音檔格式處理
  backend/routers/speech_assessment.py
  backend/routers/teachers.py
Due: check-import-patterns

chore: 移除生產環境 DEBUG console logs
  frontend/src/lib/api.ts
  frontend/src/pages/TeacherLogin.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
  frontend/src/pages/student/StudentAssignmentList.tsx
Due: typescript

fix(recording): 實作完整的錄音和評估結果刪除功能
  backend/routers/speech_assessment.py
  backend/tests/integration/api/test_delete_item_recording_and_assessment.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/AssignmentDetail.tsx
Due: typescript, check-import-patterns

fix(recording): 修復刪除錄音功能 - Backend API + Frontend 連動
  backend/routers/speech_assessment.py
  backend/tests/integration/api/test_delete_item_recording_and_assessment.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
Due: typescript, check-import-patterns

fix(assessment): 修復 AI 評估結果刪除後重新整理又出現的問題
  backend/models.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
Due: typescript, check-import-patterns

feat(assignment): 提交作業前檢查未完成項目並顯示漂亮 Modal
  frontend/src/components/shared/AudioRecorder.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript
