Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, check-import-patterns

Path conditions:
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-import-patterns: any of: ^backend/.*\.py$ and \.py$

fix(Issue #108): auto-stop recording when time limit is reached
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
Due: typescript

fix(Issue #108): round recording duration to show clean time values
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript

fix(Issue #108): show timeLimit in playback duration after auto-stop
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/SentenceMakingTemplate.tsx
Due: typescript

fix(Issue #113): prevent double-click race condition when copying programs
  frontend/src/components/CreateProgramDialog.tsx
Due: typescript

fix(Issue #113): filter out assignment copies when copying programs
  backend/routers/programs.py
Due: check-import-patterns

feat(Issue #77): redesign homepage with new sections and i18n support
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

fix: Handle ApiError detail type properly in TeacherLogin
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

style: Format TeacherLogin.tsx with Prettier
  frontend/src/pages/TeacherLogin.tsx
Due: typescript

fix: improve translation cache reliability (Related to #88)
  backend/services/translation.py
  backend/tests/unit/test_translation_service.py
Due: check-import-patterns

chore: fix import pattern violations after staging sync
  backend/auth.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/scripts/seed_example_sentences.py
  backend/services/audio_upload.py
  backend/services/translation.py
Due: check-import-patterns

chore: satisfy lint/format after staging sync
  backend/auth.py
  backend/routers/teachers.py
Due: check-import-patterns

fix: Add LRU cache to translation service (Issue #88) (#98)
  backend/auth.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/scripts/seed_example_sentences.py
  backend/services/audio_upload.py
  backend/services/translation.py
  backend/tests/unit/test_translation_service.py
Due: check-import-patterns

【效能優化】API 响应压缩 - 减少 60-80% 传输体积 (Issue #95) (#97)
  backend/main.py
Due: check-import-patterns

chore: fix translation test env (SQLite JSONB) and batch legacy mocks
  backend/database.py
  backend/services/translation.py
  backend/tests/conftest.py
Due: check-import-patterns

chore: fix translation test env (SQLite JSONB) and batch legacy mocks
  backend/database.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/services/translation.py
Due: check-import-patterns

chore: fix flake8 for teachers preview random import
  backend/routers/teachers.py
Due: check-import-patterns

chore: remove duplicate random import
  backend/routers/teachers.py
Due: check-import-patterns

perf: Health Check Optimization (Issue #96) (#104)
  backend/main.py
Due: check-import-patterns

fix(Issue #77): improve homepage text spacing and hide demo credentials in production
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

feat(home): Section 2 redesign - Unsplash image, badges, video modal
  frontend/src/pages/Home.tsx
Due: typescript

style(home): refine Section 2 badges and video button per design
  frontend/src/pages/Home.tsx
Due: typescript

fix(home): adjust Section 2 breakpoint and button height
  frontend/src/pages/Home.tsx
Due: typescript

style(home): Section 2 consistent padding and content centering
  frontend/src/pages/Home.tsx
Due: typescript

fix(home): Section 2 mobile responsive layout
  frontend/src/pages/Home.tsx
Due: typescript

feat(Issue #77): 首頁資訊改版 (#114)
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
Due: typescript

fix: remove duplicate functions in translation.py from merge
  backend/services/translation.py
Due: check-import-patterns

Release: Staging → Main (Issue #77, #96, #95, #88, #87, #113, #108) (#117)
  backend/auth.py
  backend/database.py
  backend/main.py
  backend/routers/students.py
  backend/routers/teachers.py
  backend/scripts/seed_example_sentences.py
  backend/services/audio_upload.py
  backend/services/translation.py
  backend/services/tts.py
  backend/tests/conftest.py
  backend/tests/unit/test_translation_service.py
  backend/tests/unit/test_tts.py
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/zh-TW/translation.json
  frontend/src/pages/Home.tsx
  frontend/src/pages/TeacherLogin.tsx
Due: typescript, check-import-patterns

feat: implement Azure Speech frontend direct call architecture (backend TDD)
  CICD.md
  PRD.md
  backend/main.py
  backend/routers/azure_speech_token.py
  backend/routers/speech_assessment.py
  backend/services/azure_speech_token.py
  backend/tests/unit/test_azure_speech_token_api.py
  backend/tests/unit/test_pronunciation_upload.py
Due: check-import-patterns

feat: implement frontend Azure Speech Service (TDD)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/examples/AzurePronunciationExample.tsx
  frontend/src/hooks/useAzurePronunciation.ts
  frontend/src/services/__tests__/azureSpeechService.test.ts
  frontend/src/services/azureSpeechService.ts
Due: typescript

perf: optimize to analyze-first, upload-in-background pattern
  backend/routers/speech_assessment.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/pages/student/StudentActivityPageContent.tsx
Due: typescript, check-import-patterns

debug: add comprehensive console logging for flow tracking
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/__tests__/GroupedQuestionsTemplate.autoAnalysis.test.tsx
  frontend/src/components/activities/__tests__/uploadHelpers.test.ts
  frontend/src/hooks/__tests__/useAzurePronunciation.test.ts
  frontend/src/services/azureSpeechService.ts
Due: typescript

fix: resolve ESLint errors in debug code
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/services/azureSpeechService.ts
Due: typescript

fix: add Authorization header to Azure Speech token requests
  frontend/src/services/azureSpeechService.ts
Due: typescript

fix: use VITE_API_URL for Azure Speech token requests in production
  frontend/src/services/azureSpeechService.ts
Due: typescript

feat: implement auto-analysis and detailed pronunciation feedback (Issue #118)
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/hooks/useAzurePronunciation.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/services/azureSpeechService.ts
Due: typescript

fix: resolve TypeScript and ESLint errors for Azure Speech integration
  frontend/src/hooks/useAzurePronunciation.ts
Due: typescript

fix: remove unused eslint-disable directive
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
Due: typescript

docs: integrate best practices from backend/.claude/agents/ into root
  .claude/agents/agent-manager.md
  .claude/agents/code-generator.md
  .claude/agents/git-issue-pr-flow.md
  .claude/agents/test-runner.md
Due: none

chore: remove debug console.log statements from Azure Speech integration
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/hooks/useAzurePronunciation.ts
  frontend/src/pages/student/StudentActivityPageContent.tsx
  frontend/src/services/azureSpeechService.ts
Due: typescript
