Repository Youngger9765/duotopia: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, eslint, typescript, check-migration-format, prevent-hardcoded-urls

Path conditions:
  black: any of: ^backend/.*\.py$ and \.py$
  flake8: any of: ^backend/.*\.py$ and \.py$
  eslint: any of: frontend/src/.*\.(ts|tsx)$
  typescript: any of: frontend/src/.*\.(ts|tsx)$
  check-migration-format: any of: ^backend/alembic/versions/.*\.py$
  prevent-hardcoded-urls: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

fix: 修正公版課程中軟刪除單元重新出現的問題
  backend/routers/programs.py
Due: black, flake8

feat: 公版課程儲存內容後保持單元展開狀態
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修正多項課程管理功能問題
  backend/routers/programs.py
  backend/routers/teachers.py
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 實現管理員錄音測試面板與強制登入機制
  backend/main.py
  backend/routers/admin_monitoring.py
  frontend/frontend/src/utils/__tests__/retryHelper.test.ts
  frontend/frontend/src/utils/retryHelper.ts
  frontend/src/App.tsx
  frontend/src/components/ReadingAssessmentPanel.tsx
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/activities/ReadingAssessmentTemplate.tsx
  frontend/src/components/admin/TestRecordingPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/admin/AdminMonitoringPage.tsx
  frontend/src/pages/admin/__tests__/AdminMonitoringPage.test.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
  frontend/src/utils/__tests__/retryHelper.integration.test.ts
  frontend/src/utils/__tests__/retryHelper.test.ts
  frontend/src/utils/retryHelper.ts
  frontend/test_ai_analysis.html
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 暫時禁用 TestClient 相容性問題的測試以修復 CI/CD
  backend/requirements.txt
  backend/tests/e2e/test_core_api.py.disabled
  backend/tests/integration/test_all_api_endpoints.py.disabled
Due: none

fix: 修復 AdminMonitoringPage 測試檔案中的 ESLint 錯誤
  frontend/src/pages/admin/__tests__/AdminMonitoringPage.test.tsx
Due: eslint, typescript, prevent-hardcoded-urls

fix: 修復版本相容性問題以解決 CI/CD 管道失敗
  backend/requirements.txt
  backend/tests/e2e/test_core_api.py.disabled
  backend/tests/integration/test_all_api_endpoints.py.disabled
Due: none

fix: 修復 Black 格式化問題
  backend/routers/admin_monitoring.py
Due: black, flake8

fix: 修復學生端錄音重刷後播放無聲問題
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

refactor: 清理並統一音頻資料處理架構
  frontend/src/pages/student/StudentActivityPage.tsx
Due: eslint, typescript, prevent-hardcoded-urls

refactor: 後端移除舊的陣列式音頻處理邏輯
  backend/routers/students.py
Due: black, flake8

refactor: 移除 recordings 陣列，改用直接的 item.recording_url 存取
  CLAUDE.md
  backend/test_recording_direct_access.py
  backend/tests/integration/api/test_recording_playback.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復 UI 組件在明暗模式下的背景顏色問題
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
Due: eslint, typescript, prevent-hardcoded-urls

feat: 修復拖拽排序功能並添加完整 Unit Tests
  backend/tests/unit/test_content_order_update.py
  frontend/src/__tests__/dragSort.test.ts
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/teacher/ClassroomDetail.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

fix: 修復生產環境 bcrypt 密碼驗證問題
  backend/Dockerfile
  backend/requirements.txt
Due: none

fix: 修復 passlib 與 bcrypt 4.2.1 相容性問題
  backend/auth.py
Due: black, flake8

fix: 改用直接 bcrypt API 避免 passlib 相容性問題
  backend/auth.py
Due: black, flake8

fix: 更新前端使用新的 AIScoreDisplayWrapper 組件
  backend/routers/speech_assessment.py
  backend/test_azure_speech_api.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/components/shared/AIScoreDisplayEnhanced.tsx
  frontend/src/components/shared/AIScoreDisplayIndex.tsx
  frontend/src/pages/teacher/GradingPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

refactor: 合併 AIScoreDisplay 組件為單一檔案
  backend/routers/speech_assessment.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/components/shared/AIScoreDisplayEnhanced.tsx
  frontend/src/components/shared/AIScoreDisplayIndex.tsx
  frontend/src/pages/teacher/GradingPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls

feat: 增強 Azure Speech API 評估功能與測試架構更新
  backend/routers/speech_assessment.py
  backend/routers/students.py
  backend/tests/TEST_ANALYSIS.md
  backend/tests/factories.py
  backend/tests/integration/api/test_ai_assessment_enhanced.py
  backend/tests/integration/api/test_ai_feedback_simple.py
  backend/tests/integration/api/test_ai_score_array_fix_simple.py
  backend/tests/integration/api/test_assignment_flow_v2.py
  backend/tests/integration/api/test_content_item_only.py
  backend/tests/integration/api/test_create_assignment_content_progress.py
  backend/tests/integration/api/test_end_to_end_assignment_flow.py
  backend/tests/integration/api/test_patch_assignment_content_progress.py
  backend/tests/integration/auth/test_auth_comprehensive.py
  backend/tests/integration/auth/test_auth_missing_coverage.py
  frontend/src/components/activities/GroupedQuestionsTemplate.tsx
  frontend/src/components/shared/AIScoreDisplay.tsx
  frontend/src/pages/student/StudentActivityPage.tsx
Due: black, flake8, eslint, typescript, prevent-hardcoded-urls
